<template>
  <div class="privilege-page container">
    <!-- <headerTabBack :path="'privilege'"></headerTabBack> -->
    <div v-if="privilegeDetail">
      <div class="row d-flex justify-content-center ">
        <div class="col-12 mt-4">
          <banner :banner-list="privilege_image" class="main-image"></banner>
          <!--        <img src="../../assets/image-main/content2.png" class="main-image" alt="">-->
        </div>
      </div>
      <!-- <div class="row" v-if="getRequiredPoint > 0">
        <div class="col-12 mt-1 d-flex justify-content-end">
          //คะแนนยังไม่ถึง
          <span class="point-want">ขาดอีก {{ getRequiredPoint }} คะแนนถึงจะแลกได้</span>
        </div>
      </div> -->
      <div class="privilege-page-box mt-3 px-3">
        <div class="row ">
          <div class="col-12 pr-0">
            <span class="title-main" style="word-break: break-all;">{{
              privilegeDetail.privilege_name
            }}</span>
          </div>
          <!-- <div class="col-4 d-flex justify-content-end"> -->
          <!-- <img :src="favoriteIcon" alt="" @click.prevent="toggleFavorite()"
               class="style-icon mr-2"> -->
          <!-- </div> -->
        </div>
        <div class="row">
          <div class="col-12">
            <span class="title-date">หมดอายุ:</span>
            <span class="title-date-detail"
              >{{ privilegeDetail.start_date }} -
              {{ privilegeDetail.end_date }}</span
            >
          </div>
        </div>
        <div class="row">
          <div class="w-100">
            <hr class="hr-style" />
          </div>
        </div>

        <div class="content">
          <!-- <div v-html="privilegeDetail.privilege_detail"></div> -->
          <div>
            <div>
              - ลูกค้าสามารถใช้คูปองได้ที่ร้านสตาร์บัคส์ทุกสาขาใน
              ประเทศไทยเท่านั้น
            </div>
            <div>
              - ลูกค้าสามารถเลือกรับ e-Coupon ได้เพียงรายการ เดียวเท่านั้น
            </div>
            <div>
              - ระยะเวลาการใช้ e-Coupon (วันหมดอายุ) เป็นไปตาม ที่ระบบใน SMS
              ที่ลูกค้าได้รับ
            </div>
            <div>
              - กรุณาแสดงสิทธิ์ก่อนใช้บริการโดยกดรับสิทธิ์ที่
              ร้านค้าต่อหน้าพนักงานเท่านั้น e-Coupon จะมีอายุ 15 นาที
              หลังจากกดรับสิทธิ์
            </div>
            <div>
              - บริษัทจะไม่รับผิดชอบและไม่สามารถคืนมูลค่า e- Coupon ได้
              ในกรณีที่ไม่ได้ใช้ e-Coupon ในระยะเวลา 15 นาทีตาม ที่กำหนด
            </div>
            <div>
              - บริษัทฯ ขอสงวนสิทธิ์ในการยกเลิก แก้ไข หรือ
              เปลี่ยนแปลงเงื่อนไขโดยไม่ต้องแจ้งให้ทราบล่วงหน้า
            </div>
          </div>
        </div>

        <!-- <div class="row mt-4 mb-2">
          <div class="col-12 d-flex justify-content-center">
            <span @click="showMoreDetail" class="text-detail" v-if="more_detail"
              >ดูเพิ่มเติม</span
            >
            <span
              @click="hideMoreDetail"
              class="text-detail"
              v-if="!more_detail"
              >ปิด</span
            >
          </div>
        </div> -->
      </div>
      <div class="row  box-btn mt-4">
        <div class="col-12 mt-4 mb-4">
          <button
            type="button"
            class="btn btn-danger w-100 button-style"
            @click.prevent="openModalAlert"
            :disabled="getRequiredPointDisable"
          >
            แลกของรางวัล
          </button>
        </div>
      </div>
    </div>

    <dialog-popup
      v-if="isShowDialogPopup"
      :title="popupTitle"
      :content="popupContent"
      :type="popupType"
      v-on:ok="okPopup"
      v-on:close="closePopup"
    ></dialog-popup>
    <dialog-popup
      v-if="is_show_alert_message"
      :title="alert_title"
      :content="alert_content"
      :type="alert_type"
      v-on:ok="submitAlert"
      v-on:close="closeAlert"
    ></dialog-popup>
    <modal-code
      v-if="openCode"
      :privilegeDetail="privilegeDetail"
      :privilegeRedeem="privilegeRedeem"
      v-on:close="closeCode"
    ></modal-code>
  </div>
</template>
<script>
const moment = require("moment");
import Loading from "../../components/Loading";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import banner from "../../components/banner";
import headerTabBack from "../../components/headerTabBack";
import dialogPopup from "../../components/popup";
import ModalCode from "../../components/ModalCode";
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      userProfile: (state) => state.user.userProfile,
    }),
    getRequiredPoint() {
      let userPoint = this.userProfile ? this.userProfile.point : 0;
      if (userPoint - this.privilegeDetail.require_point >= 0) {
        return this.privilegeDetail.require_point - userPoint;
      } else if (userPoint - this.privilegeDetail.require_point <= 0) {
        return this.privilegeDetail.require_point - userPoint;
      }
      return null;
    },

    getRequiredPointDisable() {
      if (
        parseInt(this.userProfile.point) - this.privilegeDetail.require_point >=
        0
      ) {
        return false;
      } else {
        return true;
      }
    },

    favoriteIcon() {
      if (this.privilegeFavorite) {
        return require("../../assets/image-main/Icon_Favorite_Active.png");
      }
      return require("../../assets/image-privilege/icon-star.png");
    },
  },
  components: {
    "vue-perfect-scroll-bar": VuePerfectScrollbar,
    Loading,
    banner,
    headerTabBack,
    dialogPopup,
    ModalCode,
  },
  data() {
    return {
      isShowDialogPopup: false,
      popupTitle: "",
      popupContent: "",
      popupType: "",
      openCode: false,
      privilege_id: 0,
      privilegeDetail: null,
      privilege_image: [],
      privilegeRedeem: null,
      is_show_alert_message: false,
      alert_title: "",
      alert_content: "",
      alert_type: "",
      categoryCheck: 0,
      privilegeFavorite: false,
      more_detail: true,
    };
  },
  methods: {
    hideMoreDetail() {
      this.more_detail = true;
      $("dl").slideUp();
    },
    showMoreDetail() {
      this.more_detail = false;
      $("dl").slideDown();
      // $('.modal-body').scrollTop($('.modal-body').innerHeight() + 1000)
    },
    openAlert(
      title = "ยืนยันการรับสิทธิ์",
      content = "แลกรับกระดาษถ่ายเอกสาร A4 80 แกรม แพ็ค5รีม Double A",
      type = "dialog"
    ) {
      this.alert_title = title;
      this.alert_content = content;
      this.alert_type = type;
      this.is_show_alert_message = true;
      document.body.style.overflow = "hidden";
    },
    submitAlert() {
      this.alert_title = "";
      this.alert_content = "";
      this.alert_type = "";
      this.is_show_alert_message = false;
      document.body.style.overflow = "auto";
    },
    closeAlert() {
      this.alert_title = "";
      this.alert_content = "";
      this.alert_type = "";
      this.is_show_alert_message = false;
      document.body.style.overflow = "auto";
    },
    toggleFavorite() {
      // Call Service Add Favorite
      this.$store
        .dispatch("privilege/addFavorite", this.privilege_id)
        .then((data) => {
          return (this.privilegeFavorite = data.data.is_favorite);
        })
        .catch((error) => {
          this.handleCatch(error);
        });
    },

    setPrivilegeImage() {
      this.privilege_image = _.map(
        this.privilegeDetail.privilege_image,
        (image) => {
          return image.url;
        }
      );
    },

    loadPrivilegeDetail() {
      this.$store
        .dispatch("privilege/getPrivilegeDetail", this.privilege_id)
        .then((data) => {
          this.privilegeDetail = data.Privilege;
          this.privilegeFavorite = data.is_favorite;
          this.setPrivilegeImage();
        })
        .catch((error) => {
          this.privilegeDetail = null;
          this.handleCatch(error);
        });
      // getPrivilegeDetail
    },

    closeCode() {
      this.openCode = false;
      this.$router.replace("/privilege");
    },

    openModalAlert() {
      this.openPopup();
    },

    openPopup(
      title = "ยืนยันการรับสิทธิ์",
      content = this.privilegeDetail.privilege_detail_short,
      type = "dialog"
    ) {
      this.popupTitle = title;
      this.popupContent = content;
      this.popupType = type;
      this.isShowDialogPopup = true;
      document.body.style.overflow = "hidden";
    },

    okPopup() {
      this.popupTitle = "";
      this.popupContent = "";
      this.popupType = "";
      this.isShowDialogPopup = false;
      document.body.style.overflow = "auto";

      if (this.privilegeDetail.privilege_category_id === 1) {
        localStorage.setItem("office", this.privilegeDetail.privilege_id);
        localStorage.setItem(
          "privilege_detail_short",
          this.privilegeDetail.privilege_detail_short
        );
        localStorage.setItem(
          "privilege_code",
          this.privilegeDetail.privilege_code
        );
        this.$router.replace("/address");
      } else {
        this.$store
          .dispatch(
            "privilege/getPrivilegeRedeem",
            this.privilegeDetail.privilege_code
          )
          .then((data) => {
            if (data.result === 1) {
              this.$store.dispatch("user/getProfile");
              this.privilegeRedeem = data;
              this.openCode = true;
            } else {
              this.openAlert("แจ้งเตือน", data.reply_message, "alert");
            }
          })
          .catch((error) => {
            this.handleCatch(error);
          });
      }
    },

    closePopup() {
      this.popupTitle = "";
      this.popupContent = "";
      this.popupType = "";
      this.categoryCheck = 0;
      this.isShowDialogPopup = false;
      document.body.style.overflow = "auto";
    },
  },

  mounted() {
    this.privilege_id = this.$route.params.id;
    this.loadPrivilegeDetail();
  },

  beforeMount() {
    $("dt").hide();
  },
};
</script>
<style lang="scss" scoped>
.privilege-page {
  background: #e5e5e5;
  .text-detail {
    color: blue;
    font-size: 16px;
    font-family: THFont;
  }

  .content {
    overflow: hidden;
    /*font-size: 18px;*/
    /*font-family: THFont;*/
    &.short-detail {
      max-height: 130px;
    }
  }

  .point-want {
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 73, 73, 1);
  }

  .button-style {
    background-color: #ff0000;
    height: 55px;
  }

  .hr-style {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .style-margin-35 {
    background-color: cyan;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
  }

  .style-icon {
    width: 22px;
    height: 22px;
  }

  .detail-content {
    font-size: 16px;
    font-weight: 300;
  }

  .title-content {
    font-size: 19px;
    font-weight: 500;
  }

  .title-main {
    font-size: 14px;
    font-weight: 500;
  }

  .title-date {
    font-size: 12px;
    font-weight: 200;
    color: rgba(133, 133, 133, 1);
  }

  .title-date-detail {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 73, 73, 1);
  }

  .main-image {
    width: 100%;
    border-radius: 10px;
    min-height: 150px;
    /*height: 216px;*/
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
  }
  .privilege-page-box {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
  }
  .box-btn {
    background-color: #ffffff;
  }
}
</style>
