<template>
  <div class="home-page container">
    <headerTab></headerTab>
    <div class="row d-flex home-page-banner justify-content-center">
      <div v-if="check" class="home-page-box w-100">
        <div class="home-page-box-txt mr-2">
          ลงทะเบียนเพื่อรับสิทธิ์สมาชิก CIMB THAI Bank
        </div>
        <img src="~/assets/icon/Arrow-Down.png"/>
      </div>
      <div class="col-12 my-3 ">
        <!--        <banner :banner-list="bannerList"></banner>-->
        <bannerFunction :banner-list="bannerList"></bannerFunction>
      </div>
    </div>

    <!-- <div class="row mt-3">
      <div class="col-12">
        <span class="main-title">แลกของรางวัล</span>
      </div>
    </div> -->
    <div class="row">
      <div class="col-4 nav-style" v-for="category in privilegeCategories">
        <span
          class="main-button-nav  w-100"
          :class="{ active: pages === category.category_id }"
          @click="currentPage(category.category_id)"
          >{{ category.category_name }}</span
        >
      </div>
    </div>

    <div class="style-margin">
      <!-- <div
        class="skeleton-privilege mt-3"
        v-for="i in [0, 1, 2]"
        v-if="privilege.loading && PrivilegeListItem.length === 0"
      >
        <div class="skeleton-loading image"></div>
        <div class="box-group">
          <div class="box-2">
            <div class="skeleton-loading content"></div>
          </div>
          <div class="box-2">
            <div class="skeleton-loading content"></div>
          </div>
        </div>
        <div class="box-group">
          <div class="box-2">
            <div class="skeleton-loading content"></div>
          </div>
          <div class="box-2">
            <div class="skeleton-loading content"></div>
          </div>
        </div>
        <div class="skeleton-loading content"></div>
      </div> -->

      <div
        class="mt-3"
        v-for="privilege in PrivilegeListItem"
        v-if="!privilege.loading && PrivilegeListItem.length !== 0"
      >
        <privilege-item
          v-on:viewDetail="viewDetail"
          :privilege="privilege"
        ></privilege-item>
      </div>

      <div class="load-more mt-3" v-if="privilege.privilegeLoadMore">
        <div id="fountainTextG">
          <div id="fountainTextG_1" class="fountainTextG">L</div>
          <div id="fountainTextG_2" class="fountainTextG">o</div>
          <div id="fountainTextG_3" class="fountainTextG">a</div>
          <div id="fountainTextG_4" class="fountainTextG">d</div>
          <div id="fountainTextG_5" class="fountainTextG">i</div>
          <div id="fountainTextG_6" class="fountainTextG">n</div>
          <div id="fountainTextG_7" class="fountainTextG">g</div>
        </div>
      </div>
    </div>
    <footer-tab></footer-tab>
  </div>
</template>
<script>
const moment = require("moment");
import { mapState } from "vuex";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import banner from "../../components/banner";
import bannerFunction from "../../components/bannerFunction";
import headerTab from "../../components/headerTab";
import footerTab from "../../components/footerTab";
import PrivilegeItem from "../../components/PrivilegeItem";

export default {
  computed: {
    ...mapState({
      privilege: (state) => state.privilege,
      // privilegeList: state => state.privilege.privilegeList
      banner: (state) => state.banner,
      privilegeCategories: (state) => state.privilege.categories,
    }),
    PrivilegeListItem() {
      let category = _.find(this.privilegeCategories, (category) => {
        return category.category_id === this.pages;
      });

      try {
        return category.privilegeList;
      } catch {
        return [];
      }
    },
    PrivilegePage() {
      let category = _.find(this.privilegeCategories, (category) => {
        return category.category_id === this.pages;
      });

      try {
        return category.page;
      } catch {
        return null;
      }
    },
  },
  components: {
    "vue-perfect-scroll-bar": VuePerfectScrollbar,
    banner,
    bannerFunction,
    headerTab,
    footerTab,
    PrivilegeItem,
  },
  data() {
    return {
      check: false,
      token: "",
      bannerList: [],
      // categories: [],
      pages: 0,
      current_page: 1,
    };
  },
  watch: {
    pages() {
      this.loadPrivilege();
    },
  },
  methods: {
    viewDetail(id) {
      this.$router.push("/privilege/" + id);
    },
    currentPage(data) {
      this.pages = data;
    },
    onWindowScroll(e) {
      if (
        window.innerHeight + window.scrollY + 20 >=
        document.body.scrollHeight
      ) {
        this.loadPrivilegeMore();
      }
    },
    loadPrivilege() {
      this.current_page = 1;
      this.$store
        .dispatch("privilege/getPrivilege", {
          category_id: this.pages,
          current_page: this.current_page,
        })
        .then((data) => {})
        .catch((error) => {
          this.handleCatch(error);
        });
    },
    loadPrivilegeMore() {
      let current_page = this.PrivilegePage
        ? this.PrivilegePage.current_page
        : 1;
      let next_page = current_page + 1;
      let total_page = this.PrivilegePage ? this.PrivilegePage.total_page : 1;
      let loadMore = next_page <= total_page;

      if (!this.privilege.loading && loadMore) {
        this.$store
          .dispatch("privilege/getPrivilegeMore", {
            category_id: this.pages,
            current_page: next_page,
          })
          .then((data) => {})
          .catch((error) => {
            this.handleCatch(error);
          });
      }
    },
    loadCategories() {
      this.$store
        .dispatch("privilege/getCategories")
        .then((data) => {
          if (data.PrivilegeCategory.length >= 2) {
            this.pages = data.PrivilegeCategory[0].category_id;
          } else {
            this.pages = _.first(data.PrivilegeCategory).category_id;
          }

          this.loadPrivilege();
        })
        .catch((error) => {
          this.handleCatch(error);
        });
    },
    loadBanner() {
      this.$store
        .dispatch("banner/getBanner", {})
        .then((data) => {
          this.bannerList = _.each(data, (item) => {
            if (item.is_active === 1) {
              return item;
            }
          });
        })
        .catch((error) => {
          this.handleCatch(error);
        });
    },
  },
  mounted() {
    window.addEventListener("scroll", this.onWindowScroll);
    this.loadBanner();
    this.loadCategories();
  },
  destroyed() {
    window.removeEventListener("scroll", this.onWindowScroll);
  },
};
</script>
<style lang="scss" scoped>
.home-page {
  /*.box-icon-gift-text-light{*/
  /*  margin-top: 2px;*/
  /*  font-size: 14px;*/
  /*  color: #858585;*/
  /*  font-weight: 400;*/
  /*  position: relative;*/
  /*  top: 2px;*/
  /*}*/

  .home-page-banner {
    border-bottom: 5px solid #f1f1f1;
    .home-page-box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 42px;
      left: 0px;
      z-index: 1;
      background: #780000;
      .home-page-box-txt {
        font-family: "DB Heavent";
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 22px;
        /* identical to box height */
        color: #ffffff;
      }
    }
  }
  .style-margin {
    margin-bottom: 100px;
  }

  .nav-style {
    // padding: 3px;
    // padding-left: 7px;
    // padding-right: 7px;
    text-align: center;
    padding-top: 5px;
  }

  .main-title {
    font-size: 16px;
    font-weight: 600;
  }

  .main-button-nav {
    font-family: "DB Heavent";
    white-space: nowrap;
    font-size: 14px;
    color: #9d9d9d;
    height: 41px;
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 7px;

    &.active {
      color: rgb(0, 0, 0);
      // background-color: #0051fe;
      border-bottom: 2px solid #000000;
    }
  }

  .box-container-content {
    position: relative;
    top: -197px;
  }

  .box-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .box-2 {
      flex: 1 0 48%;
      max-width: 48%;
    }
  }

  .skeleton-privilege {
    border: 1px solid #efefef;
    padding: 1rem;
    .skeleton-loading {
      background-image: linear-gradient(
        90deg,
        #ddd 0px,
        #e8e8e8 40px,
        #ddd 80px
      );
      background-size: 600px;
      animation: shine-lines 1.6s infinite linear;
      border-radius: 4px;
      &.image {
        height: 100px;
      }
      &.content {
        margin-top: 0.5rem;
        height: 20px;
      }
    }
  }

  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }
    40%,
    100% {
      background-position: 400px;
    }
  }

  @keyframes loading {
    0% {
      background-position: -100% 0;
    }

    100% {
      background-position: 100% 0;
    }
  }

  .load-more {
    #fountainTextG {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .fountainTextG {
      color: rgb(0, 0, 0);
      font-family: Arial;
      font-size: 20px;
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
      float: left;
      animation-name: bounce_fountainTextG;
      -o-animation-name: bounce_fountainTextG;
      -ms-animation-name: bounce_fountainTextG;
      -webkit-animation-name: bounce_fountainTextG;
      -moz-animation-name: bounce_fountainTextG;
      animation-duration: 2.09s;
      -o-animation-duration: 2.09s;
      -ms-animation-duration: 2.09s;
      -webkit-animation-duration: 2.09s;
      -moz-animation-duration: 2.09s;
      animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-direction: normal;
      -o-animation-direction: normal;
      -ms-animation-direction: normal;
      -webkit-animation-direction: normal;
      -moz-animation-direction: normal;
      transform: scale(0.5);
      -o-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
    }
    #fountainTextG_1 {
      animation-delay: 0.75s;
      -o-animation-delay: 0.75s;
      -ms-animation-delay: 0.75s;
      -webkit-animation-delay: 0.75s;
      -moz-animation-delay: 0.75s;
    }
    #fountainTextG_2 {
      animation-delay: 0.9s;
      -o-animation-delay: 0.9s;
      -ms-animation-delay: 0.9s;
      -webkit-animation-delay: 0.9s;
      -moz-animation-delay: 0.9s;
    }
    #fountainTextG_3 {
      animation-delay: 1.05s;
      -o-animation-delay: 1.05s;
      -ms-animation-delay: 1.05s;
      -webkit-animation-delay: 1.05s;
      -moz-animation-delay: 1.05s;
    }
    #fountainTextG_4 {
      animation-delay: 1.2s;
      -o-animation-delay: 1.2s;
      -ms-animation-delay: 1.2s;
      -webkit-animation-delay: 1.2s;
      -moz-animation-delay: 1.2s;
    }
    #fountainTextG_5 {
      animation-delay: 1.35s;
      -o-animation-delay: 1.35s;
      -ms-animation-delay: 1.35s;
      -webkit-animation-delay: 1.35s;
      -moz-animation-delay: 1.35s;
    }
    #fountainTextG_6 {
      animation-delay: 1.5s;
      -o-animation-delay: 1.5s;
      -ms-animation-delay: 1.5s;
      -webkit-animation-delay: 1.5s;
      -moz-animation-delay: 1.5s;
    }
    #fountainTextG_7 {
      animation-delay: 1.64s;
      -o-animation-delay: 1.64s;
      -ms-animation-delay: 1.64s;
      -webkit-animation-delay: 1.64s;
      -moz-animation-delay: 1.64s;
    }

    @keyframes bounce_fountainTextG {
      0% {
        transform: scale(1);
        color: rgb(0, 0, 0);
      }

      100% {
        transform: scale(0.5);
        color: rgb(255, 255, 255);
      }
    }

    @-o-keyframes bounce_fountainTextG {
      0% {
        -o-transform: scale(1);
        color: rgb(0, 0, 0);
      }

      100% {
        -o-transform: scale(0.5);
        color: rgb(255, 255, 255);
      }
    }

    @-ms-keyframes bounce_fountainTextG {
      0% {
        -ms-transform: scale(1);
        color: rgb(0, 0, 0);
      }

      100% {
        -ms-transform: scale(0.5);
        color: rgb(255, 255, 255);
      }
    }

    @-webkit-keyframes bounce_fountainTextG {
      0% {
        -webkit-transform: scale(1);
        color: rgb(0, 0, 0);
      }

      100% {
        -webkit-transform: scale(0.5);
        color: rgb(255, 255, 255);
      }
    }

    @-moz-keyframes bounce_fountainTextG {
      0% {
        -moz-transform: scale(1);
        color: rgb(0, 0, 0);
      }

      100% {
        -moz-transform: scale(0.5);
        color: rgb(255, 255, 255);
      }
    }
  }
}
</style>
