<template>
  <div class="banner" @click.prevent="eventClick">
    <no-ssr>
      <carousel
        :per-page="perPage"
        :autoplay="autoPlay"
        :autoplay-timeout="autoPlayTimeout"
        :loop="playLoop"
        :controls="true"
        :indicators="false"
        :touchDrag="true"
        :mouseDrag="true"
      >
        <!-- <slide class="slide" v-for="(banner, index) in bannerList" :key="index"> -->
        <slide
          class="slide"
          v-for="(slide, i) in slides"
          :key="i"
          :image="slide.image"
        >
          <img
            src="../assets/image-cimb/Screen_Shot_1.png"
            class="banner-img"
          />

          <!-- <img :src="banner.media.urls" alt="" class="banner-img" @click="changePage(banner)"> -->
        </slide>
      </carousel>
    </no-ssr>
  </div>
</template>

<script>
export default {
  data() {
    return {
      autoPlay: true,
      autoPlayTimeout: 4000,
      playLoop: true,
      perPage: 1,
      slides: [
        { image: require("../assets/image-cimb/Screen_Shot_1.png") },
        { image: require("../assets/image-cimb/Screen_Shot_1.png") },
        { image: require("../assets/image-cimb/Screen_Shot_1.png") },
        { image: require("../assets/image-cimb/Screen_Shot_1.png") },
        { image: require("../assets/image-cimb/Screen_Shot_1.png") },
      ],
    };
  },
  props: {
    bannerList: {
      required: true,
      default: [],
    },
  },
  methods: {
    eventClick() {
      this.$emit("eventClick");
    },
    changePage(banner) {
      if (banner.url === null) {
        return "";
      }
      if (banner.url === undefined) {
        return "";
      }
      if (banner.url === "") {
        return "";
      }
      if (banner.url !== "") {
        localStorage.setItem("redirect", "redirect");
        return window.location.replace(banner.url);
      }
    },
  },
};
</script>

<style lang="scss">
.banner {
  margin: auto;
  /*img{*/
  /*  border-radius: 10px;*/
  /*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*}*/
  .VueCarousel-pagination[data-v-438fd353] {
    width: 100%;
    text-align: center;
    margin-top: -60px;
    z-index: 1;
  }
  .VueCarousel-dot {
    width: 8px !important;
    height: 8px !important;
    padding: 3px !important;
  }
  .VueCarousel-dot--active {
    width: 8px !important;
    height: 8px !important;
    padding: 3px !important;
  }

  .slide {
    max-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner-img {
      width: 100%;
      border-radius: 5px;
      /*height: 100%;*/
      /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }
  }
  .banner-img {
    width: 100%;
    border-radius: 5px;
  }
}

/*.VueCarousel-pagination {*/
/*  position: absolute;*/
/*  bottom: 1rem;*/
/*}*/
</style>
