<template>
  <div class="dialog-verify-mobile">
    <div class="dialog-verify-mobile-box">
      <div class="title">ยืนยันตัวตนของคุณ</div>
      <div class="body">
        <div class="content">รหัสยืนยันถูกส่งไปยัง {{ mobile | formatMobileCode}}</div>
        <div class="sub-content mt-3">
          <input type="text" class="form-control form-double-a" maxlength="6" v-model="otp" placeholder="รหัส OTP">
          <button class="btn btn-outline-dark btn-dialog-double-a" @click.prevent="reSend" :disabled="countTime > 0">{{ countDownTime }}</button>
        </div>
        <div class="ref-content" v-if="reference">Ref: {{ reference }}</div>
      </div>
      <hr class="m-0">
      <div class="footer">
        <div class="action" @click.prevent="close">
          <div class="text" style="font-weight: 400;color: rgba(110, 110, 110, 1);">ยกเลิก</div>
        </div>
        <div class="action" @click.prevent="ok">
          <div class="text">ตกลง</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    const moment = require('moment')
    export default {
        computed:{
            countDownTime(){
                if(this.countTime > 0){
                    return this.countTime.seconds() + ((this.countTime.minutes()) * 60)
                }
                return 'ส่งรหัส OTP'
            }
        },
        props: {
            mobile: {
                default: ''
            },
            reference: {
                default: ''
            }
        },
        data(){
            return{
                otp: '',
                countTime: moment.duration(2 * 60 * 1000, 'milliseconds')
            }
        },
        methods: {
            setCountdownTimer() {
                let intervalTimer = 1000
                let interval = setInterval(() => {
                    this.countTime = moment.duration(this.countTime - intervalTimer, 'milliseconds');
                    if (this.countTime <= 0) {
                        window.clearInterval(interval)
                    }
                }, intervalTimer)
            },
            close() {
                this.$emit('close')
            },
            ok() {
                this.$emit('submit', {
                    code: this.otp,
                    reference: this.reference
                })
            },
            reSend(){
                this.$store.dispatch('user/setOtp', this.mobile)
                    .then((data) => {
                        this.countTime = moment.duration(2 * 60 * 1000, 'milliseconds')
                        this.setCountdownTimer()
                        this.reference = data.data.reference
                    })
                    .catch((error) => {
                        this.handleCatch(error)
                    })
            }
        },
        mounted() {
            this.setCountdownTimer()
        }
    }
</script>

<style lang="scss" scoped>
  .dialog-verify-mobile {

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10006 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .dialog-verify-mobile-box {
      background-color: white;
      width: 350px;
      max-height: 700px;
      min-height: 100px;
      border-radius: 5px;

      .title {
        text-align: center;
        margin: 2rem 1rem 0.5rem 1rem;
        font-weight: 600;
        font-size: 18px;
      }

      .body {
        text-align: center;
        margin: 0 1rem 1rem 1rem;
        min-height: 70px;
        font-size: 18px;
        font-weight: 300;
        color: rgba(110, 110, 110, 1);

        .ref-content{
          margin-left: 0.75rem;
          text-align: left;
          font-size: 14px;
        }

        .sub-content{
          display: flex;
          input{
            flex: 2 1;
            margin-right: 0.5rem;
          }
          button{
            flex: 1 1;
          }
        }
      }

      .footer {
        display: flex;

        .action {
          flex: 1 1;
          text-align: center;
          font-weight: 600;
          cursor: pointer;

          .text {
            margin: 1rem 0.5rem;
            font-size: 18px;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }

          &:active {
            background-color: rgba(0, 0, 0, 0.2);
          }

          &:nth-last-child(1) {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }


      .container-top {
        padding: 20px;

        .font-title {
          font-size: 20px;
          font-weight: bold;
        }

        .font-detail {
          font-size: 16px;
          color: #4f5157;
        }
      }

      .container-button {
        /*height: 50px;*/
        .button-style {
          padding: 0;
          height: 50px;
          align-items: center;
        }

        .button-style2 {
          height: 50px;
          padding: 0;
          align-items: center;
        }
      }

    }

  }
</style>
