<template>
  <div class="footer-page container">
    <div class="row d-flex justify-content-between mt-2 box-footer">
      <div class="col-12 p-0">
        <hr style="margin-bottom: 12px;margin-top: 0">
      </div>

      <div class="col-2 d-flex justify-content-center p-0">
        <div class="row">
          <div class="col-12 d-flex justify-content-center p-0" @click="getPoint">
            <img src="../assets/image-main/Icon_Tabbar_Home-3x.png" alt="" class="menu-botton-image"
                 v-if="$route.path !== '/get-point'">
            <img src="../assets/image-main/Icon_Tabbar_Home_Active-3x.png" alt="" class="menu-botton-image"
                 v-if="$route.path === '/get-point'">
          </div>
          <div class="col-12 d-flex justify-content-center p-0 mt-2">
            <span class="menu-botton" v-if="$route.path !== '/get-point'">สะสมแต้ม</span>
            <span class="menu-botton" style="color: rgba(32, 65, 155, 1);"
                  v-if="$route.path === '/get-point'">สะสมแต้ม</span>
          </div>
        </div>
      </div>
<!--      -->
      <div class="col-2 d-flex justify-content-center p-0">
        <div class="row">
          <div class="col-12 d-flex justify-content-center p-0" @click="privilege">
            <img src="../assets/image-main/Icon_Tabbar_Privilege.png" alt="" class="menu-botton-image"
                 v-if="$route.path !== '/privilege'">
            <img src="../assets/image-main/Icon_Tabbar_Privilege_Active.png" alt="" class="menu-botton-image"
                 v-if="$route.path === '/privilege'">
          </div>
          <div class="col-12 d-flex justify-content-center p-0 mt-2">
            <span class="menu-botton" v-if="$route.path !== '/privilege'">ของรางวัล</span>
            <span class="menu-botton" style="color: rgba(32, 65, 155, 1);"
                  v-if="$route.path === '/privilege'">ของรางวัล</span>
          </div>
        </div>
      </div>
<!--      -->
      <div class="col-2 d-flex justify-content-center p-0" @click="history">
        <div class="row" style="margin-left: -5px;">
          <div class="col-12 d-flex justify-content-center p-0">
            <img src="../assets/image-main/Icon_Tabbar_History.png" v-if="$route.path !== '/history'" alt=""
                 class="menu-botton-image">
            <img src="../assets/image-main/Icon_Tabbar_History_Active.png" v-if="$route.path === '/history'" alt=""
                 class="menu-botton-image">
          </div>
          <div class="col-12 d-flex justify-content-center p-0 mt-2">
            <span class="menu-botton" v-if="$route.path !== '/history'">ประวัติคะแนน</span>
            <span class="menu-botton" style="color: rgba(32, 65, 155, 1);" v-if="$route.path === '/history'">ประวัติคะแนน</span>
          </div>
        </div>
      </div>
<!--      -->
      <div class="col-2 d-flex justify-content-center p-0">
        <div class="row" style="margin-left: 0;">
          <div class="col-12 d-flex justify-content-center p-0" @click="condition">
            <img src="../assets/image-main/Icon_Tabbar_Lucky.png" alt="" class="menu-botton-image"
                 v-if="$route.path !== '/condition'">
            <img src="../assets/image-main/Icon_Tabbar_Lucky_Active.png" alt="" class="menu-botton-image"
                 v-if="$route.path === '/condition'">
          </div>
          <div class="col-12 d-flex justify-content-center p-0 mt-2">
            <span class="menu-botton" v-if="$route.path !== '/condition'">ลุ้นโชคทอง</span>
            <span class="menu-botton" style="color: rgba(32, 65, 155, 1);" v-if="$route.path === '/condition'">ลุ้นโชคทอง</span>
          </div>
        </div>
      </div>
<!--     -->
      <div class="col-2 d-flex justify-content-center p-0" @click="me">
        <div class="row" style="margin-left: -16px;">
          <div class="col-12 d-flex justify-content-center p-0">
            <img src="../assets/image-main/Icon_me.png" alt="" class="menu-botton-image" v-if="$route.path !== '/me'">
            <img src="../assets/image-main/Icon_me_active.png" alt="" class="menu-botton-image"
                 v-if="$route.path === '/me'">
          </div>
          <div class="col-12 d-flex justify-content-center p-0 mt-2">
            <span class="menu-botton" v-if="$route.path !== '/me'">ฉัน</span>
            <span class="menu-botton" style="color: rgba(32, 65, 155, 1);" v-if="$route.path === '/me'">ฉัน</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    const moment = require('moment')
    import Loading from '../components/Loading'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'

    export default {
        data() {
            return {}
        },
        mounted() {

        },
        computed: {},
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
            Loading,
        },
        methods: {
            getPoint() {
                this.$router.push('/get-point')
            },
            privilege() {
                this.$router.push('/privilege')
            },
            condition() {
                this.$router.push('/condition')
            },
            history() {
                this.$router.push('/history')
            },
            me() {
                this.$router.push('/me')
            },
        },
    }
</script>

<style lang="scss" scoped>
  .footer-page {
    .box-footer {
      position: fixed;
      bottom: 0;
      left: 15px;
      right: 15px;
      background-color: white;
      padding-bottom: 15px;
      /*padding-bottom: env(safe-area-inset-bottom) !important;*/
      /*padding-left: env(safe-area-inset-left) !important;*/
      /*padding-right: env(safe-area-inset-right) !important;*/

      .main-box {
        padding: 0 17px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        padding-bottom: 5px;
      }

      .menu-botton {
        color: rgba(206, 206, 206, 1);
        font-size: 12px;
        font-weight: 300;
      }

      .menu-botton-image {
        height: 22px;
        width: 22px;
      }
    }
  }
</style>
