<template>
  <div class="get-point-result container">
    <div class="header">
      <div class="row">
        <div class="col-12 pt-3" @click.prevent="close">
          <img src="../assets/image-profile/Icon_X.png" class="image-x">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <span class="title-header-point">คุณได้รับ {{ response.total_point }} คะแนน</span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 d-flex justify-content-center align-items-center">
        <span class="title-header-point-detail">คะแนนสะสมของคุณ <span
          class="title-header-point-bold">{{ response.user_point | formatPrice }}</span> คะแนน</span>
        </div>
      </div>
    </div>


    <vue-perfect-scroll-bar class="box-result">

      <div class="mt-3" v-for="data in response.data">
        <div class="row box-container mt-3">
          <div class="col-2 d-flex justify-content-center pl-4">
            <div class="box-image">
              <img src="../assets/image-history/item-1.PNG" alt="" class="icon-item">
            </div>
          </div>
          <div class="col-5 d-flex justify-content-start align-items-center pr-0">
            <div class="row">
              <div class="col-12">
                <span class="content-title">{{ data.code }}</span>
              </div>
            </div>
          </div>
          <div class="col-5 d-flex justify-content-end align-items-center">
            <div v-if="data.point !== null && data.point !== true">
              <span class="content-sub-detail">+{{ data.point | formatPrice }}</span>
              <span class="content-sub-detail-text"> คะแนน</span>
            </div>
            <div v-else>
              <span class="content-sub-detail-text-error" v-if="data.point === null">รหัสไม่ถูกต้อง</span>
              <span class="content-sub-detail-text-error" v-if="data.point === true">รหัสถูกใช้ไปแล้ว</span>
            </div>

          </div>
        </div>
      </div>
    </vue-perfect-scroll-bar>


    <div class="col-12 d-flex justify-content-center box-button">
      <button class="btn btn-light button-style" type="button" @click.prevent="close">
        <img src="../assets/image-get-point-detail/Icon_Address.png" alt="" class="icon-address">
        <span class="button-text">กลับสู่หน้าหลัก</span>
      </button>
    </div>
  </div>


</template>
<script>
    const moment = require('moment')
    import Loading from './Loading'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'

    export default {
        props:{
            response: {
                required: true,
                default: {
                    total_point: 0,
                    user_point: 0,
                    data: []
                }
            }
        },
        data() {
            return {

            }
        },
        mounted() {

        },
        computed: {},
        components: {
            'vue-perfect-scroll-bar': VuePerfectScrollbar,
            Loading,

        },
        methods: {
            close() {
                this.$emit('close')
            }
        },
    }
</script>
<style lang="scss" scoped>
  .get-point-result {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999 !important;
    background-image: -webkit-linear-gradient(-207deg, rgba(32, 94, 224, 1) 0%, rgba(61, 151, 224, 1) 100%);
    background-image: -moz-linear-gradient(-207deg, rgba(32, 94, 224, 1) 0%, rgba(61, 151, 224, 1) 100%);
    background-image: -o-linear-gradient(-207deg, rgba(32, 94, 224, 1) 0%, rgba(61, 151, 224, 1) 100%);
    background-image: linear-gradient(-207deg, rgba(32, 94, 224, 1) 0%, rgba(61, 151, 224, 1) 100%);

    .header{
      .image-x {
        height: 24px;
        cursor: pointer;
      }

      .title-header-point {
        font-size: 20px;
        font-weight: 600;
        color: rgb(251, 250, 255);
      }

      .title-header-point-bold {
        font-size: 18px;
        font-weight: 600;
        color: rgb(251, 250, 255);
      }

      .title-header-point-detail {
        font-size: 16px;
        font-weight: 300;
        color: rgb(251, 250, 255);
      }
    }

    .box-result {
      margin-top: 40px;
      height: calc(100vh - 41px - 30px - 2rem - 27px - 1rem - 40px - 68px - 40px - 20px);

      .box-container {
        /*height: 68px;*/
        padding: 14px 0;
        border-radius: 5px;
        background-color: white;
        border: 1px solid #e8e8e8;
        margin: 0 2px;

        .box-image {
          border: 1px solid #e8e8e8;
          border-radius: 5px;
          padding: 1.5px;
          height: 42px;

          .icon-item {
            width: 35px;
            height: 35px;
          }
        }

        .content-title {
          font-size: 15px;
          font-weight: 500;
          color: #141414;
        }

        .content-sub-detail {
          font-size: 17px;
          font-weight: 600;
          color: rgba(0, 81, 255, 1);
        }

        .content-sub-detail-text {
          margin-left: 5px;
          margin-top: 7px;
          font-size: 10px;
          font-weight: 300;
          color: rgb(174, 174, 179);
        }

        .content-sub-detail-text-error {
          margin-left: 5px;
          margin-top: 7px;
          font-size: 14px;
          font-weight: 600;
          color: rgba(255, 39, 39, 1);
        }
      }
    }

    .box-button {
      margin-top: 10px;
      padding-bottom: 40px;

      .button-style {
        background-color: #f7f8f9;
        height: 48px;
        width: 184px;

        .button-text {
          color: #0051ff;
          font-weight: 500;
          font-size: 15px;
        }

        .icon-address {
          height: 13px;
          width: 13px;
        }
      }
    }
  }
</style>
