<template>
    <div class="header-page">
      <div class="row d-flex justify-content-center" style="background-color: #223f9a;height: 65px;">
        <div class="col-2 d-flex justify-content-center align-items-center" @click="goBack">
          <img src="../assets/Icon_back.png" alt="" style="height: 22px;">
        </div>
        <div class="col-8 pl-0 d-flex align-items-center" style="">
          <span class="text-size">{{name}}</span>
        </div>
        <div class="col-2"></div>
      </div>

    </div>
</template>

<script>
  const moment = require('moment')
  import Loading from '../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    props: {
      path: {
        required: '',
        default: '',
      },
      pathId: {
        required: '',
        default: 0,
      },
      name: {
        required: '',
        default: '',
      }
    },
    data() {
      return {

      }
    },
    mounted() {

    },
    computed: {},
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,
    },
    methods: {
      goBack(){
        if(this.pathId !== 0){
          this.$router.push('/'+this.path+'/'+this.pathId)
        }else{
          this.$router.push('/'+this.path)
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .header-page{
    .text-size{
      font-weight: 400;
      font-size: 17px;
      color: white;
    }
  }
</style>
