<template>
  <div class="header-page">
    <div
      class="row d-flex justify-content-center header-page-row"
      style="background-color: red;height: 60px;"
    >
      <div class="col-5 header-page-logo">
        <img src="../assets/image-cimb/Logo.png" alt="" class="style-image" />
      </div>
      <div class="col-7 justify-content-end header-page-txt pl-0">
        <div>รัฐศักดิ์ พิศุทธางกูร</div>
        <!-- <img :src="userImage" alt="" class="style-image-profile"> -->
        <img
          src="../assets/image-cimb/Ellipse.png"
          alt=""
          class="style-image-profile"
        />
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12 d-flex justify-content-center" style="height: 42px;">
        <div class="row style-row-bar">
          <div class="col-2 d-flex justify-content-center p-0" style="align-items: center;height: 72px;">
            <img src="../assets/image-main/Icon_Point.png" alt="" class="style-icon-header"
                 style="height: 38px;width: 37px;">
          </div>
          <div class="col-4 p-0" style="height: 72px;border-right: 1px solid #cfcfcf">
            <p class="m-0 style-type-big" style="padding-top: 14px;">คะแนนของคุณ</p>
            <span class="style-color">{{ userPoint }}<span class="style-type-small"> คะแนน</span></span>
          </div>
          <div class="col-2 d-flex justify-content-center p-0" style="align-items: center;height: 72px;">
            <img src="../assets/image-main/Icon_Gold.png" alt="" class="style-icon-header" style="height: 34px;width: 45px;margin-left: 12px">
          </div>
          <div class="col-4 p-0" style="height: 72px;">
            <p class="m-0 style-type-big" style="padding-top: 14px;padding-left: 10px;">สิทธิ์ในการลุ้นทอง</p>
            <span class="style-color" style="padding-left: 10px;">{{ userQuota }} <span class="style-type-small"> สิทธิ์</span></span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
const moment = require("moment");
import Loading from "../components/Loading";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      userProfile: (state) => state.user.userProfile,
    }),
    userImage() {
      if (this.userProfile) {
        if (this.userProfile.line_picture) {
          return this.userProfile.line_picture;
        }
        return require("../assets/image-register/icon-image.png");
      }
      return require("../assets/image-register/icon-image.png");
    },
    userPoint() {
      if (this.userProfile) {
        if (this.userProfile.point) {
          return this.formatPrice(this.userProfile.point);
        }
        return 0;
      }
      return 0;
    },
    userQuota() {
      if (this.userProfile) {
        if (this.userProfile.lucky_draw) {
          return this.formatPrice(this.userProfile.lucky_draw.lucky_draw);
        }
        return 0;
      }
      return 0;
    },
  },
  components: {
    "vue-perfect-scroll-bar": VuePerfectScrollbar,
    Loading,
  },
  data() {
    return {};
  },
  methods: {
    getProfile() {
      this.$store.dispatch("user/getProfileWithOutLoaded").catch((error) => {
        this.handleCatch(error);
      });
    },
  },
  mounted() {
    this.getProfile();
  },
};
</script>

<style lang="scss" scoped>
.header-page {
  .header-page-row {
    display: flex;
    align-items: center;
    .header-page-logo {
      .style-image {
        width: 100px;
        height: auto;
      }
    }
    .header-page-txt {
      display: flex;
      align-items: center;
      div {
        font-family: "DB Heavent";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #ffffff;
        margin-right: 10px;
      }
      .style-image-profile {
        border-radius: 25px;
        height: 40px;
        /*width: 40px;*/
      }
    }
  }

  .style-row-bar {
    margin-top: -36px;
    height: 72px;
    background-color: white;
    width: 98%;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
  }

  .style-type-big {
    color: rgba(138, 138, 142, 1);
    font-size: 12px;
  }

  .style-icon-header {
    height: 36px;
    width: 30px;
  }

  .style-color {
    font-size: 20px;
    color: rgba(255, 203, 0, 1);
    font-weight: 600;
  }

  .style-type-small {
    color: rgba(138, 138, 142, 1);
    font-weight: 300;
    font-size: 10px;
  }
}
</style>
