<template>
  <div class="modal-condition-page">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header d-flex justify-content-center">
            <span>คำถามที่พบบ่อย</span>
            <img src="../assets/close_black.png" alt="" class="icon" @click="close"
                 style="position: relative;left: 140px;top: -10px;">
          </div>
          <hr class="m-0">
          <vue-perfect-scroll-bar class="modal-body" ref="ps" v-on:ps-y-reach-end="scrollEnd">
            <div class="row">
              <!--              <div class="col-12 mt-2">-->
              <!--                <div class="d-flex align-items-center justify-content-center box-condition-title">-->
              <!--                  <span class="condition-title">กติกา</span>-->
              <!--                </div>-->
              <!--              </div>-->

              <!--              <div class="col-12 mt-1">-->
              <!--                <span class="condition-sub-title">เลขใบอนุญาตเลขที่ 16-21/2562 ออกให้ ณ อำเภอบางปะกง</span>-->
              <!--              </div>-->

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  1. สินค้ารายการไหน ที่เข้าร่วมกิจกรรมบ้าง ?
                </span>
              </div>

              <div class="col-12 d-flex justify-content-start">
                <span class="condition-detail">
                  <u>ตอบ</u> กระดาษ Double A 70 gsm, Double A 80 gsm, Double A 90 gsm, Double A Green เฉพาะเปลือกห่อ ที่มีภาพสื่อสารกิจกรรมนี้เท่านั้น
                </span>
              </div>

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  2. รอบการจับรางวัลทองคำมูลค่า 50 สตางค์ เป็นรอบการสะสมตั้งแต่วันที่เท่าไรและจับรางวัลวันไหน
                </span>
              </div>

              <div class="col-12 mt-2" style="text-align: center;">
                <table class="table">
                  <thead>
                  <tr>
                    <th class="text-center table-font-title">รอบการสแกน</th>
                    <th class="text-center table-font-title">วันที่จับรางวัล</th>
                    <th class="text-center table-font-title">จำนวนรางวัล</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="text-center table-font-sub-title">29 ก.ค. - 31 ส.ค. 63</td>
                    <td class="text-center table-font-sub-title">15 ก.ย. 63</td>
                    <td class="text-center table-font-sub-title">ทองคำ 12 รางวัล</td>
                  </tr>
                  <tr>
                    <td class="text-center table-font-sub-title">1 ก.ย. - 6 ต.ค. 63</td>
                    <td class="text-center table-font-sub-title">12 ต.ค. 63</td>
                    <td class="text-center table-font-sub-title">ทองคำ 12 รางวัล</td>
                  </tr>
                  <tr>
                    <td class="text-center table-font-sub-title">14 ต.ค. - 30 พ.ย. 63</td>
                    <td class="text-center table-font-sub-title">15 ธ.ค. 63</td>
                    <td class="text-center table-font-sub-title">ทองคำ 16 รางวัล</td>
                  </tr>
                  <tr>
                    <td class="text-center table-font-sub-title">1 - 31 ธ.ค. 63</td>
                    <td class="text-center table-font-sub-title">15 ม.ค. 64</td>
                    <td class="text-center table-font-sub-title">ทองคำ 12 รางวัล</td>
                  </tr>

                  </tbody>
                </table>
              </div>

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  3. คะแนนมีอายุสะสม เพื่อแลกของรางวัล ถึงวันที่เท่าไหร่
                </span>
              </div>

              <div class="col-12 d-flex justify-content-start">
                <span class="condition-detail">
                  <u>ตอบ</u> คะแนนมีอายุถึงวันที่ 31 ธันวาคม 2563 และสามารถแลกของรางวัลได้จนถึงวันที่ 10 มกราคม 2564
                </span>
              </div>

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  4. สิทธิ์ในการลุ้นทอง ต้องตัดแต้มที่สะสมออกไปหรือไม่
                </span>
              </div>

              <div class="col-12 d-flex justify-content-start">
                <span class="condition-detail">
                  <u>ตอบ</u> ไม่ตัด ระบบจะนับจากแต้มที่ลูกค้าสะสมในแต่ละเดือน โดยนับสิทธิ์ให้ในเดือนนั้น ๆ ทุกๆ 1 คะแนนสะสม คิดเป็น 1 สิทธิ์ลุ้นทอง ในแต่ละเดือน
                </span>
              </div>

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  5. ทำไมเริ่มเดือนใหม่ สิทธิ์ลุ้นทองจึงหายไป
                </span>
              </div>

              <div class="col-12 d-flex justify-content-start">
                <span class="condition-detail">
                  <u>ตอบ</u> สิทธิ์ลุ้นทอง จะถูกตัดตามรอบการจับรางวัล โดยไม่มีการสะสมสิทธิ์ ข้ามไปในรอบถัดไป แต่แต้มสำหรับแลกของรางวัลยังคงอยู่ เช่น สะสมแต้มเดือน มกราคม 2563 10 แต้ม จะได้รับทันที 10 สิทธิ์ลุ้นทอง และในเดือนกุมภาพันธ์ 2563 หากลูกค้ายังไม่ได้แลกแต้มไปเป็นของรางวัล จำนวนแต้มจะยังคงอยู่ที่ 10 แต้ม แต่จะมี 0 สิทธิ์ลุ้นทอง
                </span>
              </div>

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  6. กรณีแลกแต้มที่สะสมไปเป็นของรางวัลแล้ว จะยังมีสิทธิ์ลุ้นทองอยู่หรือไม่
                </span>
              </div>

              <div class="col-12 d-flex justify-content-start">
                <span class="condition-detail">
                  <u>ตอบ</u> มีสิทธิ์ ระบบจะนับสิทธิ์ลุ้นทองจากการสแกนสะสมแต้มเข้ามาในเดือนนั้น ๆ ไม่ว่าจะแลกหรือไม่แลกของรางวัลแล้วก็ตาม
                </span>
              </div>

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  7. ระยะเวลาการเข้าร่วมกิจกรรมสะสมคะแนนและการชิงโชคลุ้นรางวัลทองคำ
                </span>
              </div>

              <div class="col-12 d-flex justify-content-start">
                <span class="condition-detail">
                  <u>ตอบ</u> การชิงโชคลุ้นรางวัลทองคำ เริ่มตั้งแต่วันที่ 29 กรกฎาคม 2563 ถึง 31 ธันวาคม 2563 การสะสมคะแนน เริ่มตั้งแต่วันที่ 13 มีนาคม 2563 ถึงวันที่ 31 ธันวาคม 2563
                </span>
              </div>

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  8. เงื่อนไขการใช้รายการของรางวัล เป็นอย่างไรบ้าง
                </span>
              </div>

              <div class="col-12 d-flex justify-content-start">
                <span class="condition-detail">
                  <u>ตอบ</u> มีเงื่อนไขการใช้งานแตกต่างกัน โดยสามารถตรวจสอบรายละเอียดได้ในหน้า “ของรางวัล”
                </span>
              </div>

              <div class="col-12 mt-2 d-flex justify-content-start">
                <span class="condition-detail-title">
                  9. สิทธิ์ในการลุ้นทองกิจกรรมนี้จะรวมกับสิทธิ์ลุ้นทองในกิจกรรม Double A QR Lucky in Gold หรือไม่
                </span>
              </div>

              <div class="col-12 mb-2 d-flex justify-content-start">
                <span class="condition-detail">
                  <u>ตอบ</u> ไม่ เนื่องจากสิทธิ์ลุ้นทองนี้มาจากการร่วมสะสมแต้มที่เปลือกห่อ ซึ่งเป็นคนละกิจกรรมกับการลุ้นโชคทอง ที่สแกน QR Code ข้างกล่อง 
                </span>
              </div>

              <div class="col-12 mb-2 d-flex justify-content-start">
                <span class="condition-detail">
                  หากท่านมีข้อสงสัยเพิ่มเติม กรุณาติดต่อ Double A Call Center เบอร์ 1759 หรือ ส่งคำถามมาที่ inbox Facebook Fanpage Double A Club หรือ Line: @DoubleAThailand
                </span>
              </div>

            </div>
          </vue-perfect-scroll-bar>
          <hr class="m-0">
          <div class="modal-footer d-flex justify-content-center">
            <!--            <button class="btn btn-primary w-25" @click="save">ยอมรับ</button>-->
            <!--            <button class="btn btn-primary w-25" @click="save" :disabled="!scrollToEnd">ยอมรับ</button>-->
            <button class="btn btn-danger w-25" @click="close">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    data() {
      return {
        employee: '',
        member: '',
        date_from: moment().add(-1, 'month').format('YYYY-MM-DD'),
        date_to: moment().format('YYYY-MM-DD'),
        scrollToEnd: false,
        checkbox: false
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    mounted() {
      this.scrollToEnd = false
    },
    methods: {
      scrollEnd() {
        this.scrollToEnd = true
      },
      close() {
        this.$emit('close', false)
      },
      save() {
        this.$emit('save', true)
        // this.$emit('save', this.scrollToEnd)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-condition-page {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      table, th, td {
        border: 2px solid #d8b02e;
      }

      .table-font-title {
        font-size: 16px;
        color: #d8b02e;
        font-weight: 400;
      }

      .table-font-sub-title {
        padding: 0;
        font-size: 14px;
        color: #0036a6;
        font-weight: 400;
      }

      .box-condition-title {
        height: 30px;
        width: 70px;
        background-color: #eaeaea;
        border-radius: 15px;
      }

      .condition-title {
        font-size: 15px;
        color: #747474
      }

      .condition-sub-title {
        font-size: 14px;
        color: #a7a7a7;
        font-weight: 500;
        letter-spacing: 0
      }

      .condition-detail-title {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0
      }

      .condition-detail {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0
      }

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 90vw;
          max-width: 768px;
          height: 80vh;
          margin: 0 auto;
          padding: 0 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: calc(80vh - 56px - 2px - 70px);

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
