<template>
  <div class="modal-condition-page">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header d-flex justify-content-center">
            <span class="text-center">ข้อตกลงและเงื่อนไขของกิจกรรม<br>Double A Point Rewards</span>
            <img src="../assets/close_black.png" alt="" class="icon" @click="close"
                 style="position: relative;left: 140px;top: -10px;">
          </div>
          <hr class="m-0">
          <vue-perfect-scroll-bar class="modal-body" ref="ps" v-on:ps-y-reach-end="scrollEnd">
            <p>เงื่อนไขการให้บริการดังต่อไปนี้เป็นข้อตกลงระหว่าง บริษัท ดั๊บเบิ้ล เอ (1991) จํากัด (มหาชน) ซึ่งต่อไปนี้จะเรียกว่า &ldquo;บริษัทฯ&rdquo; ฝ่ายหนึ่ง กับ ผู้ใช้งานที่เข้าร่วมกิจกรรม Double A Point Rewards การสะสมคะแนนและชิงโชคทองผ่าน Line : @DoubleAThailand ซึ่งต่อไปนี้จะเรียกว่า &ldquo;สมาชิก&rdquo; อีกฝ่ายหนึ่ง เพื่อการลงทะเบียนสมัครสมาชิกกิจกรรม Double A Point Rewards ให้สมาชิกสามารถสะสมคะแนนผ่าน Line : @DoubleAThailand ซึ่งมีการเชื่อมต่อกับระบบฐานข้อมูลของบริษัทฯ เพื่อรับสิทธิประโยชน์ตามที่บริษัทฯกำหนด โดยเงื่อนไขการให้บริการของบริษัทฯ อาจมีลักษณะกระทบสิทธิของสมาชิก ซึ่งสมาชิกควรอ่านและทำความเข้าใจอย่างละเอียด หากมีข้อสงสัยเกี่ยวกับบริการของบริษัทฯ สมาชิกสามารถติดต่อสอบถามทางบริษัทฯ ได้ทันที โดยมีรายละเอียดข้อตกลงและเงื่อนไขการให้บริการดังต่อไปนี้</p>
            <p><strong>ข้อ 1 การยอมรับข้อตกลง</strong></p>
            <p style="padding-left: 30px;">1.1 การเข้าร่วมกิจกรรม Double A Point Rewards &ldquo;กิจกรรม&rdquo;นี้ใช้งานผ่านระบบแอพพลิเคชั่น LINE สมาชิกต้องยอมรับเงื่อนไขการใช้งานและบริการของแอพพลิเคชั่น LINE<br />1.2 ผู้ใช้งานต้องยอมรับข้อตกลงนี้และสมัครเข้าเป็นสมาชิกในกิจกรรม Double A Point Rewards และสมาชิกไม่สามารถยกเลิกการยอมรับดังกล่าวได้ <br />1.3 กรณีที่ผู้ใช้งานยังไม่บรรลุนิติภาวะ กรุณาขอรับความยินยอมจากผู้แทนโดยชอบธรรม (รวมถึงการยอมรับข้อตกลงนี้) ก่อนเข้าร่วมกิจกรรม<br />1.4 สำหรับสมาชิกที่ยังไม่บรรลุนิติภาวะในขณะที่ยอมรับข้อตกลงนี้และใช้งานกิจกรรมนี้หลังจากบรรลุนิติภาวะแล้วให้ถือว่าสมาชิกดังกล่าวยอมรับการกระทำทุกอย่างที่ผ่านมาเกี่ยวกับกิจกรรมนี้</p>
            <p><br /><strong>ข้อ 2 (การเปลี่ยนแปลงข้อตกลง)</strong></p>
            <p style="padding-left: 30px;">2.1 บริษัทฯ สงวนสิทธิ์ในการเพิ่มเติมเปลี่ยนแปลง แก้ไข หรือยกเลิกข้อตกลง และเงื่อนไขใด ๆ ทั้งหมดนี้ <br />2.2 หากบริษัทฯ มีการเปลี่ยนแปลงข้อตกลงนี้ จะแสดงข้อมูลที่เปลี่ยนแปลงบนหน้าเงื่อนไขและกติกาบน Line : @DoubleAThailand ของบริษัท และให้การเปลี่ยนแปลงข้อตกลงนี้มีผลบังคับใช้ทันทีที่ข้อมูลดังกล่าวได้ขึ้นแสดงบน Line : @DoubleAThailand<br />2.3 หากสมาชิกไม่ยอมรับการเปลี่ยนแปลงของข้อตกลงนี้ สามารถออกจากการเป็นสมาชิก และหยุดเข้าร่วมกิจกรรมนี้ได้ทันทีโดยการลบบัญชี Line: @DoubleAThailand ซึ่งกรณีดังกล่าวอาจทำให้คะแนนที่สะสมมาเป็นโมฆะ โดยบริษัทฯ ไม่ต้องรับผิดใด ๆ ต่อความเสียหายอันอาจเกิดต่อสมาชิก</p>
            <p><strong>ข้อ 3 (การสมัครสมาชิก)</strong></p>
            <p style="padding-left: 30px;">3.1 ผู้ใช้งานที่สามารถสมัครเป็นสมาชิกในกิจกรรมนี้ ต้องมีอายุตั้งแต่ 20 ปีบริบูรณ์ขึ้นไป ต้องเป็นผู้มีสัญชาติไทย และ/หรือ สัญชาติลาว และมีภูมิลำเนาในประเทศไทย และ/หรือ ประเทศสาธารณรัฐประชาธิปไตยประชาชนลาวเท่านั้น <br />3.2 ผู้ใช้งานที่มีความประสงค์จะสมัครเป็นสมาชิก ต้องลงทะเบียนข้อมูลสมาชิกตามที่บริษัทฯ กำหนด ในการร่วมกิจกรรมนี้<br />3.3 ผู้ใช้งานที่มีความประสงค์จะเป็นสมาชิก ต้องให้ข้อมูลสมาชิกที่ถูกต้องและเป็นความจริงแก่บริษัทฯ ในการสมัครสมาชิก หากสมาชิกพบว่าข้อมูลไม่ถูกต้องหรือมีการเปลี่ยนแปลงข้อมูลสมาชิก สมาชิกจะต้องแก้ไขหรือเปลี่ยนแปลงข้อมูลสมาชิกโดยเร็ว<br />3.4 สมาชิกระบุข้อมูล ชื่อ-นามสกุล, หมายเลขโทรศัพท์ที่ใช้งานปัจจุบัน, วันเดือนปีเกิด, อีเมล, จังหวัดที่อยู่ปัจจุบัน และ/หรือข้อมูลอื่น ๆ ตามที่กำหนด เพื่อใช้สำหรับการดำเนินกิจกรรม &ldquo;Double A Point Rewards&rdquo; และ/หรือ Double A QR Lucky in Gold เพื่อการนำเสนอกิจกรรมรายการส่งเสริมการขายหรือประชาสัมพันธ์สินค้ากระดาษที่ร่วมรายการของ บริษัท ดั๊บเบิ้ล เอ (1991) จำกัด (มหาชน) จนครบถ้วน<br />3.5 ผู้ใช้งานสามารถสร้างบัญชีได้ 1 บัญชีเท่านั้น ผู้ใช้งานที่เป็นสมาชิกอยู่แล้วไม่สามารถสมัครสมาชิกเพิ่มได้ กรณีที่สมาชิกเป็นบุคคลเดียวกันแต่มีการสมัครมากกว่า 1 บัญชี จะไม่สามารถโอนคะแนนรวมกันได้ และไม่สามารถโอนคะแนนให้กับบุคคลอื่นได้ไม่ว่ากรณีใดทั้งสิ้น และขอสงวนสิทธิ์ในการตัดสิทธิบุคคลดังกล่าวออกจากการจับรางวัล โดยไม่ต้องแจ้งให้ทราบล่วงหน้า <br />3.6 บริษัทฯ จะให้บริการเกี่ยวกับกิจกรรมนี้ตามข้อมูลที่สมาชิกได้ให้ไว้ หากเกิดความเสียหาย เช่น ของรางวัลส่งไปไม่ถึงสมาชิก ฯลฯ เนื่องจากการปลอมแปลงข้อมูลสมาชิก การกรอกข้อมูลผิดหรือกรอกข้อมูลไม่ครบถ้วน บริษัทฯ ไม่ต้องรับผิดต่อความเสียหายดังกล่าว</p>
            <p><br /><strong>ข้อ 4 (กติการร่วมกิจกรรม)</strong></p>
            <p style="padding-left: 30px;">4.1ระยะเวลาการเข้าร่วมกิจกรรมสะสมคะแนนและการชิงโชคลุ้นรางวัลทองคำ เริ่มตั้งแต่วันที่ 10 มกราคม 2563 ถึง 30 มิถุนายน 2563<br />4.2 ผู้มีสิทธิ์เข้าร่วมกิจกรรม &ldquo;Double A Point Rewards&rdquo; ได้แก่ผู้ที่สมัครสมาชิกผ่านบัญชีโปรแกรม Line : @DoubleAThailand และซื้อสินค้าที่เข้าร่วมรายการ เพื่อที่จะมีสิทธิ์รับคะแนนและแลกรับของรางวัลหรือรับสิทธิ์ลุ้นรางวัลทองคำในแต่ละรอบ โดยการระบุข้อมูลการสมัครสมาชิกตามที่กำหนด เพื่อใช้สำหรับการดำเนินกิจกรรม และ/หรือเพื่อการนำเสนอกิจกรรมรายการส่งเสริมการขายหรือประชาสัมพันธ์สินค้าของ บริษัท ดั๊บเบิ้ล เอ (1991) จำกัด (มหาชน) จนครบถ้วน<br />4.3สมาชิกสามารถสะสมคะแนนและรับสิทธิ์ลุ้นรางวัลทองคำ (Lucky Draw) ผ่านทางบัญชีโปรแกรม Line : @DoubleAThailand ได้ตั้งแต่วันที่ 10 มกราคม 2563 ถึง 30 มิถุนายน 2563 (คะแนนที่ใช้แลกแล้ว จะไม่สามารถนำกลับมาใช้แลกของรางวัลได้อีก และไม่สามารถขอคืนได้ไม่ว่ากรณีใด ๆ ทั้งสิ้น)<br />4.4 สมาชิกจะได้รับคะแนนจากการซื้อสินค้าที่เข้าร่วมกิจกรรม (เฉพาะบรรจุภัณฑ์ที่ระบุชื่อแคมเปญ &ldquo;โชค 3 ชั้น&rdquo; เท่านั้น) แล้วพิมพ์รหัส 8 หลักซึ่งปรากฏในห่อสินค้าผ่าน Line : @DoubleAThailand (แต่ละชิ้นส่วนผลิตภัณฑ์จะมีรหัส 8 หลัก จำนวน เพียง 1 รหัส สามารถใช้กรอกเพื่อสะสมคะแนนได้เพียง 1 ครั้ง<br />4.5 การได้รับสิทธิ์ลุ้นทอง จะได้รับเมื่อสมาชิกสะสมคะแนนครบทุก 5 คะแนน สมาชิกผู้เข้าร่วมกิจกรรมจะได้รับ 1 สิทธิ์เพื่อลุ้นรับรางวัล ทองคำมูลค่า 50 สตางค์ รวมจำนวน 10 รางวัลต่อเดือน มูลค่าไม่เกิน 12,000 บาท ต่อรางวัล โดยทางระบบของบริษัทฯจะคำนวณจำนวนสิทธิ์จากคะแนนสะสมอยู่ในทุกวันที่จัดกิจกรรมเป็นรอบ ๆ ทั้งนี้จะไม่มีการตัดคะแนนจากที่ได้นำมาคำนวณสิทธิ์ลุ้นทองดังกล่าวออกไป และเศษคะแนนในแต่ละรอบจะไม่นำมารวมกับคะแนนรอบถัดไป <br />4.6 ผู้เข้าร่วมกิจกรรมมีโอกาสได้ลุ้นรับรางวัลทองคำ ได้ไม่จำกัดจำนวนครั้งตลอดระยะเวลากิจกรรม <br />4.7 ผู้โชคดีที่จะได้รับรางวัลต้องมารับรางวัลด้วยตนเองที่ บริษัท ดั๊บเบิ้ล เอ ( 1991 ) จำกัด (มหาชน) พร้อมนำสำเนาบัตรประชาชน และแสดงหน้าข้อมูลส่วนตัวของบัญชี Line : @DoubleAThailand ใช้สมัครสมาชิกและเบอร์โทรศัพท์ที่ใช้ในการลงทะเบียนในตอนที่มารับรางวัลโดยต้องมาขอรับรางวัลด้วยตนเอง ตามสถานที่และวัน เวลา ที่บริษัทฯ กำหนด หากไม่สามารถมารับด้วยตนเองต้องมีเอกสารมอบอำนาจเพื่อการรับรางวัลให้ครบถ้วน ภายในระยะเวลา 30 วัน นับแต่ประกาศรายชื่อผู้โชคดี หากเลยกำหนดถือว่าสละสิทธิ์ และบริษัทจะมอบของรางวัลให้กับรายชื่อสำรองลำดับถัดไป ถ้ารายชื่อสำรองไม่มารับรางวัลตามระยะเวลาที่กำหนด ทางบริษัทฯจะมอบรางวัลดังกล่าวให้แก่สภากาชาดไทยหรือองค์กรสาธารณะกุศลอื่นต่อไป <br />4.8 ผู้โชคดีที่ได้รับรางวัลจากการลุ้นชิงโชค มูลค่า 1,000 บาทขึ้นไป จะต้องชำระภาษี ณ ที่จ่าย 5% (ร้อยละห้า) ของมูลค่ารางวัลที่ได้รับ ตามคำสั่งกรมสรรพากรที่ ทป.101/2544 <br />4.9 กติการการตัดสินทางบริษัทฯจะนำรหัสยืนยันตัวตนของสมาชิกที่ร่วมกิจกรรมทั้งหมด (ระบบจะสร้างรหัสยืนยันตัวตนของสมาชิกผู้เข้าร่วมกิจกรรมเมื่อผู้เข้าร่วมกิจกรรมได้ลงทะเบียนถูกต้องครบถ้วน) นำมาพิมพ์ลงบนกระดาษและนำมากองรวมกัน แล้วใช้วิธีคลุกเคล้าชิ้นส่วนทั้งหมดให้ทั่วกัน แล้วโยนขึ้นบนอากาศ เชิญแขกผู้มีเกียรติ ผู้ทรงคุณวุฒิที่น่าเชื่อถือ จับชิ้นส่วนต่อหน้าคณะกรรมการและสักขีพยาน เพื่อให้ได้รับรางวัลตามที่กำหนดไว้</p>
            <p><strong>ข้อ 5 (สินค้าที่เข้าร่วมรายการและคะแนนที่ได้รับ)</strong></p>
            <p style="padding-left: 30px;">5.1 สินค้าที่เข้าร่วมกิจกรรม เฉพาะบรรจุภัณฑ์ที่ระบุชื่อแคมเปญ &ldquo;โชค 3 ชั้น&rdquo; ซึ่งกระดาษ Double A ที่ร่วมรายการ มีทั้งหมด 4 ชนิด ได้แก่ <br />1) Double A 70 gsm ขนาด A4 จำนวน 500 แผ่น<br />2) Double A 80 gsm ขนาด A4 จำนวน 500 แผ่น<br />3) Double A 90 gsm ขนาด A4 จำนวน 500 แผ่น<br />4) Double A Green 80 gsm ขนาด A4 จำนวน 500 แผ่น<br />แต่ละชนิดมีค่า 1 รีม = 1 คะแนน<br />5.2 บริษัทฯ สงวนสิทธิในการเปลี่ยนแปลงสินค้าที่ร่วมรายการหรือคะแนนของสินค้าแต่ละรายการ<br />5.3 คะแนนมีอายุถึงวันที่ 30 มิถุนายน 2563</p>
            <p><strong>ข้อ 6 (รายละเอียดการจับรางวัล (Lucky Draw)</strong></p>
            <p style="padding-left: 30px;">ตลอดระยะเวลากิจกรรม วันที่ 10 มกราคม 2563 ถึงวันที่ 30 มิถุนายน 2563 กำหนดการจับรางวัลมีจำนวนทั้งสิ้น 6 รอบ ดังนี้ <br />รอบที่ 1<br />สำหรับผู้เข้าร่วมกิจกรรมที่ได้รับสิทธิ์ลุ้นรับทองระหว่างวันที่ 10 มกราคม 2563 เวลา 00.01 น. ถึงวันที่ 31 มกราคม 2563 เวลา 24.00 น. โดยมีกำหนดจับรางวัลในวันที่ 12 กุมภาพันธ์ 2563 ระหว่าง 10.00 &ndash; 12.00 น. และประกาศรายชื่อผู้ได้รับรางวัลจากการจับรางวัลภายในวันที่ 27 กุมภาพันธ์ 2563 ผ่านทาง www.facebook.com/DoubleAPaper และ Line : @DoubleAThailand<br />รอบที่ 2<br />สำหรับผู้เข้าร่วมกิจกรรมที่ได้รับสิทธิ์ลุ้นรับทองระหว่างวันที่ 1 กุมภาพันธ์ 2563 00.01 น. ถึงวันที่ 29 กุมภาพันธ์ 2563 เวลา 24.00 น. โดยมีกำหนดจับรางวัลในวันที่ 12 มีนาคม 2563 ระหว่าง 10.00 &ndash; 12.00 น. และประกาศรายชื่อผู้ได้รับรางวัลจากการจับรางวัลภายในวันที่ 27 มีนาคม 2563 ผ่านทาง www.facebook.com/DoubleAPaper และ Line : @DoubleAThailand <br />รอบที่ 3<br />สำหรับผู้เข้าร่วมกิจกรรมที่ได้รับสิทธิ์ลุ้นรับทองระหว่างวันที่ 1 มีนาคม 2563 เวลา 00.01 น. ถึงวันที่ 31 มีนาคม 2563 เวลา 24.00 น. โดยมีกำหนดจับรางวัลในวันที่ 8 เมษายน 2563 ระหว่าง 10.00 &ndash; 12.00 น. และประกาศรายชื่อผู้ได้รับรางวัลจากการจับรางวัลภายในวันที่ 30 เมษายน 2563 ผ่านทาง www.facebook.com/DoubleAPaper และ Line : @DoubleAThailand <br />รอบที่ 4<br />สำหรับผู้เข้าร่วมกิจกรรมที่ได้รับสิทธิ์ลุ้นรับทองระหว่างวันที่ 1 เมษายน 2563 เวลา 00.01 น. ถึงวันที่ 24 เมษายน 2563 เวลา 24.00 น. โดยมีกำหนดจับรางวัลในวันที่ 30 เมษายน 2563 ระหว่าง 10.00 &ndash; 12.00 น. และประกาศรายชื่อผู้ได้รับรางวัลจากการจับรางวัลภายในวันที่ 15 พฤษภาคม 2563 ผ่านทาง www.facebook.com/DoubleAPaper และ Line : @DoubleAThailand<br />รอบที่ 5<br />สำหรับผู้เข้าร่วมกิจกรรมที่ได้รับสิทธิ์ลุ้นรับทองระหว่างวันที่ 8 พฤษภาคม 2563 เวลา00.01 น. ถึงวันที่ 31 พฤษภาคม 2563 เวลา 24.00 น. โดยมีกำหนดจับรางวัลในวันที่ 15 มิถุนายน 2563 ระหว่าง 10.00 &ndash; 12.00 น. และประกาศรายชื่อผู้ได้รับรางวัลจากการจับรางวัลภายในวันที่ 30 มิถุนายน 2563 ผ่านทาง www.facebook.com/DoubleAPaper และ Line : @DoubleAThailand <br />รอบที่ 6<br />สำหรับผู้เข้าร่วมกิจกรรมที่ได้รับสิทธิ์ลุ้นรับทองระหว่างวันที่ 1 มิถุนายน 2563 เวลา 00.01 น. ถึงวันที่ 30 มิถุนายน2563 เวลา 24.00 น. โดยมีกำหนดจับรางวัลในวันที่ 9 กรกฎาคม 2563 ระหว่าง 10.00 &ndash; 12.00 น. และประกาศรายชื่อผู้ได้รับรางวัลจากการจับรางวัลภายในวันที่ 24 กรกฎาคม 2563 ผ่านทาง www.facebook.com/DoubleAPaper และ Line : @DoubleAThailand <br />หมายเหตุ <br />- ชิ้นส่วนที่เหลือจากการจับรางวัลในแต่ละครั้งจะไม่สะสมนำไปจับรางวัลในครั้งต่อไป<br />- จับรางวัลฉลากชิ้นส่วน ณ อาคาร ดั๊บเบิ้ล เอ บิสสิเนส พาร์ค เลขที่ 187/3 หมู่ 1 ตำบลบางวัว <br />อำเภอ บางปะกง จังหวัดฉะเชิงเทรา <br />- หลังการประกาศรายชื่อผู้ได้รับรางวัลจากการจับรางวัลในแต่ละครั้ง ทางบริษัทฯจะนำรายชื่อประกาศผ่านทาง www.facebook.com/DoubleAPaper และ Line : @DoubleAThailand <br />- ทีมงานจะติดต่อผู้ได้รับรางวัลผ่านทางโทรศัพท์ตามหมายเลขที่ระบุไว้ตอนร่วมกิจกรรม ทั้งนี้ผู้ได้รับรางวัลและได้รับการติดต่อจากบริษัทฯ แล้ว จะต้องมาแสดงตัวเพื่อรับสิทธิ์พร้อมแสดงหลักฐานตามที่บริษัทฯ กำหนด (ดูรายละเอียดเพิ่มเติมในหัวข้อ กติกาและเงื่อนไขการเข้าร่วมกิจกรรมและการรับรางวัล) เพื่อรับรางวัลตามวัน เวลา และสถานที่ที่กำหนด</p>
            <p><strong>ข้อ 7 (รายละเอียดของรางวัล (Lucky Draw) </strong></p>
            <p style="padding-left: 30px;">รางวัลทั้งหมดในกิจกรรมประกอบด้วยของรางวัล จำนวน 60 รางวัล แบ่งเป็น<br />รอบที่ 1 รางวัลทองคำหนัก 50 สตางค์ จำนวน 10 รางวัล มีมูลค่ารางวัลละไม่เกิน 120,000 บาท<br />ครั้งที่ 2 รางวัลทองคำหนัก 50 สตางค์ จำนวน 10 รางวัล มีมูลค่ารางวัลละไม่เกิน 120,000 บาท<br />ครั้งที่ 3 รางวัลทองคำหนัก 50 สตางค์ จำนวน 10 รางวัล มีมูลค่ารางวัลละไม่เกิน 120,000 บาท<br />ครั้งที่ 4 รางวัลทองคำหนัก 50 สตางค์ จำนวน 10 รางวัล มีมูลค่ารางวัลละไม่เกิน 120,000 บาท<br />ครั้งที่ 5 รางวัลทองคำหนัก 50 สตางค์ จำนวน 10 รางวัล มีมูลค่ารางวัลละไม่เกิน 120,000 บาท<br />ครั้งที่ 6 รางวัลทองคำหนัก 50 สตางค์ จำนวน 10 รางวัล มีมูลค่ารางวัลละไม่เกิน 120,000 บาท<br />รวมมูลค่าของรางวัลทั้งสิ้นไม่เกิน 720,000 บาท (เจ็ดแสนสองหมื่นบาทถ้วน)</p>
            <p><strong>ข้อ 8 (การแลกของรางวัล)</strong></p>
            <p style="padding-left: 30px;">8.1 สมาชิกสามารถขอแลกคะแนนที่สะสมไว้เป็นของรางวัลได้ตามวิธีที่บริษัทฯ กำหนด โดยสมาชิกไม่สามารถยกเลิกการขอแลกของรางวัลได้ไม่ว่าด้วยเหตุผลใดก็ตาม สามารถดูรายละเอียดสินค้าที่ร่วมรายการและคะแนนของแต่ละสินค้าได้จาก Line: @DoubleAThailand และบริษัทฯ สงวนสิทธิในการเปลี่ยนแปลงสินค้าที่ร่วมรายการหรือคะแนนของสินค้าแต่ละรายการ<br />8.2 เมื่อได้รับการขอแลกของรางวัลที่เป็นสินค้าเครื่องเขียน บริษัทฯ จะจัดส่งของรางวัลทางไปรษณีย์ไปยังที่อยู่ที่ใช้สมัครสมาชิก ซึ่งปกติแล้วของรางวัลจะไปถึงในประมาณ 3 สัปดาห์ <br />8.3 เมื่อได้รับการขอแลกของรางวัลที่เป็นสินค้าหมวดไลฟ์สไตล์, ช้อปปิ้ง, อาหารและเครื่องดื่ม ให้สมาชิกแสดงสิทธิ์ก่อนใช้บริการ โดยแลกคะแนนรับสิทธิ์ผ่าน Line : @DoubleAThailand ต่อหน้าพนักงานร้านค้าที่ร่วมรายการ และแสดงรหัสบนหน้าจอมือถือกับพนักงาน <br />8.4 จำนวนของรางวัลมีจำนวนจำกัดในแต่ละรอบ สามารถตรวจสอบจำนวนของรางวัลคงเหลือได้จากหน้าการแลกของรางวัล <br />8.5 งดรับสิทธิ์จากการถ่ายรูปหน้าจอ หรือการทุจริตใด ๆ<br />8.6 สงวนสิทธิ์ในการงดรับรหัสที่ไม่ถูกต้อง หรือหมดอายุ หรือถูกใช้รับสิทธิ์แล้ว ทุกกรณี<br />8.7 สามารถใช้สำหรับรับสิทธิ์ตามที่ระบุไว้เท่านั้น สิทธิพิเศษนี้ไม่สามารถแลก หรือเปลี่ยนเป็นเงินสด และไม่สามารถใช้ร่วมกับส่วนลด หรือโปรโมชั่นอื่นได้ และต้องใช้หมดมูลค่าภายในครั้งเดียว<br />8.8 รหัสที่หมดอายุ และไม่ได้นำมาใช้สิทธิ์ถือว่าสละสิทธิ์ และไม่สามารถขอคืนคะแนนได้<br />8.9 สิทธิ์หรือสินค้าที่ได้รับตามกิจกรรมนี้ห้ามจำหน่าย หรือใช้ในการพาณิชย์อย่างอื่น กิจกรรมนี้สำหรับผู้ที่มีสิทธิ์ตามเงื่อนไขที่บริษัทกำหนดเท่านั้น<br />8.10 ให้บริษัทฯ อาจส่งของรางวัลอื่นที่มีมูลค่าเท่าเทียมกับของรางวัลที่ขอแลกได้ หากของรางวัลดังกล่าวเลิกผลิตแล้ว หรือบริษัทขอสงวนสิทธิ์ในการคืนคะแนนสะสม ในกรณีที่ไม่สามารถหาของรางวัลที่มีมูลค่าเทียบเท่าได้ ฯลฯ<br />8.11 บริษัทฯ จะไม่ชดเชย คืนคะแนน ฯลฯ ไม่ว่าด้วยเหตุผลใดก็ตาม ยกเว้นการในกรณีที่ไม่สามารถจัดหาของรางวัลได้ตามที่กำหนดในข้อ 2 และ 3 ก่อนหน้านี้</p>
            <p><strong>ข้อ 9 (การยกเลิกการเป็นสมาชิก)</strong></p>
            <p style="padding-left: 30px;">9.1 สมาชิกสามารถยกเลิกการเป็นสมาชิกเมื่อใดก็ได้ โดยการลบบัญชี Line : @DoubleAThailand<br />9.2 หากสมาชิกยกเลิกการเป็นสมาชิกแล้ว อาจทำให้คะแนนที่สะสมมาเป็นโมฆะ และ บริษัทฯ ไม่ต้องรับผิดต่อความเสียหายในกรณีดังกล่าว</p>
            <p><strong>ข้อ 10 (การใช้งานโปรแกรม)</strong></p>
            <p style="padding-left: 30px;">10.1. สมาชิกสามารถใช้โปรแกรมนี้เพื่อวัตถุประสงค์ในการใช้งานส่วนบุคคลเท่านั้น<br />10.2 ในการใช้งานโปรแกรมนี้ สมาชิกต้องจัดเตรียมอุปกรณ์เทคโนโลยีสารสนเทศ ซอฟต์แวร์ เครือข่ายอินเทอร์เน็ต และสภาพแวดล้อมการใช้งานอินเทอร์เน็ตอื่นที่จำเป็นด้วยความรับผิดชอบของตนเองและด้วยค่าใช้จ่ายด้วยตนเอง</p>
            <p><strong>ข้อ 11 (การส่งโฆษณา)</strong></p>
            <p style="padding-left: 30px;">บริษัทฯ อาจส่งโฆษณาให้สมาชิก ทางอีเมล ข้อความ (SMS) ฯลฯ หากสมาชิกไม่ประสงค์จะรับโฆษณาของบริษัทฯ สมาชิกสามารถแจ้งยกเลิกการรับโฆษณาตามวิธีการที่บริษัทฯ กำหนด</p>
            <p><strong>ข้อ 12 (การเปลี่ยนแปลงโปรแกรม)</strong></p>
            <p style="padding-left: 30px;">บริษัทฯ สามารถเปลี่ยนแปลง เพิ่มเติม หรือลบ เนื้อหาของโปรแกรมนี้ทั้งหมดหรือบางส่วนได้ โดยไม่ต้องแจ้งให้สมาชิกทราบล่วงหน้า และบริษัทฯ ไม่ต้องรับผิดต่อความเสียหายที่อาจเกิดต่อสมาชิกจากการกระทำดังกล่าว</p>
            <p><strong>ข้อ 13 (การหยุดให้บริการ)</strong></p>
            <p style="padding-left: 30px;">หากเกิดเหตุการณ์ที่ระบุต่อไปนี้ ให้บริษัทฯ สามารถหยุดการให้บริการโปรแกรมนี้ทั้งหมดหรือบางส่วนได้ชั่วคราว โดยไม่ต้องแจ้งให้สมาชิกทราบล่วงหน้า และบริษัทฯ ไม่ต้องรับผิดต่อความเสียหายที่อาจเกิดต่อสมาชิกจากการกระทำดังกล่าว<br />(1) เมื่อซ่อมบำรุงหรือซ่อมแซมที่เกี่ยวข้องกับอุปกรณ์เทคโนโลยีสารสนเทศ ฯลฯ ของโปรแกรมนี้ ทั้งที่ต้องทำเป็นระยะและกรณีฉุกเฉิน<br />(2) เมื่อระบบต้องรับภาระสูงมาก จากการเข้าใช้งานพร้อมกันจำนวนมากหรือสาเหตุอื่นใดที่ไม่อาจคาดเห็นได้ล่วงหน้ารวมทั้งเหตุสุดวิสัย<br />(3) เมื่อมีความจำเป็นที่เกี่ยวข้องกับการรักษาความมั่นคงปลอดภัยของสมาชิก<br />(4) เมื่อผู้ประกอบกิจการโทรคมนาคมไม่สามารถให้บริการได้ตามปกติ<br />(5) เมื่อการให้บริการโปรแกรมนี้เป็นไปได้ยากจากสาเหตุของภัยธรรมชาติ เช่น แผ่นดินไหว น้ำท่วม ฯลฯ อุบัติเหตุที่เกิดขึ้นโดยความบังเอิญ เช่น ไฟไหม้ ไฟดับ ฯลฯ หรือสาเหตุอื่นที่มิอาจเลี่ยงได้ เช่น สงคราม กรณีพิพาท ความไม่สงบ การจลาจล ข้อพิพาทแรงงาน ฯลฯ<br />(6) เมื่อไม่สามารถให้บริการโปรแกรมนี้ได้เนื่องจากข้อบังคับทางกฎหมาย ฯลฯ<br />(7) กรณีอื่น ๆ ที่บริษัทฯ พิจารณาแล้วเห็นว่าจำเป็น</p>
            <p><strong>ข้อ 14 (การสิ้นสุดกิจกรรม)</strong></p>
            <p style="padding-left: 30px;">14.1 กิจกรรมนี้มีระยะเวลาตั้งแต่วันที่ 10 มกราคม 2563 ถึงวันที่ 30 มิถุนายน 2563 อย่างไรก็ตามบริษัทฯ สามารถขยายระยะเวลาของกิจกรรมนี้ได้ โดยในกรณีดังกล่าว ให้บริษัทฯ แสดงระยะเวลาที่จะขยายออกไปของกิจกรรมนี้บนเว็บไซต์หรือ Line:@DoubleAThailand ของบริษัทฯ ซึ่งเมื่อสิ้นสุดระยะเวลาของกิจกรรมนี้ อาจทำให้คะแนนที่สะสมมาเป็นโมฆะ และบริษัทฯ ไม่ต้องรับผิดต่อความเสียหายที่อาจเกิดต่อสมาชิกจากการกระทำดังกล่าว เช่น การชดเชยค่าเสียหาย ชดเชยคะแนนที่เป็นโมฆะจากกรณีดังกล่าว<br />14.2 ให้บริษัทฯ สามารถยุติกิจกรรมนี้เมื่อใดก็ได้ หากมีสาเหตุที่ไม่อาจหลีกเลี่ยงได้ โดยไม่จำเป็นต้องเป็นไปตามที่กำหนดในวรรคก่อนหน้านี้ ซึ่งในกรณีดังกล่าว อาจทำให้คะแนนที่สะสมมาเป็นโมฆะ และบริษัทฯ ไม่ต้องรับผิดต่อความเสียหายที่อาจเกิดต่อสมาชิกจากการกระทำดังกล่าว เช่น การชดเชยค่าเสียหาย ชดเชยคะแนนที่เป็นโมฆะจากกรณีดังกล่าว</p>
            <p><strong>ข้อ 15 (การใช้งานบริการภายนอก)</strong></p>
            <p style="padding-left: 30px;">15.1 หากสมาชิกจะใช้บริการภายนอก เช่น Facebook Google ฯลฯ ในการร่วมกิจกรรมนี้ ให้ปฏิบัติตามข้อตกลงการใช้งานและเงื่อนไขอื่นของบริการภายนอกดังกล่าวนอกเหนือจากข้อตกลงนี้ด้วย<br />15.2 บริการภายนอกตามข้อ 15.2 ถือเป็นความรับผิดชอบของนิติบุคคลหรือบุคคลผู้ให้บริการภายนอกดังกล่าว โดยบริษัทฯ ไม่ต้องรับผิดใด ๆ ต่อความเสียหายที่อาจเกิดขึ้น</p>
            <p><strong>ข้อ 16 (เจ้าของสิทธิ์)</strong></p>
            <p style="padding-left: 30px;">16.1 สิทธิ์ในทรัพย์สินทางปัญญาเกี่ยวกับเนื้อหาบนเว็บไซต์หรือ Line: @DoubleAThailand ของบริษัทฯ ทั้งหมดเป็นของบริษัทฯ สมาชิกไม่สามารถใช้งานนอกเหนือจากรูปแบบการใช้งานที่กิจกรรมนี้กำหนด<br />16.2 อาจมีการแสดงเครื่องหมายการค้า ฯลฯ บนเว็บไซต์ของบริษัทฯ แต่ไม่ได้หมายความว่าบริษัทฯ อนุญาตให้ใช้งานหรือมอบสิทธิ์ในเครื่องหมายการค้า ฯลฯ ให้แก่สมาชิกหรือบุคคลอื่น</p>
            <p><strong>ข้อ 17 (ข้อห้าม)</strong></p>
            <p style="padding-left: 30px;">ห้ามมิให้สมาชิกกระทำการต่อไปนี้ ในการใช้งานโปรแกรมนี้<br />(1) การกระทำอันขัดต่อวัตถุประสงค์ของโปรแกรมนี้หรือข้อตกลงนี้<br />(2) การกระทำอันเป็นความผิดต่อกฎหมาย ฯลฯ<br />(3) การกระทำอันละเมิดสิทธิ์หรือผลประโยชน์ของบริษัทฯ บุคคลที่สาม ฯลฯ<br />(4) การกระทำอันเป็นการมอบผลประโยชน์ต่อกลุ่มใช้ความรุนแรงต่อต้านสังคม ฯลฯ<br />(5) การกระทำอันเป็นการเข้าถึงเซิร์ฟเวอร์ที่เกี่ยวข้องกับเว็บไซต์ของบริษัทฯ โดยมิชอบ<br />(6) การกระทำอันเป็นการสร้างภาระอย่างรุนแรงต่อเซิร์ฟเวอร์หรือเครือข่ายที่เกี่ยวข้องกับเว็บไซต์ของบริษัทฯ<br />(7) การกระทำอันเป็นการได้มาซึ่งข้อมูลความลับของบริษัทฯ ข้อมูลส่วนบุคคลของบุคคลที่สาม ฯลฯ โดยมิชอบ<br />(8) การกระทำอันเป็นการแอบอ้างเป็นบุคคลที่สาม หรือการใช้ข้อมูลสมัครสมาชิกหรือรหัสผ่านของบุคคลที่สาม<br />(9) การกระทำอันเป็นการให้บุคคลที่สามใช้ข้อมูลสมัครสมาชิกหรือรหัสผ่านของตน<br />(10) การกระทำอันเป็นการใช้งานข้อบกพร่อง (bug) ของเว็บไซต์ของบริษัทฯ หรือการกระทำอันเป็นการใช้งานเครื่องมือภายนอก (BOT เครื่องมือโกง ฯลฯ) เพื่อให้ได้ผลลัพธ์ที่ไม่เป็นไปตามที่กำหนด<br />(11) การกระทำอันเป็นการยืมหรือให้ยืม จำหน่าย โอน ฯลฯ ซึ่งคะแนนหรือ Unique Code หรือของรางวัล<br />(12) การกระทำอันเป็นการเตรียม สนับสนุนหรือส่งเสริมการกระทำที่ระบุข้างต้น<br />(13) การกระทำอื่นที่บริษัทฯ พิจารณาแล้วเห็นว่าไม่เหมาะสม</p>
            <p><strong>ข้อ 18 (มาตรการต่อการกระทำผิดข้อตกลง)</strong></p>
            <p style="padding-left: 30px;">18.1 บริษัทฯ สามารถหยุดการให้บริการกิจกรรมนี้ของสมาชิกทั้งหมดหรือบางส่วน ยกเลิกการสมัครสมาชิก หรือดำเนินมาตรการอื่นที่บริษัทฯ เห็นว่าเหมาะสมได้โดยไม่ต้องแจ้งสมาชิกล่วงหน้า หากสมาชิกกระทำผิดหรืออาจกระทำผิดข้อตกลงนี้หรือข้อตกลงการใช้งาน Line :@DoubleAThailand และบริษัทฯ ไม่ต้องรับผิดต่อความเสียหายใด ๆ อันอาจเกิดต่อผู้ใช้งานจากการกระทำดังกล่าว<br />18.2 สมาชิกอาจต้องรับผิดความเสียหายทั้งหมดที่เกิดกับบริษัทฯ หรือบุคคลที่สามทั้งทางตรงและทางอ้อม จากการกระทำอันผิดข้อตกลงนี้<br />18.3 พนักงาน และ/หรือ ลูกจ้าง และ/หรือ บริวาร และ/หรือ บุคคลในครอบครัว และ/หรือ ญาติ และ/หรือ บุคคลใด ๆ ที่เกี่ยวข้องกับบริษัท ดั๊บเบิ้ล เอ (1991) จำกัด (มหาชน), บริษัท ดั๊บเบิ้ล เอ ดิจิตอล ซินเนอร์จี จำกัด, กลุ่มบริษัทในเครือฯ, บริษัทที่มีส่วนเกี่ยวข้องในการดำเนินการจัดกิจกรรม และบริษัทในเครือของบริษัทดังกล่าวทั้งหมดไม่มีสิทธิ์ได้รับของรางวัล</p>
            <p><strong>ข้อ 19 (การไม่รับประกัน)</strong></p>
            <p style="padding-left: 30px;">19.1 บริษัทฯ ไม่รับประกันว่า Line: @DoubleAThailand ของบริษัทฯ จะปราศจากข้อบกพร่อง (bug) หรือปัญหาทางด้านความมั่นคงปลอดภัย ฯลฯ<br />19.2 บริษัทฯ ไม่รับประกันว่า Line: @DoubleAThailand ของบริษัทฯ จะรองรับการทำงานบนทุกเบราว์เซอร์และทุกระบบปฏิบัติการ (OS) และแม้จะเกิดข้อบกพร่องในการทำงานจากการอัปเดตเวอร์ชั่นของเบราว์เซอร์ ระบบปฏิบัติการ ฯลฯ บริษัทฯ ไม่มีหน้าที่ต้องแก้ปัญหาเหล่านี้ด้วยการอัปเดต<br />19.3 สมาชิกอาจไม่สามารถใช้งานโปรแกรมนี้ทั้งหมดหรือบางส่วน จากการแก้ไขกฎหมาย คำสั่งของหน่วยงานรัฐ ฯลฯ</p>
            <p><strong>ข้อ 20 (ความรับผิด)</strong></p>
            <p style="padding-left: 30px;">20.1 แม้จะเกิดความเสียหายต่อสมาชิกจากกิจกรรมนี้บริษัทฯ ไม่ต้องรับผิดความเสียหายโดยอ้อมและความเสียหายพิเศษ (รวมถึงกรณีที่คาดว่าหรือคาดได้ว่าจะเกิดความเสียหาย) ยกเว้นกรณีที่เกิดจากความตั้งใจหรือความประมาทอย่างร้ายแรงของบริษัทฯ<br />20.2 หากเกิดข้อพิพาทระหว่างสมาชิก หรือระหว่างสมาชิกกับบุคคลที่สาม เกี่ยวกับกิจกรรมนี้ ให้สมาชิกแจ้งเรื่องดังกล่าวต่อบริษัทฯ และดำเนินการแก้ไขด้วยความรับผิดชอบของตนเองและรับผิดชอบค่าใช้จ่ายด้วยตนเอง บริษัทฯ ไม่มีส่วนเกี่ยวข้องกับข้อพิพาท และไม่ต้องรับผิดใด ๆ ทั้งสิ้น</p>
            <p><strong>ข้อ 21 (วิธีติดต่อ)</strong></p>
            <p style="padding-left: 30px;">ให้บริษัทฯ สามารถติดต่อสมาชิกเกี่ยวกับกิจกรรมนี้ ผ่านการแสดงบนเว็บไซต์ของบริษัทฯ อีเมล ข้อความ (SMS) หรือวิธีอื่นที่บริษัทฯ พิจารณาแล้วเห็นว่าเหมาะสม</p>
            <p><strong>ข้อ 22 (การติดต่อสอบถาม)</strong></p>
            <p style="padding-left: 30px;">ชื่อ ที่อยู่ และช่องทางติดต่อบริษัทฯ สำหรับติดต่อสอบถามเกี่ยวกับกิจกรรมนี้ โดยส่งไปดังที่อยู่ต่อไปนี้<br />[ชื่อ]บริษัท ดั๊บเบิ้ล เอ (1991) จำกัด (มหาชน) <br />ฝ่ายการตลาด ชั้น 2 อาคาร Double A Business Park <br />[ที่อยู่] 187/3 หมู่ 1 ถนนบางนา-ตราด กม.42 ต.บางวัว อ.บางปะกง จ.ฉะเชิงเทรา รหัสไปรษณีย์ 24130</p>
            <p>[ช่องทางติดต่อ / อีเมล)] ฝ่ายการตลาด point-rewards@doublea1991.com ในเวลาทำการ ทุกวันจันทร์-ศุกร์ เวลา 08.30-17.00 น. ยกเว้นวันหยุดนักขัตฤกษ์</p>
          </vue-perfect-scroll-bar>
          <hr class="m-0">
          <div class="modal-footer d-flex justify-content-center">
<!--            <button class="btn btn-primary w-25" @click="save">ยอมรับ</button>-->
            <!--            <button class="btn btn-primary w-25" @click="save" :disabled="!scrollToEnd">ยอมรับ</button>-->
            <button class="btn btn-danger w-25" @click="close">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    data() {
      return {
        employee: '',
        member: '',
        date_from: moment().add(-1, 'month').format('YYYY-MM-DD'),
        date_to: moment().format('YYYY-MM-DD'),
        scrollToEnd: false,
        checkbox: false
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    mounted(){
      this.scrollToEnd = false
    },
    methods: {
      scrollEnd() {
        this.scrollToEnd = true
      },
      close() {
        this.$emit('close', false)
      },
      save() {
        this.$emit('save', true)
        // this.$emit('save', this.scrollToEnd)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-condition-page {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .box-condition-title {
        height: 30px;
        width: 70px;
        background-color: #eaeaea;
        border-radius: 15px;
      }

      .condition-title {
        font-size: 15px;
        color: #747474
      }

      .condition-sub-title {
        font-size: 14px;
        color: #a7a7a7;
        font-weight: 500;
        letter-spacing: 0
      }

      .condition-detail {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0
      }

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 90vw;
          max-width: 768px;
          height: 80vh;
          margin: 0 auto;
          padding: 0 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: calc(80vh - 80px - 2px - 70px);

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
