<template>
  <div class="modal-condition-page">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header d-flex justify-content-center">
            <span>การใช้งานข้อมูลส่วนบุคคล</span>
            <img src="../assets/close_black.png" alt="" class="icon" @click="close"
                 style="position: relative;left: 140px;top: -10px;">
          </div>
          <hr class="m-0">
          <vue-perfect-scroll-bar class="modal-body" ref="ps" v-on:ps-y-reach-end="scrollEnd">
            <p>ฉบับนี้เกี่ยวกับข้อมูลส่วนบุคคลของสมาชิก จัดทำขึ้นเพื่อการขออนุญาต แจ้งวิธีการเก็บรวบรวม การใช้ และการจัดการ <strong>&ldquo;ข้อมูลส่วนบุคคล&rdquo;</strong> ทั้งหมดในกิจกรรมของ บริษัท ดั๊บเบิ้ล เอ (1991) จำกัด (มหาชน) ซึ่งต่อไปนี้จะเรียกว่า &ldquo;<strong>บริษัทฯ</strong>&rdquo; ภายใต้บทบัญญัติของกฎหมายที่เกี่ยวข้องกับการคุ้มครองข้อมูลส่วนบุคคล ทั้งนี้ บริษัทฯ แนะนำให้สมาชิกอ่านนโยบายข้อมูลส่วนบุคคลฉบับนี้อย่างละเอียด เพื่อรับทราบวัตถุประสงค์ที่บริษัทฯ ได้เก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของสมาชิก</p>
            <p>คำนิยาม</p>
            <ol>
              <li>&ldquo;<strong>สมาชิก</strong>&rdquo; หมายความว่า ผู้ใช้งานที่เข้าร่วมกิจกรรมการสะสมคะแนนและชิงโชคทองผ่าน Line : @DoubleAThailand</li>
              <li>&ldquo;<strong>ข้อมูลส่วนบุคคล</strong>&rdquo; หมายความว่า ข้อมูลเกี่ยวกับบุคคลซึ่งทำให้สามารถระบุตัวบุคคลนั้นได้ไม่ว่าทางตรงหรือทางอ้อม</li>
            </ol>
            <p>1. สมาชิกยินยอมให้บริษัทฯ เข้าถึงข้อมูลส่วนบุคคลของสมาชิกและใช้ข้อมูลทั้งแบบออนไลน์และแบบออฟไลน์ เช่น ข้อมูลการสมัครสมาชิก ชื่อ-นามสกุล, หมายเลขโทรศัพท์ที่ใช้งานปัจจุบัน, วันเดือนปีเกิด, อีเมล, จังหวัดที่อยู่ปัจจุบัน, ประวัติการใช้งานเว็บไซต์QR Lucky in Gold และ Line: @DoubleAThailand ของบริษัทฯ (การลงชื่อเข้าใช้ ดู คลิก ฯลฯ), การเชื่อมต่อจากเครือข่ายสังคม (Social Network) ต่าง ๆ, การลงทะเบียนคะแนนและแลกของรางวัล และ cookies โดยมีวัตถุประสงค์ของการจัดเก็บข้อมูลส่วนบุคคลเพื่อนำมาใช้ในวัตถุประสงค์ต่อไปนี้</p>
            <p style="padding-left: 30px;">(1) เพื่อตรวจสอบและยืนยันตัวตนของสมาชิก เพื่อลดขั้นตอนและระยะเวลาในการตรวจสอบตัวตน<br />(2) เพื่อให้บริการจัดการคะแนนในการสะสมคะแนนจากกิจกรรมของบริษัท<br />(3) เพื่อจัดส่งของรางวัลจากกิจกรรมของบริษัท และตรวจสอบรายการของรางวัลที่จัดส่ง รวมถึงวิเคราะห์แนวโน้มพฤติกรรมของลูกค้าจากการแลกของรางวัลดังกล่าว<br />(4) เพื่อจัดทำแบบสอบถามหรือรายการส่งเสริมการขายอื่นใดของบริษัท<br />(5) เพื่อจัดส่งโฆษณาหรือการประชาสัมพันธ์อื่นใดของบริษัท<br />(6) เพื่อแจ้งข้อมูลที่จำเป็นในการดำเนินการกิจกรรมนี้ หรือช่องทางการติดต่อบัญชีทางการอื่นของบริษัท เช่น Facebook, Instagram, Websiteฅ<br />(7) เพื่อสำรวจ วิเคราะห์และจัดทำสถิติ เพื่อกิจกรรมทางการตลาดเกี่ยวกับการพัฒนาผลิตภัณฑ์และการพัฒนาการบริการ</p>
            <p>2. ในกรณีที่บริษัทฯ จำเป็นต้องใช้ข้อมูลส่วนบุคคลของสมาชิกเพื่อวัตถุประสงค์อื่นนอกเหนือจากที่ระบุข้างต้น บริษัทฯ จะขอความยินยอมจากท่านเป็นรายกรณีไป สมาชิกอาจปฏิเสธการให้ความยินยอมเป็นบางส่วนหรือทั้งหมดก็ได้ โดยการปฏิเสธการให้ความยินยอมตามข้อนี้จะไม่กระทบกับการให้ความยินยอมในข้อ 1.</p>
            <p>3. บริษัทฯ อาจว่าจ้างให้บุคคลที่สามที่บริษัทฯ เห็นว่าเหมาะสมให้จัดการข้อมูลส่วนบุคคลของสมาชิกภายใต้การใช้งานตามวัตถุประสงค์ที่สมาชิกได้ให้ความยินยอมไว้ โดยบริษัทฯ ได้มอบหมายให้ บริษัท เฟเวอร์ลี่ จำกัด เป็นผู้จัดการข้อมูลส่วนบุคคลตามวัตถุประสงค์ที่ได้มีการขอความยินยอมไว้โดยใช้ระบบประมวลผลด้วย Software Platform CRM ของบริษัท เฟเวอร์ลี่ จำกัด และได้กำหนดให้หน่วยงานที่ได้รับการว่าจ้างนั้น รักษาความลับและความมั่นคงปลอดภัยของข้อมูลส่วนบุคคลและกำหนดข้อห้ามมิให้มีการนำข้อมูลส่วนบุคคลดังกล่าวไปใช้นอกเหนือจากกิจการหรือกิจกรรมของบริษัทฯ หรือภายใต้วัตถุประสงค์ของการจ้าง</p>
            <p>4. เพื่อประโยชน์ในการรักษาความปลอดภัยสำหรับข้อมูลส่วนบุคคล บริษัทฯได้กำหนดให้มีมาตรการที่เหมาะสมสำหรับการรักษาความมั่นคงปลอดภัยของข้อมูลส่วนบุคคลโดยเฉพาะ เพื่อป้องกันข้อมูลส่วนบุคคลที่อาจส่งผลกระทบ ก่อให้เกิดความเสียหาย หรือมีผลกระทบต่อสิทธิเสรีภาพของเจ้าของข้อมูล มีการตรวจสอบการดำเนินการของบริษัทฯเกี่ยวกับการเก็บรวบรวม ใช้และเปิดเผยข้อมูลส่วนบุคคลให้สอดคล้องกับพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 รวมถึงกฎหมายที่เกี่ยวข้องกับการคุ้มครองข้อมูลส่วนบุคคล อีกทั้งยังเป็นไปตามนโยบายของคณะกรรมการคุ้มครองข้อมูลส่วนบุคคลและคณะกรรมการกำกับดูแลด้านความมั่นคงปลอดภัยไซเบอร์</p>
            <p>5. หากสมาชิกประสงค์จะทราบข้อมูลส่วนบุคคลที่บริษัทฯ ได้เก็บรวบรวม ใช้ หรือเปิดเผย สมาชิกสามารถร้องขอ โดยระบุตัวตนที่แท้จริงของสมาชิกและแจ้งความประสงค์มายัง&nbsp;ที่อยู่อีเมล <a href="mailto:point-rewards@doublea1991.com">point-rewards@doublea1991.com</a>&nbsp;บริษัทจะแจ้งรายละเอียดให้สมาชิกทราบภายในระยะเวลาอันสมควร หากสมาชิกพบว่า ข้อมูลส่วนบุคคลที่บริษัทฯได้เก็บรวบรวมไว้มีข้อมูลที่ไม่ถูกต้องตามความเป็นจริง สมาชิกสามารถแจ้งแก้ไขข้อมูลดังกล่าวได้</p>
            <p>6. สมาชิกอาจเพิกถอนความยินยอมในการให้บริษัทฯจัดเก็บและใช้ข้อมูลส่วนบุคคลตามที่ระบุในข้อ 1. โดยแจ้งความประสงค์มายัง ที่อยู่อีเมล <a href="mailto:point-rewards@doublea1991.com">point-rewards@doublea1991.com</a>&nbsp;ทั้งนี้การเพิกถอนความยินยอมดังกล่าวจะส่งผลให้สมาชิกภาพของท่านถูกยกเลิกไปโดยปริยาย</p>
            <p>7. บริษัทฯ จะลบข้อมูลส่วนบุคคลของสมาชิก เมื่อสมาชิกยกเลิกการเข้าร่วมกิจกรรมหรือสิ้นสุดกิจกรรมแล้วเป็นเวลา 1 เดือน และบริษัทฯจะไม่สามารถตอบข้อซักถามเกี่ยวกับข้อมูลส่วนบุคคลของสมาชิกได้หลังจากผ่านช่วงเวลาดังกล่าว</p>
            <p>8. หากสมาชิกมีข้อซักถามเกี่ยวกับข้อมูลส่วนบุคคลของสมาชิก กรุณาติดต่อมายัง Data Controller Office ตามที่อยู่อีเมล <a href="mailto:point-rewards@doublea1991.com">point-rewards@doublea1991.com</a></p>
            <p>เอกสารการเกี่ยวกับการใช้งานข้อมูลส่วนบุคคลของสมาชิกฉบับนี้อาจมีการเปลี่ยนแปลงเนื้อหาตามกฎหมาย นโยบายและแนวทางบริหารจัดการภายในของบริษัทฯ ในกรณีที่มีการเปลี่ยนแปลง บริษัทฯ จะประกาศเนื้อหาและสาเหตุการเปลี่ยนแปลงในหน้าแรกของ Line : @DoubleAThailand</p>
          </vue-perfect-scroll-bar>
          <hr class="m-0">
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-primary w-25" @click="save">ยอมรับ</button>
            <!--            <button class="btn btn-primary w-25" @click="save" :disabled="!scrollToEnd">ยอมรับ</button>-->
            <button class="btn btn-danger w-25" @click="close">ยกเลิก</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    data() {
      return {
        employee: '',
        member: '',
        date_from: moment().add(-1, 'month').format('YYYY-MM-DD'),
        date_to: moment().format('YYYY-MM-DD'),
        scrollToEnd: false,
        checkbox: false
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    mounted() {
      this.scrollToEnd = false
    },
    methods: {
      scrollEnd() {
        this.scrollToEnd = true
      },
      close() {
        this.$emit('close', false)
      },
      save() {
        this.$emit('save', true)
        // this.$emit('save', this.scrollToEnd)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-condition-page {
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .box-condition-title {
        height: 30px;
        width: 70px;
        background-color: #eaeaea;
        border-radius: 15px;
      }

      .condition-title {
        font-size: 15px;
        color: #747474
      }

      .condition-sub-title {
        font-size: 14px;
        color: #a7a7a7;
        font-weight: 500;
        letter-spacing: 0
      }

      .condition-detail {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0
      }

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          width: 90vw;
          max-width: 768px;
          height: 80vh;
          margin: 0 auto;
          padding: 0 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 1rem 1rem 0;
            max-height: calc(80vh - 56px - 2px - 70px);

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 16px;
            }
          }
        }
      }
    }
  }
</style>
