<template>
  <div class="box-item-list">
    <!-- <banner
      class="main-image"
      :bannerList="privilegeImage"
      v-on:eventClick="viewDetail(privilege.privilege_id)"
    ></banner> -->
    <!-- <img :src="favoriteIcon" alt="" class="icon-favorite" @click.prevent="toggleFavorite(privilege.privilege_id)"> -->
    <!-- <div class="box-require-point d-flex align-items-center">
      <img
        src="../assets/image-main/Icon_P.png"
        alt=""
        class="icon-required-point"
      />
      <span>{{ privilege.require_point }}</span>
    </div> -->

    <!-- <div class="box-icon-gift">
      <span class="box-icon-gift-text">เหลืออีก {{ privilege.period_quota_remaining }} รางวัล</span>
    </div> -->
    <div class="row ">
      <div class="col-12 box-item-list-row ">
        <div class="col-4 box-item-list-col-4 px-0">
          <img :src="privilegeImage" />
        </div>

        <div class="col-8 box-item-list-col-8 px-2">
          <div class=" box-item-list-txt-top ">
            แลกรับ Starbucks e-Coupon มูลค่า 100 บาท
          </div>
          <div class="box-item-list-txt-center">Starbucks</div>
          <div class=" d-flex px-0 box-item-list-txt-bottom">
            <div class="col-8 box-item-list-txt-bottom-day px-0">
              หมดอายุ: 31 ธ.ค. 64
            </div>
            <div class="col-4 box-item-list-txt-bottom px-0">
              <banner
                class=" box-item-list-txt-bottom-btn "
                v-on:eventClick="viewDetail(privilege.privilege_id)"
              >
              </banner>
              <div class=" box-item-list-txt-bottom-txt">กดรับสิทธิ์</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Banner from "./banner";
import Loading from "../components/Loading";

export default {
  props: {
    privilege: {
      required: true,
      default: null,
    },
  },
  data() {
    return {
      privilege_image: [],
    };
  },
  computed: {
    favoriteIcon() {
      if (this.privilege.is_favorite) {
        return require("../assets/image-main/Icon_Favorite_Active.png");
      }
      return require("../assets/image-main/Icon_Favorite.png");
    },
    privilegeImage() {
      return _.map(this.privilege.privilege_image, (image) => {
        return image.url;
      });
    },
  },
  components: {
    Banner,
    Loading,
  },
  methods: {
    viewDetail(privilege_id) {
      this.$emit("viewDetail", privilege_id);
    },
    toggleFavorite(privilege_id) {
      // Call Service Add Favorite
      this.$store
        .dispatch("privilege/addFavorite", privilege_id)
        .then((data) => {
          let privilege = data.data;
          return (this.privilege.is_favorite = privilege.is_favorite);
        })
        .catch((error) => {
          this.handleCatch(error);
        });
    },
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
.box-item-list {
  position: relative;
  /*height: 220px;*/

  .main-image {
    width: 100%;
    border-radius: 10px;
    min-height: 150px;
    /*height: 216px;*/
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
  }

  .bg-gradient {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    position: absolute;
    left: 0;
    right: 0;
    /*top: 150px;*/
    bottom: 0;
    height: 40%;
    border-radius: 0 0 10px 10px;
  }

  .icon-favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .box-require-point {
    position: absolute;
    left: 15px;
    bottom: 15px;
    text-align: left;
    border-radius: 35px;
    height: 23px;
    width: 60px;
    background-color: #0051fe;

    .icon-required-point {
      margin-left: 5px;
      height: 17px;
      width: 17px;
      border-radius: 35px;
    }

    span {
      margin-left: 8px;
      font-size: 12px;
      color: #efefef;
      font-weight: 500;
    }
  }

  .box-sub-title-white {
    position: absolute;
    left: 15px;
    right: 150px;
    bottom: 15px;

    .sub-title-white {
      height: 60px;
      margin-bottom: 4px;
      font-size: 14px;
      color: #efefef;
      font-weight: 400;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 6px 0 rgba(0, 0, 0, 0.19);

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  .box-icon-gift {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: right;

    .box-icon-gift-text {
      margin-top: 2px;
      font-size: 13px;
      color: #efefef;
      font-weight: 400;
      position: relative;
      top: 2px;
      /*box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 6px 0 rgba(0, 0, 0, 0.19);*/
    }
  }
  .box-item-list-row {
    display: flex;
    align-items: center;

    .box-item-list-col-4 {
      img {
        width: 90px;
        height: auto;
        border-radius: 10px;
      }
    }
    .box-item-list-col-8 {
      .box-item-list-txt-top {
        font-family: "DB Heavent";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;

        color: #000000;
      }
      .box-item-list-txt-center {
        font-family: "DB Heavent";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;

        color: #787878;
      }
      .box-item-list-txt-bottom {
        display: flex;
// text-align: end;
justify-content: center;
        .box-item-list-txt-bottom-day {
          font-family: "DB Heavent";
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 22px;
          color: #787878;
          width: 144px;
        }
        .box-item-list-txt-bottom{
          display: flex;
          text-align: end;
.box-item-list-txt-bottom-btn {
          width: 69px;
          height: 26px;
          background: #ed1c23;
          border-radius: 3px;
          text-align: center;
        }
        .box-item-list-txt-bottom-txt {
       position: absolute;
    font-family: "DB Heavent";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #ffffff;
    top: 4px;
        }
        }

      }
    }
  }
}
</style>
