<template>
  <div class="top-scroll" @click="clickIcon">
    <img src="../assets/icon/Topicon.png" class="icon-arrow"/>
  </div>
</template>

<script>
  export default {
    methods:{
      clickIcon(){
        this.$emit('iconClick')
      }
    }
  }
</script>

<style lang="scss">
  .top-scroll{
    position: fixed;
    bottom: 90px;
    right: 20px;
    cursor: pointer;
    text-align: center;
    .icon-arrow{
      width: 40px;
      height: 40px;
    }
  }
</style>
