<template>
  <div class="address-detail-page container">
    <headerName :name="'ที่อยู่จัดส่ง'" :path="'address'"></headerName>
    <form @submit.prevent="save">
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 box-input">
          <img src="../../assets/image-register/icon-home.png" alt="" class="icon" style="height: 14px;top: 20px;">
          <input type="text" class="form-control style-input" placeholder="ชื่อที่อยู่" v-model="building">
        </div>
      </div>
      <div class="row row d-flex mt-3 justify-content-center">
        <div class="col-12">
<!--          <textarea rows="5" class="form-control style-address" placeholder="รายละเอียด" v-model="address"></textarea>-->
          <input type="text" class="form-control style-top-input" placeholder="บ้านเลขที่" v-model="address">

          <input type="text" class="form-control style-center" placeholder="ถนน" v-model="street">

          <select class="form-control style-center color-style" v-model="province" :class="{'text-dark': province !== ''}" @change.prevent="provinceChange">
            <option value="" class="color-style">จังหวัดที่อยู่ปัจจุบัน</option>
            <option :value="list.code" v-for="list in provinceData">{{list.name_th}}</option>
          </select>

          <select class="form-control style-center color-style" v-model="district" :class="{'text-dark': district !== ''}" @change.prevent="DistrictChange">
            <option value="" class="color-style">เขต</option>
            <option :value="list.code" v-for="list in districtData">{{list.name_th}}</option>
          </select>

          <select class="form-control style-center color-style" v-model="sub_district" :class="{'text-dark': sub_district !== ''}" @change.prevent="SubDistrictChange">
            <option value="" class="color-style">แขวง</option>
            <option :value="list.id" v-for="list in subDistrictData">{{list.name_th}}</option>
          </select>

          <input type="text" class="form-control style-lastname" placeholder="รหัสไปรษณีย์" v-model="zip_code">
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 box-input">
          <img src="../../assets/image-register/icon-phone.png" alt="" class="icon" style="height: 14px;top: 20px;">
          <input type="text" class="form-control style-input" placeholder="เบอร์ติดต่อ" v-model="tel" maxlength="10" @keypress="numOnly" required>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-4 mb-2 main-box" v-if="address_id !== 'add'">
        <div class="col-4 pr-0">
          <button type="button" class="btn w-100 style-button-red" @click.prevent="openPopup()">ลบ</button>
        </div>
        <div class="col-8">
          <button type="submit" class="btn btn-primary w-100 style-button">ยืนยัน</button>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-4 mb-2 main-box" v-if="address_id === 'add'">
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100 style-button">ยืนยัน</button>
        </div>
      </div>

    </form>
    <dialog-popup v-if="isShowDialogPopup" :title="popupTitle" :content="popupContent" :type="popupType"
                  v-on:ok="okPopup" v-on:close="closePopup"></dialog-popup>
  </div>
</template>
<script>
  const moment = require('moment')
  import Loading from '../../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import banner from '../../components/banner'
  import headerNameTab from '../../components/headerNameTab'
  import headerName from '../../components/headerName'
  import dialogPopup from '../../components/popup'

  export default {
    computed: {},
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,
      banner,
      headerNameTab,
      headerName,
      dialogPopup
    },
    data() {
      return {
        building: '',
        address: '',
        street: '',
        zip_code: '',
        tel: '',
        address_id: 'add',
        isShowDialogPopup: false,
        popupTitle: '',
        popupContent: '',
        popupType: '',

        province: '',
        district: '',
        sub_district: '',
        provinceData: [],
        districtData: [],
        subDistrictData: [],
        selected_province: '',
        selected_distinct: '',
        selected_sub_distinct: ''
      }
    },
    methods: {
      numOnly(evt) {
        evt = (evt) ? evt : window.event
        let charCode = (evt.which) ? evt.which : evt.keyCode
        if (!(charCode >= 48 && charCode <= 57)) {
          evt.preventDefault()
        }
      },
      openPopup(title = 'ลบที่อยู่', content = 'ต้องการลบที่อยู่หรือไม่', type = 'dialog') {
        this.popupTitle = title
        this.popupContent = content
        this.popupType = type
        this.isShowDialogPopup = true
        document.body.style.overflow = 'hidden';
      },
      okPopup() {
        this.popupTitle = ''
        this.popupContent = ''
        this.popupType = ''
        this.isShowDialogPopup = false
        document.body.style.overflow = 'auto';
        this.deleteAddress()
      },
      closePopup() {
        this.popupTitle = ''
        this.popupContent = ''
        this.popupType = ''
        this.isShowDialogPopup = false
        document.body.style.overflow = 'auto';
      },
      save() {
        if (this.address_id === 'add') {
          this.addAddress()
        } else {
          this.updateAddress()
        }
      },
      addAddress() {
        let address = {
          building: this.building,
          address: this.address,
          street: this.street,
          province: this.province,
          district: this.district,
          sub_district: this.sub_district,
          postcode: this.zip_code,
          tel: this.tel,
        }
        this.$store.dispatch('address/addAddress', address)
          .then((data) => {
            this.$router.replace('/address')
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      updateAddress() {
        let address = {
          id: this.address_id,
          building: this.building,
          address: this.address,
          street: this.street,
          province: this.province,
          district: this.district,
          sub_district: this.sub_district,
          postcode: this.zip_code,
          tel: this.tel
        }
        this.$store.dispatch('address/updateAddress', address)
          .then((data) => {
            this.$router.replace('/address')
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      deleteAddress() {
        this.$store.dispatch('address/deleteAddress', this.address_id)
          .then((data) => {
            this.$router.replace('/address')
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      loadAddress() {
        this.$store.dispatch('address/loadAddressDetail', this.address_id)
          .then((data) => {
            let address = data.data
            this.building = address.building
            this.address = address.address
            this.street = address.street
            this.zip_code = address.postcode
            this.tel = address.tel

            this.province = address.province
            this.provinceChange()
            this.district = address.district
            this.DistrictChange()
            this.sub_district = address.sub_district
            this.SubDistrictChange()
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      SubDistrictChange(){
        _.each(this.subDistrictData, (item)=>{
          if(item.id === this.sub_district){
            this.selected_sub_distinct = item.name_th
            this.zip_code = item.zip_code
            return false
          }else{
            this.selected_sub_distinct = ''
            this.zip_code = ''
          }
        })
      },
      DistrictChange(){
        _.each(this.districtData, (item)=>{
          if(item.code === this.district){
            this.subDistrictData = item.sub_districts
            this.selected_distinct = item.name_th
            return false
          }else{
            this.selected_distinct = ''
            this.sub_district = ''
            this.selected_sub_distinct = ''
            this.subDistrictData = []
            this.zip_code = ''
          }
        })
      },
      provinceChange(){
        _.each(this.provinceData, (item)=>{
          if(item.code === this.province){
            this.districtData = item.districts
            this.selected_province = item.name_th
            return false
          }else{
            this.selected_province = ''
            this.district = ''
            this.selected_distinct = ''
            this.districtData = []
            this.sub_district = ''
            this.selected_sub_distinct = ''
            this.subDistrictData = []
            this.zip_code = ''
          }
        })
      },
      loadProvince() {
        this.$axios.$get('https://d-double-a.feyverly-crm.com/thailand-addresses.json', {
          headers: {}
        }).then(data => {
          this.provinceData = data
        }).catch((error) => {
          this.handleCatch(error)
        }).finally(() => {

        })
      },
      loadUerProfile() {
        this.$store.dispatch('user/getProfile')
          .catch((error) => {
            this.handleCatch(error)
          })
      }
    },
    mounted() {
      this.address_id = this.$route.params.id
      this.loadProvince();
      if (this.address_id !== 'add') {
        this.loadAddress()
      }
    }
  }
</script>
<style lang="scss" scoped>
  .address-detail-page {
    .color-style {
      color: rgba(171, 171, 171, 1)
    }

    .style-image {
      width: 143px;
      height: auto;
    }

    .style-photo {
      width: 100px;
      height: 100px;
      border-radius: 70px;
      border: 1px solid rgb(232, 232, 239);
      padding: 3px;
    }

    .style-header {
      color: #a3a3a3;
      font-size: 16px;
      font-weight: 300;
      color: rgba(138, 138, 142, 1);
    }

    .style-address {
      height: 120px;
      border-radius: 10px 10px 0 0;
      font-size: 15px;
      font-weight: 300;
      resize: none;
    }

    .style-top-input {
      height: 55px;
      border-radius: 10px 10px 0 0;
      font-size: 15px;
      font-weight: 300;
      resize: none;
    }

    .style-name {
      height: 55px;
      margin-top: -1px;
      border-radius: 0;
      font-size: 15px;
      font-weight: 300;
      color: black;
    }

    .style-lastname {
      height: 55px;
      margin-top: -1px;
      border-radius: 0 0 10px 10px;
      font-size: 15px;
      font-weight: 300;
      color: black;
    }

    .style-center {
      padding-left: 8px;
      margin-top: -1px;
      height: 55px;
      border-radius: 0;
      font-size: 15px;
      font-weight: 300;
      color: black;
    }


    .style-input {
      height: 55px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 300;
      color: black;
    }

    .box-input {
      position: relative;

      .icon {
        position: absolute;
        top: 19px;
        left: 35px;
        height: 15px;
      }

      .form-control {
        padding-left: 50px;
      }
    }

    .font-size {
      font-size: 16px;
    }

    ::placeholder {
      color: rgba(171, 171, 171, 1);
    }

    select {
      color: rgba(171, 171, 171, 1);
    }

    option:not(:first-of-type) {
      color: rgba(145, 145, 145, 0.79);
    }

    .style-button-red {
      height: 50px;
      background-color: #fd5757;
      font-size: 15px;
      font-weight: 400;
      color: white;
    }

    .style-button {
      height: 50px;
      background-color: #0051fe;
      font-size: 15px;
      font-weight: 400
    }

    .main-box {
      /*padding: 0 17px;*/
      /*position: fixed;*/
      /*bottom: 0;*/
      /*left: 0;*/
      /*right: 0;*/
      background-color: white;
      padding-bottom: 5px;
    }

    .box-item {
      margin: 5px;
      border-radius: 2px;
      border: 1px solid #e3e3e3;
    }

    .image-size1 {
      font-size: 16px;
      font-weight: 500;
      color: rgba(72, 72, 72, 1);
    }

    .image-size2 {
      font-size: 15px;
      font-weight: 300;
      color: rgba(130, 130, 130, 1);
    }

    .image-size3 {
      font-size: 15px;
      font-weight: 300;
      color: rgba(130, 130, 130, 1);
    }

    .icon-size {
      height: 13px;
      width: 13px;
    }
  }
</style>
