<template>
  <div class="address-page container">
    <headerName :name="'ที่อยู่จัดส่ง'" :path="'privilege'" :pathId="office" v-if="office"></headerName>
    <headerName :name="'ที่อยู่จัดส่ง'" :path="'me'" v-if="!office"></headerName>
    <div class="row box-item mt-3" v-for="address in addresses">
      <div class="col-2 mt-1 pt-3 pb-3 d-flex justify-content-center" v-if="office">
        <img src="../../assets/image-address/Icon_Check_Active.png" alt="" class="icon-check-active"
             v-if="address.checkActive">
        <img src="../../assets/image-address/Icon_Check.png" alt="" class="icon-check-active"
             v-else @click="onCheckBox(address.id)">
      </div>
      <div class="col-2 mt-1 pt-3 pb-3 d-flex justify-content-center" v-if="!office">
        <!--        <img src="../../assets/image-address/Icon_Check.png" alt="" class="icon-check-active">-->
      </div>
      <div class="col-8 pt-3 pb-3 pl-0" @click.prevent="goDetail(address.id)">
        <div class="image-size1">{{ address.building }}</div>
        <div class="image-size2">{{ address.address }}</div>
        <img src="../../assets/image-address/Icon_Phone.png" alt="" class="icon-size">
        <span class="image-size3">{{ address.tel }}</span>
      </div>
      <div class="col-2 pt-3 pb-3 d-flex justify-content-center mt-1" @click.prevent="goDetail(address.id)">
        <img src="../../assets/image-address/Icon_Arrow.png" alt="" class="icon-size">
      </div>
    </div>

    <div class="row mt-2 mb-2 main-box">
      <div class="col-12">
        <div class="text-add-address text-right" @click.prevent="addAddress"
             :class="{'text-secondary' : addresses.length > 2}">เพิ่มที่อยู่จัดส่ง
        </div>
      </div>
    </div>
    <div class="row box-btn-choose" v-if="office">
      <div class="col-12">
        <button type="button" class="btn btn-primary w-100 style-button mb-4 mt-4" @click.prevent="chooseAddress" :disabled="checkOneClick === 0">
          ตกลง
        </button>
      </div>
    </div>
    <dialog-popup v-if="isShowDialogPopup" :title="popupTitle" :content="popupContent" :popupCancel="popupCancel"
                  :type="popupType"
                  v-on:ok="okPopup" v-on:close="closePopup"></dialog-popup>
  </div>
</template>
<script>
  const moment = require('moment')
  import Loading from '../../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import banner from '../../components/banner'
  import headerNameTab from '../../components/headerNameTab'
  import headerName from '../../components/headerName'
  import dialogPopup from '../../components/popup'

  export default {
    computed: {},
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,
      banner,
      headerNameTab,
      headerName,
      dialogPopup
    },
    data() {
      return {
        isShowDialogPopup: false,
        popupTitle: '',
        popupContent: '',
        popupType: '',
        addresses: [],
        office: 0,
        privilege_detail_short: '',
        privilege_code: '',
        addressId: null,
        popupCancel: '',
        checkOneClick: 1,
        result: 1,
        router: '',
      }
    },
    methods: {
      onCheckBox(id) {
        _.each(this.addresses, (address) => {
          if (address.id === id) {
            address.checkActive = true
            this.addressId = id
          } else {
            address.checkActive = false
          }
        })
      },
      chooseAddress() {
        if (!this.addressId) {
          return this.openPopup()
        } else {
          return this.openPopupSave()
        }
      },
      loadAddress() {
        this.$store.dispatch('address/loadAddress')
          .then((data) => {
            // this.addresses = data.data
            this.addresses = _.map(data.data, (item) => {
              return Object.assign({}, item, {checkActive: false})
            })
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      addAddress() {
        if (this.addresses.length > 2) {
          return
        }
        this.$router.push('/address/add')
      },
      chooseItem(id) {
        this.$router.push('/privilege/' + id)
      },
      goDetail(id) {
        this.$router.push('/address/' + id)
      },
      openPopupSave(title = 'ยืนยันการรับสิทธิ์', content = this.privilege_detail_short, type = 'dialog') {
        this.popupTitle = title
        this.popupContent = content
        this.popupType = type
        this.isShowDialogPopup = true
        this.popupCancel = ''
        document.body.style.overflow = 'hidden';
      },
      openPopup(title = 'เตือน', content = 'เลือกที่อยู่ด้วย', type = 'alert') {
        this.popupTitle = title
        this.popupContent = content
        this.popupType = type
        this.popupCancel = 'cancel'
        this.isShowDialogPopup = true
        document.body.style.overflow = 'hidden';
      },
      openPopupError(title = 'เตือน', content = '', type = 'alert') {
        this.popupTitle = title
        this.popupContent = content
        this.popupType = type
        // this.router = '/privilege'
        this.popupCancel = 'cancel'
        this.isShowDialogPopup = true
        document.body.style.overflow = 'hidden';
      },
      okPopup() {
        if(this.router !== ''){
          this.$router.push('/privilege')
        }
        this.checkOneClick = 0
        this.popupTitle = ''
        this.popupContent = ''
        this.popupType = ''
        this.isShowDialogPopup = false
        document.body.style.overflow = 'auto';
        this.$store.dispatch('privilege/getPrivilegeRedeemAddress', {
          privilege_code: this.privilege_code,
          address_id: this.addressId
        }).then((data) => {
          this.result = data.result
          if(data.result === 1){
            this.$store.dispatch('user/getProfile')
            this.$router.replace('/successaddress')
          }else{
            this.openPopupError('เตือน',data.reply_message,'alert')
          }
        }).catch((error) => {
          this.handleCatch(error)
        }).finally(()=>{
          this.checkOneClick = 1
        })
      },
      closePopup() {
        this.popupTitle = ''
        this.popupContent = ''
        this.popupType = ''
        this.isShowDialogPopup = false
        document.body.style.overflow = 'auto';
      },
      loadUerProfile() {
        this.$store.dispatch('user/getProfileWithOutLoaded')
          .then((data) => {
            this.loadAddress()
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      }
    },
    mounted() {
      this.office = localStorage.getItem('office')
      this.privilege_detail_short = localStorage.getItem('privilege_detail_short')
      this.privilege_code = localStorage.getItem('privilege_code')
      this.loadUerProfile()
    },
  }
</script>
<style lang="scss" scoped>
  .address-page {
    .icon-check-active {
      height: 19px;
      width: 19px;
    }

    .main-box-choose {
      position: relative;
    }

    .style-button {
      height: 50px;
      background-color: #0051fe;
      font-size: 15px;
      font-weight: 400
    }

    .box-btn-choose {
      position: fixed;
      bottom: 0;
      left: 15px;
      right: 15px;
      margin-right: -15px;
      margin-left: -15px;
    }

    .text-add-address {
      margin: 0.5rem 0;
      cursor: pointer;
      color: rgba(0, 81, 255, 1);
    }

    .main-box {
      padding: 0 17px;
      /*position: fixed;*/
      /*bottom: 0;*/
      /*left: 0;*/
      /*right: 0;*/
      background-color: white;
      /*padding-bottom: 5px;*/
    }

    .box-item {
      margin: 5px;
      border-radius: 2px;
      border: 1px solid #e3e3e3;
    }

    .image-size1 {
      font-size: 16px;
      font-weight: 500;
      color: rgba(72, 72, 72, 1);
    }

    .image-size2 {
      font-size: 15px;
      font-weight: 300;
      color: rgba(130, 130, 130, 1);
    }

    .image-size3 {
      font-size: 15px;
      font-weight: 300;
      color: rgba(130, 130, 130, 1);
    }

    .icon-size {
      height: 13px;
      width: 13px;
    }
  }
</style>
