<template>
  <div class="profile-page container">
      <div class="row d-flex justify-content-center" style="background-color: #223f9a;height: 110px;">
        <div class="col-6">
          <img src="../../assets/image-main/logo.png" alt="" class="style-image mt-4">
        </div>
        <div class="col-6 d-flex justify-content-end mt-3">

        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center" style="height: 42px;">
          <div class="row style-row-bar">
            <div class="col-3 d-flex justify-content-center p-0" style="align-items: center;height: 87px;">
              <img src="../../assets/image-register/icon-image.png" alt="" class="style-image-profile">
            </div>
            <div class="col-9 p-0" style="height: 87px;">
              <p class="m-0 style-type-big" style="padding-top: 19px;">กิตติยา พฤกษารุ่งเรือง</p>
              <span class="m-0 style-type-small" style="padding-top: 14px;">โปรไฟล์ของคุณ</span>
            </div>

          </div>
        </div>
      </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import Loading from '../../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    data() {
      return {}
    },
    mounted() {

    },
    computed: {},
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,
    },
    methods: {},
  }
</script>

<style lang="scss" scoped>
  .profile-page {
    .style-image {
      width: 100px;
      height: auto;
    }

    .style-image-profile {
      border-radius: 25px;
      height: 55px;
    }

    .style-row-bar {
      margin-top: -36px;
      height: 87px;
      background-color: white;
      width: 98%;
      border-radius: 5px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
    }

    .style-color {
      font-size: 20px;
      color: rgba(255, 203, 0, 1);
      font-weight: 600;
    }
    .style-type-big {
      color: rgba(72, 72, 72, 1);
      font-size: 17px;
      font-weight: 500;
    }

    .style-type-small {
      color: rgba(130, 130, 130, 1);
      font-size: 15px;
      font-weight: 400;
    }

  }

</style>
