<template>
  <div>
    <nuxt class="main-template"/>

    <loading v-if="user.loading || point.loading || address.loading || history.loading || favorite.loading || privilege.privilegeRedeemLoading || privilege.categoryLoading || banner.loading || privilege.privilegeDetailLoading"></loading>
  </div>
</template>

<script>
    import 'bootstrap/dist/js/bootstrap.bundle';
    import * as _ from 'lodash'
    import 'jquery-confirm/dist/jquery-confirm.min.css'
    import {mapState} from 'vuex'
    import loading from '../components/Loading'

    export default {
        computed: {
            ...mapState({
                user: state => state.user,
                point: state => state.point,
                address: state => state.address,
                history: state => state.history,
                privilege: state => state.privilege,
                favorite: state => state.favorite,
                banner: state => state.banner,
            })
        },
        components: {
            loading
        },
        data() {
            return {
                location: null,
                gettingLocation: false
            }
        },
        created() {
            if (!("geolocation" in navigator)) {
                return
            }

            this.gettingLocation = true;
            // get position
            navigator.geolocation.getCurrentPosition(pos => {
                this.gettingLocation = false;
                if (pos) {
                    this.location = {
                        latitude: pos.coords.latitude,
                        longitude: pos.coords.longitude
                    }
                }else{
                    this.location = null
                }
                this.$store.dispatch('user/setLocation', this.location)
            }, err => {
                this.gettingLocation = false;
            })
        }
    }
</script>

<style>
  .main-template {
    /* max-width: 768px; */
  }

  html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  .button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
  }

  .button--green:hover {
    color: #fff;
    background-color: #3b8070;
  }

  .button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
  }

  .button--grey:hover {
    color: #fff;
    background-color: #35495e;
  }
</style>
