<template>
  <div>

  </div>
</template>

<script>
    export default {
        beforeMount() {
            let userAgent = navigator.userAgent

            if (userAgent.search('Android') >= 0 || userAgent.search('android') >= 0) {
                // this.$store.dispatch('user/getProfileWithOutLoaded')
                //     .then(()=>{
                //         window.location.href = `intent://d-double-a.feyverly-crm.com?page=get-point#Intent;scheme=http;package=com.android.chrome;end`
                //     })
                //     .catch((error) => {
                //         this.handleCatchAndRedirectToLoginLine(error)
                //     })

                window.location.href = `intent://d-double-a.feyverly-crm.com?page=get-point#Intent;scheme=http;package=com.android.chrome;end`


            } else {
                // this.$router.replace('/get-point')
                this.$store.dispatch('user/getProfileWithOutLoaded')
                    .then(()=>{
                        this.$router.replace('/get-point')
                    })
                    .catch((error) => {
                        this.handleCatchAndLoginLine(error)
                    })

            }
        }
    }
</script>
