<template>
  <div class="reward-get-point-page container">
    <div class="box-page">
      <div class="row">
        <div class="col-12 logo">
          <img src="../assets/image-register/logo.png">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12 title">
          รหัสลุ้นรางวัล
        </div>
      </div>

      <div class="row">
        <div class="col-12 sub-title">
          กรุณากรอกรหัส 8 หลักที่อยู่ด้านในห่อ
        </div>
      </div>

      <vue-perfect-scroll-bar class="body mt-4">
        <!--      <div class="body mt-4">-->
        <div class="row mx-1 my-3" v-for="(getPoint,index) in getPointList">
          <div class="col-12 get-point">
            <div class="input-get-point">
              <input type="text" class="form-control" :placeholder="'รหัสที่ '+(index+1)" maxlength="8"
                     v-model="getPoint.code">
            </div>
            <!--            <div class="capture-get-point">-->
            <!--              <a href="intent://d-double-a.feyverly-crm.com/get-point/#Intent;scheme=http;package=com.android.chrome;end">-->
            <!--                <label :for="'file-input'+index">-->
            <!--                  <img src="../assets/icon/Icon_Scan.A-3x.png" alt="">-->
            <!--                </label>-->
            <!--              </a>-->
            <!--            </div>-->
            <div class="capture-get-point">
              <label :for="'file-input'+index">
                <img src="../assets/icon/Icon_Scan.A-3x.png" alt="">
              </label>

              <input :id="'file-input'+index" type="file" @change.prevent="uploadFile(getPoint, $event)"
                     accept="image/*;capture=camera">
              <!--              capture="camera"-->
              <!--              capture="user"-->
              <!--              capture="environment"-->
            </div>

            <!--            <a href="intent://d-double-a.feyverly-crm.com/#Intent;scheme=http;package=com.android.chrome;end">-->
            <!--              link-->
            <!--            </a>-->
          </div>
        </div>
        <!--      </div>-->
      </vue-perfect-scroll-bar>

      <div class="row action">
        <div class="col-12 d-flex">
          <div class="btn-add-list">
            <button class="btn btn-outline-double-a w-100" @click.prevent="addPointList">เพิ่มสแกนรหัส</button>
          </div>
          <div class="btn-send-point">
            <button class="btn btn-double-a w-100" @click.prevent="sendPoint">ส่งรหัส</button>
          </div>
        </div>
      </div>
    </div>

    <footer-tab></footer-tab>
    <get-point-result v-if="is_show_get_point_result" :response="response"
                      v-on:close="closeGetPointResult"></get-point-result>
    <dialog-popup v-if="isShowDialogPopup" :title="popupTitle" :content="popupContent" :type="popupType"
                  v-on:ok="okPopup" v-on:close="closePopup"></dialog-popup>
  </div>
</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import FooterTab from '../components/footerTab'
  import GetPointResult from "../components/GetPointResult";
  import dialogPopup from '../components/popup'

  export default {
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      FooterTab,
      GetPointResult,
      dialogPopup
    },
    data() {
      return {
        is_android: false,
        isShowDialogPopup: false,
        popupTitle: '',
        popupContent: '',
        popupType: '',
        getPointList: [
          {
            code: '',
            file: ''
          },
          {
            code: '',
            file: ''
          },
          {
            code: '',
            file: ''
          },
          {
            code: '',
            file: ''
          },
          {
            code: '',
            file: ''
          }
        ],
        is_show_get_point_result: false,
        response: {
          total_point: 0,
          point_available: 0,
          data: []
        },
        lineProfile: null,
        testData: null
      }
    },
    methods: {
      openPopup(title = '', content = 'กรุณากรอกรหัสให้ถูกต้อง', type = 'alert') {
        this.popupTitle = title
        this.popupContent = content
        this.popupType = type
        this.isShowDialogPopup = true
        document.body.style.overflow = 'hidden';
      },
      okPopup() {
        this.popupTitle = ''
        this.popupContent = ''
        this.popupType = ''
        this.isShowDialogPopup = false
        document.body.style.overflow = 'auto';
        this.deleteAddress()
      },
      closePopup() {
        this.popupTitle = ''
        this.popupContent = ''
        this.popupType = ''
        this.isShowDialogPopup = false
        document.body.style.overflow = 'auto';
      },
      closeGetPointResult() {
        this.is_show_get_point_result = false
        this.response = {
          total_point: 0,
          point_available: 0,
          data: []
        }
      },
      sendPoint() {
        let pointList = _.filter(_.map(this.getPointList, (getPoint) => {
          if (getPoint.code) {
            getPoint.code = getPoint.code.trim()
            if (getPoint.code.length === 8) {
              return getPoint.code
            }
          }
        }), (getPoint) => {
          return getPoint
        })

        this.$store.dispatch('point/addPoint', pointList)
          .then((data) => {
            this.response = data
            this.is_show_get_point_result = true
            $('input[type="file"]').val('')
            this.getPointList = [
              {
                code: '',
                file: ''
              },
              {
                code: '',
                file: ''
              },
              {
                code: '',
                file: ''
              },
              {
                code: '',
                file: ''
              },
              {
                code: '',
                file: ''
              }
            ]
              this.$store.dispatch('user/getProfile')
            // ส่งรหัสลุ้นรางวัลสำเร็จแล้ว
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      uploadFile(getPoint, e) {
        let files = e.target.files
        let file = _.first(files)
        getPoint.file = file

        if (file) {
          let max_size = 400;
          const img = new Image();
          const fileName = file.name;
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = event => {
            img.src = event.target.result;
            img.onload = () => {
              const elem = document.createElement('canvas');

              let w = img.width;
              let h = img.height;

              if (w > h) {
                if (w > max_size) {
                  h *= max_size / w;
                  w = max_size;
                }
              } else {
                if (h > max_size) {
                  w *= max_size / h;
                  h = max_size;
                }
              }

              elem.width = w;
              elem.height = h;
              const ctx = elem.getContext('2d');
              // img.width and img.height will contain the original dimensions
              ctx.drawImage(img, 0, 0, w, h);
              ctx.canvas.toBlob((blob) => {
                let responseFile = new File([blob], fileName, {
                  type: 'image/jpeg',
                  lastModified: Date.now()
                });

                this.$store.dispatch('point/callOcr', responseFile)
                  .then((data) => {
                    try {
                      getPoint.code = data.data.text.slice(0, 8)
                    } catch (e) {
                      getPoint.code = data.data.text
                    }

                    // this.code = data.description
                  })
                  .catch((error) => {
                    this.handleCatch(error)
                  })

              }, 'image/jpeg', 1);
            }
          };
        }
      },
      addPointList() {
        // if (this.getPointList.length < 10) {
        //     this.getPointList.push({code: '', file: ''})
        // }
        if (this.getPointList.length < 10) {
          this.getPointList.push({code: '', file: ''}, {code: '', file: ''}, {code: '', file: ''}, {
            code: '',
            file: ''
          }, {code: '', file: ''})
        }
        // this.getPointList.push({code: '', file: ''}, {code: '', file: ''}, {code: '', file: ''}, {code: '', file: ''}, {code: '', file: ''})
      },
      getProfile() {
        this.$store.dispatch('user/getProfileWithOutLoaded')
          .catch((error) => {
            this.handleCatchAndLoginLine(error, this.$route.query.page)
          })
      }
    },
    mounted() {
      this.getProfile()
    }
  }
</script>

<style lang="scss" scoped>
  .reward-get-point-page {
    padding-top: 2rem;
    padding-bottom: 0.5rem;

    .box-page {
      padding-bottom: 80px;
      /*height: calc(100vh - 2rem - 76px - env(safe-area-inset-bottom));*/
      /*height: calc(100vh - 2rem - 76px - 15px);*/
      position: relative;

      .logo {
        text-align: center;

        img {
          height: 20px;
        }
      }

      .title {
        text-align: center;
        color: rgba(51, 51, 51, 1);
        font-weight: 600;
      }

      .sub-title {
        text-align: center;
        color: rgba(72, 72, 72, 1);
        font-size: 14px;
      }

      .body {
        /*height: calc(100vh - 2rem - 24px - 24px - 1.5rem - 21px - 74px - 2rem - 50px - 1rem - env(safe-area-inset-bottom));*/
        /*height: calc(100vh - 2rem - 24px - 24px);*/
        /*height: calc(100vh - 2rem - 24px - 24px - 1.5rem - 21px - 74px - 2rem - 50px - 1rem - 15px);*/

        .get-point {
          display: flex;

          .input-get-point {
            flex: 1 1;
            margin-right: 1rem;

            input {
              padding: 0.75rem 0.75rem;
              height: calc(1.5em + 1.125rem + 2px);

              &::placeholder {
                color: rgba(171, 171, 171, 1);
                font-size: 14px;
              }
            }
          }

          .capture-get-point {
            cursor: pointer;
            background-color: rgba(244, 244, 244, 1);
            border-radius: 5px;
            padding: 0.675rem;
            flex: 0 1;
            display: flex;
            justify-content: center;
            align-items: center;

            label {
              margin: 0;
            }

            input {
              display: none;
            }

            img {
              height: 23px;
            }
          }
        }
      }

      .action {
        /*position: absolute;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*right: 0;*/

        .btn-add-list {
          flex: 1 -1;
          padding-right: 1rem;
        }

        .btn-send-point {
          flex: 1 1;
        }

      }
    }
  }
</style>
