<template>
  <div class="history-page container">
    <headerTab></headerTab>
    <!-- <div class="row row d-flex justify-content-center mt-3 padding-filter-box">
      <div class="col-5 pl-1 pr-1">
        <select id="month" class="form-control style-title" v-model="month">
          <option value="">เลือกเดือน</option>
          <option :value="item.id" v-for="item in monthList">{{item.name}}</option>
        </select>
      </div>
      <div class="col-5 pl-1 pr-1">
        <select id="year" class="form-control style-title" v-model="year">
          <option value="">เลือกปี</option>
          <option :value="item.id" v-for="item in yearList">{{item.name}}</option>
        </select>
      </div>
      <div class="col-2 pl-1 pr-1">
        <button type="button" class="btn w-100 search-btn">
          <img src="../assets/Icon_Grid.png" class="icon-grid" alt="" @click.prevent="loadData">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 font-title-condition">
            <span class="font-title-active" :class="{active: pages === '1'}" @click="currentPage('1')">คะแนนที่ได้รับ</span>
          </div>
          <div class="col-6 font-title-condition2">
            <span class="font-title-active" :class="{active: pages === '2'}" @click="currentPage('2')">คะแนนที่ใช้ไป</span>
          </div>
          <div class="col-12 p-0">
            <hr style="margin-top: 16px;margin-bottom: 0">
          </div>
        </div>
      </div>
    </div>

    <div v-if="pages === '1' && histories.length > 0" class="style-margin">
      <div class="row box-container mt-3" v-for="history in histories">
        <div class="col-2 d-flex justify-content-center pl-4">
          <div class="box-image">
            <img src="../assets/image-history/item-1.PNG" alt="" class="icon-item">
          </div>
        </div>
        <div class="col-7 d-flex justify-content-start align-items-center pr-0">
          <div class="row">
            <div class="col-12" style="margin-top: -6px">
              <span class="content-title">{{ history.code }}</span>
            </div>
            <div class="col-12" style="margin-top: -6px">
              <img src="../assets/image-history/Icon_Time.png" alt="" class="icon-time">
              <span class="content-detail">{{ history.created_at | moment('DD.MM.YYYY')}} - {{ history.created_at | moment('HH:mm')}}</span>
            </div>
          </div>
        </div>
        <div class="col-3 d-flex justify-content-center" style="margin-top: 8px">
          <span class="content-sub-detail">+{{ history.amount | formatPrice }}</span>
          <span class="content-sub-detail-text"> คะแนน</span>
        </div>
      </div>
    </div>
    <div v-if="pages === '2' && histories.length > 0" class="style-margin">
      <div class="row box-container mt-3 cursor-pointer" v-for="history in histories"
           @click.prevent="showHistoryRedeem(history)">
        <div class="col-2 d-flex justify-content-center pl-4">
          <div class="box-image">
            <img :src="history.privilege_url" alt="" class="icon-item">
          </div>
        </div>
        <div class="col-7 d-flex justify-content-start align-items-center pr-0">
          <div class="row">
            <div class="col-12" style="margin-top: -6px">
              <span class="content-title">{{ history.privilege_name }}</span>
            </div>
            <div class="col-12" style="margin-top: -6px">
              <img src="../assets/image-history/Icon_Time.png" alt="" class="icon-time">
              <span class="content-detail">{{ history.created_at | moment('DD.MM.YYYY')}} - {{ history.created_at | moment('HH:mm')}}</span>
            </div>
          </div>
        </div>
        <div class="col-3 d-flex justify-content-center" style="margin-top: 8px">
          <span class="content-sub-detail-red">{{ history.redeem_amount | formatPrice }}</span>
          <span class="content-sub-detail-text"> คะแนน</span>
        </div>
      </div>
    </div>
    <div class="row" v-if="histories.length === 0">
      <div class="col-12 box-item d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <img src="../assets/image-favorite/image_dont_have.png" alt="" class="image-size"> <br>
          </div>
          <div class="col-12 mt-3 d-flex justify-content-center align-items-center">
            <span class="title-blank">ไม่พบข้อมูล</span>
          </div>
          <div class="col-12 d-flex justify-content-center align-items-center">
            <span class="detail-blank">คุณยังไม่มีประวัติการใช้งาน</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="history-page-box" v-for="item in items" :key="item.image">
      <div class="row history-page-box-row">
        <div class="col-2 history-page-box-img">
          <img width="37" height="37" :src="item.image" />
        </div>
        <div class="col-10 history-page-box-txt">
          <div class="history-page-box-txt-top">
            {{ item.title }}
          </div>
          <div class="history-page-box-txt-center">{{ item.time }}</div>
          <div>
            <div v-if="item.check === 1" class="history-page-box-txt-bottom">
              <div class="history-page-box-btn"><span>สามารถใช้ได้</span></div>
            </div>
            <div v-if="item.day === null" class="history-page-box-txt-day">
              หมดอายุแล้ว
            </div>
              <div v-if="item.day !== null" class="history-page-box-txt-day">
              หมดอายุแล้ว:{{ item.day }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-tab></footer-tab>

    <modal-history-code
      :redeemDetail="redeemDetail"
      v-if="showHistoryCode"
      v-on:close="closeHistoryRedeem"
    ></modal-history-code>
    <dialog-popup
      v-if="isShowDialogPopup"
      :title="popupTitle"
      :content="popupContent"
      :type="popupType"
      v-on:ok="okPopup"
      v-on:close="closePopup"
    ></dialog-popup>
  </div>
</template>
<script>
const moment = require("moment");
import Loading from "../components/Loading";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import headerTab from "../components/headerTab";
import footerTab from "../components/footerTab";
import { mapState } from "vuex";
import ModalHistoryCode from "../components/ModalHistoryCode";
import DialogPopup from "../components/popup";

export default {
  computed: {
    ...mapState({
      history: (state) => state.history,
    }),
  },
  components: {
    "vue-perfect-scroll-bar": VuePerfectScrollbar,
    Loading,
    headerTab,
    footerTab,
    ModalHistoryCode,
    DialogPopup,
  },
  data() {
    return {
      // check: 1,
      pages: "1",
      histories: [],
      next_page: null,
      month: "",
      monthList: [
        { name: "มกราคม", id: 1 },
        { name: "กุมภาพันธ์", id: 2 },
        { name: "มีนาคม", id: 3 },
        { name: "เมษายน", id: 4 },
        { name: "พฤษภาคม", id: 5 },
        { name: "มิถุนายน", id: 6 },
        { name: "กรกฎาคม", id: 7 },
        { name: "สิงหาคม", id: 8 },
        { name: "กันยายน", id: 9 },
        { name: "ตุลาคม", id: 10 },
        { name: "พฤศจิกายน", id: 11 },
        { name: "ธันวาคม", id: 12 },
      ],
      year: "",
      yearList: [
        { name: "2019", id: 2019 },
        { name: "2020", id: 2020 },
        { name: "2021", id: 2021 },
        { name: "2022", id: 2022 },
        { name: "2023", id: 2023 },
        { name: "2024", id: 2024 },
        { name: "2025", id: 2025 },
        { name: "2026", id: 2026 },
        { name: "2027", id: 2027 },
        { name: "2028", id: 2028 },
        { name: "2029", id: 2029 },
      ],
      redeemDetail: null,
      showHistoryCode: false,
      isShowDialogPopup: false,
      popupTitle: "",
      popupContent: "",
      popupType: "",
      items: [
        {
          image: require("~/assets/image-cimb-history/Rectangle_1.png"),
          title:
            "รับสิทธิ์ซื้อ 1 แถม 1 เมื่อซื้อโดนัทรสชาติใดก็ ได้ มูลค่า 29 บาท",
          time: "20:45",
          check: 1,
          day: null,
        },
        {
          image: require("~/assets/image-cimb-history/Rectangle_2.png"),
          title: "รับส่วนลด 20 บาท เมื่อซื้อเครื่องดื่มทุกเมนูที่ Cafe’ Amezon",
          time: "15:10",
          check: null,
          day: null,
        },
        {
          image: require("~/assets/image-cimb-history/Rectangle_3.png"),
          title:
            "รับฟรี คอร์นดอก 1 ชิ้น มูลค่า 20 บาท ที่ Jiffy และ Pearly Tea",
          time: "20:45",
          check: null,
          day: "31 พ.ค. 64",
        },
      ],
    };
  },
  watch: {
    pages(data) {
      this.histories = [];
      if (data === "1") {
        this.loadHistoryIncrement();
      } else {
        this.loadHistoryDecrement();
      }
    },
  },
  methods: {
    openPopup(title = "", content = "", type = "alert") {
      this.popupTitle = title;
      this.popupContent = content;
      this.popupType = type;
      this.isShowDialogPopup = true;
      document.body.style.overflow = "hidden";
    },
    okPopup() {
      this.popupTitle = "";
      this.popupContent = "";
      this.popupType = "";
      this.isShowDialogPopup = false;
      document.body.style.overflow = "auto";
    },
    closePopup() {
      this.popupTitle = "";
      this.popupContent = "";
      this.popupType = "";
      this.isShowDialogPopup = false;
      document.body.style.overflow = "auto";
    },
    closeHistoryRedeem() {
      this.redeemDetail = null;
      this.showHistoryCode = false;
    },
    showHistoryRedeem(history) {
      if (history.delivery_status === 5) {
        if (!history.allow_once) {
          this.$store
            .dispatch("history/loadHistoryDetail", history.id)
            .then((data) => {
              if (data.redeemed_detail) {
                if (moment().diff(moment(data.created_at), "day") <= 30) {
                  this.redeemDetail = data.redeemed_detail;
                  this.showHistoryCode = true;
                } else {
                  this.openPopup("แจ้งเตือน", "สิทธิ์ของคุณหมดอายุแล้ว");
                }
                // if (!data.redeemed_detail.is_delivery) {
                // }
              }
            })
            .catch((error) => {
              this.handleCatch(error);
            });
        }
      } else if (history.delivery_status) {
        this.openPopup(
          "สถานะการจัดส่ง",
          `หมายเลขติดตามพัสดุ: ${history.redemption.tracking_number}<br>สถานะปัจจุบัน: ${history.delivery_status_text}`
        );
        // history ของจัดส่ง
        // $.alert({
        //     title: 'สถานะการจัดส่ง',
        //     content: `หมายเลขติดตามพัสดุ: ${history.redemption.tracking_number}<br>สถานะปัจจุบัน: ${history.delivery_status_text}`
        // })
      }
    },
    currentPage(data) {
      this.pages = data;
    },
    loadHistoryIncrement() {
      this.$store
        .dispatch("history/loadHistoryIncrement", {
          month: this.month,
          year: this.year,
        })
        .then((data) => {
          this.histories = data.data;
          this.next_page = data.links.next;
        })
        .catch((error) => {
          this.handleCatch(error);
        });
    },
    loadHistoryDecrement() {
      this.$store
        .dispatch("history/loadHistoryDecrement", {
          month: this.month,
          year: this.year,
        })
        .then((data) => {
          this.histories = data.data;
          this.next_page = data.links.next;
        })
        .catch((error) => {
          this.handleCatch(error);
        });
    },
    onWindowScroll(e) {
      if (
        window.innerHeight + window.scrollY + 20 >=
        document.body.scrollHeight
      ) {
        this.loadMore();
      }
    },
    loadMore() {
      if (!this.history.loading && this.next_page) {
        this.$store
          .dispatch("history/loadMore", this.next_page)
          .then((data) => {
            this.histories = this.histories.concat(data.data);
            this.next_page = data.links.next;
          })
          .catch((error) => {
            this.handleCatch(error);
          });
      }
    },
    loadData() {
      if (this.pages === "1") {
        this.loadHistoryIncrement();
      } else {
        this.loadHistoryDecrement();
      }
    },
  },
  mounted() {
    window.addEventListener("scroll", this.onWindowScroll);
    this.loadData();
  },
  destroyed() {
    window.removeEventListener("scroll", this.onWindowScroll);
  },
};
</script>
<style lang="scss" scoped>
.history-page {
  .history-page-box {
    // box-shadow: 1px 1px 1px 1px #000000;
    margin-top: 10px;

    border-bottom: 1px solid #ebebeb;
    .history-page-box-row {
      .history-page-box-img {
        border-radius: 5px;
      }
      .history-page-box-txt {
        .history-page-box-txt-top {
          font-family: "DB Heavent";
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #000000;
        }
        .history-page-box-txt-center {
          font-family: "DB Heavent";
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: #989898;
        }
        .history-page-box-txt-bottom {
          margin-bottom: 10px;

          .history-page-box-btn {
            width: 80px;
            height: 26px;
            background: #16c0b7;
            border-radius: 3px;
            align-items: center;
            display: flex;
            justify-content: center;
            span {
              font-family: "DB Heavent";
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 22px;
              color: #ffffff;
            }
          }
         
        }
         .history-page-box-txt-day {
              font-family: "DB Heavent";
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 22px;
              color: #a7a7a7;
          }
      }
    }
  }
  //
  .padding-filter-box {
    padding: 0 15px;
  }

  .icon-grid {
    width: 20px;
  }

  .search-btn {
    height: 35px;
    padding-top: 4px;
    border: 1px solid #d0d0d0 !important;
  }

  label,
  input,
  select,
  textarea {
    color: #858585;
    font-size: 14px;

    &::placeholder {
      color: #858585;
    }
  }

  .style-margin {
    margin-bottom: 100px;
  }

  .title-blank {
    font-size: 15px;
    font-weight: 500;
  }

  .detail-blank {
    font-size: 15px;
    font-weight: 300;
    color: rgba(138, 138, 142, 1);
  }

  .box-item {
    height: calc(100vh - 152px - 35px - 1rem - 56px - 76px - 0.5rem);
  }

  .image-size {
    height: 102px;
    width: 100px;
  }

  .box-image {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 1.5px;
    height: 42px;
  }

  .content-sub-detail-red {
    font-size: 17px;
    font-weight: 600;
    color: rgba(255, 39, 39, 1);
  }

  .content-sub-detail {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 81, 255, 1);
  }

  .content-sub-detail-text {
    margin-left: 5px;
    margin-top: 7px;
    font-size: 10px;
    font-weight: 300;
    color: rgb(174, 174, 179);
  }

  .content-detail {
    font-size: 10px;
    font-weight: 300;
    color: rgba(138, 138, 142, 1);
  }

  .content-title-header {
    font-size: 10px;
    font-weight: 400;
    color: rgba(0, 81, 255, 1);
  }

  .content-title {
    font-size: 15px;
    font-weight: 500;
    color: #141414;
  }

  .icon-time {
    width: 9px;
  }

  .icon-item {
    width: 35px;
    height: 35px;
  }

  .box-container {
    /*height: 68px;*/
    padding: 14px 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #e8e8e8;
    margin: 0 2px;

    &.cursor-pointer {
      cursor: pointer;
    }
  }

  .box-detail {
  }

  .font-title-condition {
    padding-right: 20px;
    text-align: right;
    background-color: white;
    padding-top: 5px;
    margin-top: 10px;
  }

  .font-title-condition2 {
    padding-left: 20px;
    text-align: left;
    background-color: white;
    padding-top: 5px;
    margin-top: 10px;
  }

  .font-title-active {
    font-size: 15px;
    font-weight: 300;
    color: #b4b4b4;
    height: 54px;
    padding-bottom: 15px;

    &.active {
      color: black;
      font-weight: 500;
      border-bottom: 2px solid black;
    }
  }

  .nav-condtion-title {
    font-weight: 400;
    font-size: 26px;
    color: #0036a6;
  }

  .box-condition-title {
    height: 30px;
    width: 70px;
    background-color: #eaeaea;
    border-radius: 15px;
  }

  .condition-title {
    font-size: 15px;
    color: #747474;
  }

  .condition-sub-title {
    font-size: 14px;
    color: #a7a7a7;
    font-weight: 500;
    letter-spacing: 0;
  }

  .condition-detail {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
  }
}
</style>
