<template>
  <div class="main-page">
    <div>{{ content }}</div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                lineProfile: null,
                content: null,
                redirect: false
            }
        },
        methods: {
            getAccessToken() {
                let redirect_uri = 'https://d-double-a.feyverly-crm.com';
                let body = new URLSearchParams;
                body.append('grant_type', 'authorization_code')
                body.append('code', this.$route.query.code)
                body.append('redirect_uri', redirect_uri)
                body.append('client_id', '1653758497')
                body.append('client_secret', '486e37f3d7a5e8513ef2482c3e7dfb18')
                this.$axios.post('https://api.line.me/oauth2/v2.1/token', body, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then((data) => {
                    let userAgent = navigator.userAgent

                    if (userAgent.search('Android') >= 0 || userAgent.search('android') >= 0) {
                        window.location.href = `intent://d-double-a.feyverly-crm.com?type=android&token=${data.data.access_token}#Intent;scheme=http;package=com.android.chrome;end`
                        // window.location.href = `https://d-double-a.feyverly-crm.com?type=android&token=${data.data.access_token}`
                    } else {
                        this.getLineProfile(data.data.access_token)
                    }
                })
            },
            getLineProfile(token, page = null) {
                this.$store.dispatch('user/setLineToken', token)

                this.$store.dispatch('user/checkLineId', token)
                    .then((data) => {
                        if (data.data) {
                            // is member
                            this.$store.dispatch('user/setToken', data.token)
                            if(page){
                                this.$router.replace(`/${page}`)
                            }else{
                                this.$router.replace('/privilege')
                            }

                        } else {
                            // go register
                            this.$router.replace('/register')
                        }

                    })
                    .catch((error) => {
                        this.handleCatch(error)
                    })

                // this.$axios.get('https://api.line.me/v2/profile', {
                //     headers: {
                //         'Authorization': `Bearer ${token}`
                //     }
                // }).then((lineProfile) => {
                //     this.$store.dispatch('user/checkLineId', lineProfile.data.userId)
                //         .then((data) => {
                //             if (data.data) {
                //                 // is member
                //                 this.$store.dispatch('user/setToken', data.token)
                //
                //                 this.$router.replace('/privilege')
                //             } else {
                //                 // go register
                //                 this.$router.replace('/register')
                //             }
                //
                //         })
                //         .catch((error) => {
                //             this.handleCatch(error)
                //         })
                // })
            }
        },
        beforeMount() {
            if (this.$route.query.page) {
                if (this.$route.query.page === 'get-point') {
                    this.$store.dispatch('user/getProfile')
                        .then(() => {
                            this.$router.replace('/get-point')
                        })
                        .catch(() => {
                            let client_id = '1653758497';
                            let redirect_uri = 'https://d-double-a.feyverly-crm.com?page=get-point-code';
                            let state = 'login';
                            let response_type = 'code';
                            let scope = 'openid%20profile';

                            window.location.href = `https://access.line.me/oauth2/v2.1/authorize?response_type=${response_type}&client_id=${client_id}&redirect_uri=${redirect_uri}&state=${state}&scope=${scope}`
                        })
                } else if (this.$route.query.page === 'get-point-code') {
                    let redirect_uri = 'https://d-double-a.feyverly-crm.com?page=get-point-code';
                    let body = new URLSearchParams;
                    body.append('grant_type', 'authorization_code')
                    body.append('code', this.$route.query.code)
                    body.append('redirect_uri', redirect_uri)
                    body.append('client_id', '1653758497')
                    body.append('client_secret', '486e37f3d7a5e8513ef2482c3e7dfb18')
                    this.$axios.post('https://api.line.me/oauth2/v2.1/token', body, {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then((data) => {
                        this.getLineProfile(data.data.access_token, 'get-point')
                    })
                } else {
                    this.$router.replace('/privilege')
                }
            } else {
                this.$store.dispatch('user/getProfile')
                    .then(() => {
                        this.$router.replace('/privilege')
                    })
                    .catch(() => {
                        let client_id = '1653758497';
                        let redirect_uri = 'https://d-double-a.feyverly-crm.com';
                        let state = 'login';
                        let response_type = 'code';
                        let scope = 'openid%20profile';

                        if (this.$route.query.token) {
                            if (this.$route.query.type === 'android') {
                                this.getLineProfile(this.$route.query.token)
                            } else {
                                if (this.$route.query.code) {
                                    this.getAccessToken()
                                } else {
                                    window.location.href = `https://access.line.me/oauth2/v2.1/authorize?response_type=${response_type}&client_id=${client_id}&redirect_uri=${redirect_uri}&state=${state}&scope=${scope}`
                                }
                            }
                        } else {
                            if (this.$route.query.code) {
                                this.getAccessToken()
                            } else {
                                window.location.href = `https://access.line.me/oauth2/v2.1/authorize?response_type=${response_type}&client_id=${client_id}&redirect_uri=${redirect_uri}&state=${state}&scope=${scope}`
                            }
                        }
                    })
            }
        }
    }
</script>
