<template>
  <div class="profile-page container">
    <div class="row d-flex justify-content-center box-header">
      <div class="col-12" style="text-align: center">
        <img src="../assets/image-main/logo.png" alt="" class="style-image mt-4">
      </div>
      <div class="col-12" @click="direction('privilege')">
        <img src="../assets/image-profile/Icon_X.png" class="image-x">
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center box-sub-box">
        <div class="row style-row-bar" @click="direction('profile')">
          <div class="col-3 d-flex justify-content-center p-0 box-sub-image">
            <img :src="userImage" alt="" class="style-image-profile">
          </div>
          <div class="col-8 p-0 box-first-name">
            <p class="m-0 style-type-big padding-first_name">{{ userFirstName }} {{ userLastName }}</p>
            <span class="m-0 style-type-small text-profile">โปรไฟล์ของคุณ</span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center icon-arrow-box"
               @click="direction('profile')">
            <img src="../assets/image-profile/Icon_Arrow.png" alt="" class="icon-arrow">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="row box-detail">
          <!--           -->
          <div class="col-2 box-icon d-flex justify-content-center align-items-center padding-image-arrow"
               @click="direction('favorite')">
            <img src="../assets/image-profile/Icon_Star.png" alt="" class="icon-detail">
          </div>
          <div class="col-9 box-title d-flex justify-content-start align-items-center" @click="direction('favorite')">
            <span class="text-title">รายการโปรด</span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center icon-arrow-box"
               @click="direction('favorite')">
            <img src="../assets/image-profile/Icon_Arrow.png" alt="" class="icon-arrow">
          </div>
          <!--           -->
          <div class="col-12 p-0">
            <hr class="m-0">
          </div>
          <div class="col-2 box-icon d-flex justify-content-center align-items-center padding-image-arrow"
               @click="direction('address')">
            <img src="../assets/image-profile/Icon_Address.png" alt="" class="icon-detail">
          </div>
          <div class="col-9 box-title d-flex justify-content-start align-items-center" @click="direction('address')">
            <span class="text-title">ที่อยู่จัดส่ง</span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center icon-arrow-box"
               @click="direction('address')">
            <img src="../assets/image-profile/Icon_Arrow.png" alt="" class="icon-arrow">
          </div>
          <!--           -->
          <div class="col-12 p-0">
            <hr class="m-0">
          </div>
          <div class="col-2 box-icon d-flex justify-content-center align-items-center padding-image-arrow"
               @click="direction('history')">
            <img src="../assets/image-profile/Icon_History.png" alt="" class="icon-detail">
          </div>
          <div class="col-9 box-title d-flex justify-content-start align-items-center" @click="direction('history')">
            <span class="text-title">ประวัติการรับของรางวัล</span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center icon-arrow-box"
               @click="direction('history')">
            <img src="../assets/image-profile/Icon_Arrow.png" alt="" class="icon-arrow">
          </div>
          <!--           -->
          <div class="col-12 p-0">
            <hr class="m-0">
          </div>
          <div class="col-2 box-icon d-flex justify-content-center align-items-center padding-image-arrow"
               @click="direction('condition')">
            <img src="../assets/image-profile/Icon_Condition.png" alt="" class="icon-detail">
          </div>
          <div class="col-9 box-title d-flex justify-content-start align-items-center"
               @click="conditionOpen">
            <span class="text-title">กติกาและเงื่อนไข</span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center icon-arrow-box"
               @click="direction('condition')">
            <img src="../assets/image-profile/Icon_Arrow.png" alt="" class="icon-arrow">
          </div>
          <!--           -->
          <div class="col-12 p-0">
            <hr class="m-0">
          </div>
          <div class="col-2 box-icon d-flex justify-content-center align-items-center padding-image-arrow">
            <img src="../assets/image-profile/Icon_Help.png" alt="" class="icon-detail">
          </div>
          <div class="col-9 box-title d-flex justify-content-start align-items-center" @click="questionOpen">
            <span class="text-title">คำถามที่พบบ่อย</span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center icon-arrow-box">
            <img src="../assets/image-profile/Icon_Arrow.png" alt="" class="icon-arrow">
          </div>

        </div>
      </div>
    </div>
    <footer-tab></footer-tab>

    <modal-condition1 v-if="modalConditionOpen" v-on:close="conditionClose" v-on:save="conditionSave"></modal-condition1>
    <modal-questions v-if="modalQuestionOpen" v-on:close="questionClose" v-on:save="questionSave"></modal-questions>
  </div>
</template>

<script>
  const moment = require('moment')
  import Loading from '../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import footerTab from '../components/footerTab'
  import {mapState} from 'vuex'
  import ModalCondition1 from '../components/ModalCondition1'
  import ModalQuestions from '../components/ModalQuestions'

  export default {
    computed: {
      ...mapState({
        userProfile: state => state.user.userProfile
      }),
      userImage() {
        if (this.userProfile) {
          if (this.userProfile.line_picture) {
            return this.userProfile.line_picture
          }
          return require('../assets/image-register/icon-image.png')
        }
        return require('../assets/image-register/icon-image.png')
      },
      userFirstName() {
        if (this.userProfile) {
          if (this.userProfile.first_name) {
            return this.userProfile.first_name
          }
          return ''
        }
        return ''
      },
      userLastName() {
        if (this.userProfile) {
          if (this.userProfile.last_name) {
            return this.userProfile.last_name
          }
          return ''
        }
        return ''
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,
      ModalCondition1,
      ModalQuestions,
      footerTab,
    },
    data() {
      return {
        modalConditionOpen: false,
        modalQuestionOpen: false,
      }
    },
    methods: {
      questionOpen() {
        document.body.style.overflow = 'hidden';
        this.modalQuestionOpen = true
      },
      questionSave(){
        document.body.style.overflow = 'hidden';
        this.modalQuestionOpen = false
      },
      questionClose(){
        document.body.style.overflow = 'auto';
        this.modalQuestionOpen = false
      },
      conditionOpen() {
        document.body.style.overflow = 'hidden';
        this.modalConditionOpen = true
      },
      conditionClose() {
        document.body.style.overflow = 'auto';
        this.modalConditionOpen = false
      },
      conditionSave(data) {
        document.body.style.overflow = 'auto';
        this.modalConditionOpen = false
      },
      direction(path) {
        this.$router.push('/' + path)
      },
      getProfile() {
        this.$store.dispatch('user/getProfileWithOutLoaded')
          .catch((error) => {
            this.handleCatch(error)
          })
      }
    },
    mounted() {
      localStorage.removeItem('office')
      this.getProfile()
    }
  }
</script>

<style lang="scss" scoped>
  .profile-page {
    background-color: #eeedf2;
    height: 100vh;

    .padding-image-arrow {
      padding-left: 32px;
    }

    .icon-arrow-box {
      padding: 0 !important;
      position: relative;
      right: 16px
    }

    .text-profile {
      padding-top: 14px;
    }

    .padding-first_name {
      padding-top: 19px;
    }

    .box-first-name {
      height: 87px
    }

    .box-sub-image {
      align-items: center;
      height: 87px;
    }

    .box-sub-box {
      height: 42px;
    }

    .image-x {
      height: 24px;
      position: relative;
      top: -42px;
      left: 0;
    }

    .box-header {
      background-color: #223f9a;
      height: 110px;
    }

    .text-title-detail {
      font-weight: 300;
      font-size: 14px;
      color: rgba(130, 130, 130, 1);
    }

    .icon-arrow {
      height: 25px;
    }

    .text-title {
      font-weight: 500;
      font-size: 15px;
      color: rgba(72, 72, 72, 1);
    }

    .box-icon {
      height: 75px;
    }

    .box-title {
      height: 75px;
    }

    .box-detail {
      border-radius: 2px;
      background-color: white;
      margin: 3px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
    }

    .icon-detail {
      height: 29px
    }

    .style-image {
      width: 100px;
      height: auto;
    }

    .style-image-profile {
      border-radius: 35px;
      height: 47px;
    }

    .style-row-bar {
      margin-top: -36px;
      height: 87px;
      background-color: white;
      width: 98%;
      border-radius: 2px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
    }

    .style-color {
      font-size: 20px;
      color: rgba(255, 203, 0, 1);
      font-weight: 600;
    }

    .style-type-big {
      color: rgba(72, 72, 72, 1);
      font-size: 17px;
      font-weight: 500;
    }

    .style-type-small {
      color: rgba(130, 130, 130, 1);
      font-size: 15px;
      font-weight: 400;
    }

  }

</style>
