<template>
  <div class="vue-modal-filter-history">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header d-flex justify-content-end"
               style="padding-right: 0;padding-top: 8px;padding-bottom: 0;">
            <img src="../assets/close_black.png" alt="" class="icon" @click="close">
          </div>
          <div class="modal-header d-flex justify-content-center pb-0 pt-2">
            <span class="title-main">{{ redeemDetail.privilege_name }}</span>
          </div>
          <div class="modal-header d-flex justify-content-center"
               style="padding-top: 5px;text-align: center;padding-bottom:2px;">
            <span
              class="title-main-detail" v-html="redeemDetail.reply_message"></span>
          </div>
          <div class="modal-header d-flex justify-content-center" style="padding-top: 0;text-align: center;">
            <span class="detail-sub-detail">{{ redeemDetail.redeem_expire | moment('YYYY-MM-DD, HH:mm')}}</span>
          </div>
          <hr style="margin: 5px">
          <div class="row nav-box  d-flex justify-content-center align-items-center mt-4">
            <div class="col-12">
              <div class="row">
                <div class="col-4 d-flex justify-content-center align-items-center nav-title"
                     :class="{active: pages === '1'}"
                     @click="currentPage('1')">
                  <span>รหัส</span>
                  <!--                  <span v-if="pages === '3'" style="position: relative;right: -43px;">|</span>-->
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center nav-title"
                     :class="{active: pages === '2'}"
                     @click="currentPage('2')">
                  <span>บาร์โค้ด</span>
                  <!--                  <span v-if="pages === '1'" style="position: relative;right: -31px;">|</span>-->
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center nav-title"
                     :class="{active: pages === '3'}"
                     @click="currentPage('3')">
                  <span>คิวอาร์โค้ด</span>
                </div>
              </div>
            </div>
          </div>
          <vue-perfect-scroll-bar class="modal-body">
            <div v-if="pages === '1'">
              <div class="d-flex justify-content-center code-style">
                <span class="text-code">{{ redeemDetail.discount_code }}</span>
              </div>
              <div class="d-flex justify-content-center">
                <span class="text-code-detail">แสดงรหัสที่ร้านค้าเพื่อรับรางวัล</span>
              </div>
            </div>
            <div v-if="pages === '2'">
              <div class="d-flex justify-content-center barcode-style">
                <img :src="imageBarCode" alt="" class="image-barcode">
              </div>
              <div class="d-flex justify-content-center barcode-title-style">
                <span class="text-code">{{ redeemDetail.discount_code }}</span>
              </div>
              <div class="d-flex justify-content-center">
                <span class="text-code-detail">แสดงรหัสที่ร้านค้าเพื่อรับรางวัล</span>
              </div>
            </div>
            <div v-if="pages === '3'">
              <div class="d-flex justify-content-center qrcode-style">
                <img :src="imageQRCode" alt="" class="image-qrcode">
              </div>
              <div class="d-flex justify-content-center qrcode-title-style">
                <span class="text-code">{{ redeemDetail.discount_code }}</span>
              </div>
              <div class="d-flex justify-content-center">
                <span class="text-code-detail">แสดงรหัสที่ร้านค้าเพื่อรับรางวัล</span>
              </div>
            </div>
          </vue-perfect-scroll-bar>
          <div v-if="false">
            <div>
              <hr>
            </div>
            <div class="d-flex justify-content-center">
              <span class="text-code-detail-small">ระยะเวลาการใช้สิทธิ์:</span>
            </div>
            <div class="d-flex justify-content-center">
              <span class="text-code-time">
                {{ duration.hours() }}:{{ duration.minutes() }}:{{ duration.seconds() | set2digit }}
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const moment = require('moment')
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {

    // code_display_type: 0
    // discount_code: "73883"
    // is_manual_code: true
    // is_success: true
    // privilege_code: "001"
    // privilege_id: 4
    // privilege_name: ""
    // redeem_expire: "2019-12-13 18:15:54"
    // redeemed_id: 22
    // reply_message: "Success DAILY"
    // result: 1
    // user_id: "999"
    // user_level: "gold"

    props: {
      redeemDetail: {
        required: true,
        default: {},
      }
    },
    data() {
      return {
        pages: '1',
        duration: moment.duration(15 * 60 * 10000, 'milliseconds'),
        imageQRCode: '',
        imageBarCode: '',
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar
    },
    filters: {
      set2digit(value) {
        return value.toString().padStart(2, '0')
      }
    },
    mounted() {
      this.imageQRCode = 'https://www.feyverly-dev.com/code-scanner-generator/?type=qrcode&code=' + this.redeemDetail.discount_code
      this.imageBarCode = 'https://www.feyverly-dev.com/code-scanner-generator/?type=barcode&code=' + this.redeemDetail.discount_code
      this.setCountdownTimer()
    },
    methods: {
      setCountdownTimer() {
        let intervalTimer = 1000

        // this.duration = moment.duration(this.duration, 'milliseconds');

        let interval = setInterval(() => {
          this.duration = moment.duration(this.duration - intervalTimer, 'milliseconds');

          if (this.duration <= 0) {
            window.clearInterval(interval)
            this.$emit('close')
          }
        }, intervalTimer)
      },
      currentPage(id) {
        this.pages = id
      },
      close() {
        this.$emit('close')
      },
    }
  }
</script>

<style lang="scss">
  .vue-modal-filter-history {
    .qrcode-title-style {
      margin: 16px 0 18px;
    }

    .barcode-title-style {
      margin: 16px 0 18px;
    }

    .qrcode-style {
      margin: 35px 0 0 0;
    }

    .barcode-style {
      margin: 35px 0 0 0;
    }

    .code-style {
      margin: 100px 0 100px 0;
    }

    .image-qrcode {
      height: 135px;
      width: 135px;
    }

    .image-barcode {
      height: 130px;
      width: 250px;
    }

    .text-code-time {
      font-size: 22px;
      font-weight: 500;
      color: rgba(255, 75, 75, 1);
    }

    .text-code-detail-small {
      font-size: 14px;
      font-weight: 300;
      color: rgba(110, 110, 110, 1);
    }

    .text-code-detail {
      font-size: 15px;
      font-weight: 300;
      color: rgba(110, 110, 110, 1);
    }

    .text-code {
      font-size: 19px;
      font-weight: 500;
      color: black;
    }

    .nav-box {
      background-color: #f5f5f5;
      height: 37px;
      margin: 0 3px;
      border-radius: 7px;

      .nav-title {
        height: 32px;
        background-color: #f5f5f5;
        border-radius: 7px;
        color: rgba(110, 110, 110, 1);
        font-size: 14px;

        &.active {
          color: white;
          background-color: rgba(0, 81, 255, 1);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
        }
      }

    }

    .detail-sub-detail {
      font-size: 16px;
      color: rgba(110, 110, 110, 1);
      font-weight: 300
    }

    .title-main {
      font-size: 21px;
      font-weight: 600;
    }

    .title-main-detail {
      font-size: 18px;
      font-weight: 400;
      color: rgb(22, 22, 22);
    }

    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      display: table;
      transition: opacity .3s ease;

      .modal-wrapper {
        display: table-cell;
        vertical-align: middle;

        .modal-container {
          max-width: 360px;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
          transition: all .3s ease;

          .modal-header, .modal-body, .modal-footer {
            border: 0;
          }

          .modal-footer {
            justify-content: flex-start;
          }

          .modal-body {
            padding: 0;
            max-height: 41vh;

            .form-group {
              label, input, select, textarea {
                color: #858585;

                &::placeholder {
                  color: #858585;
                }
              }
            }
          }

          .modal-header {
            align-items: center;

            .icon {
              cursor: pointer;
              height: 25px;
              width: 25px;
            }
          }
        }
      }
    }
  }
</style>
