<template>
  <div class="popup">
    <div class="popup-box">
      <div class="title" v-if="title">{{ title }}</div>
      <div class="body" v-html="content"></div>
      <hr class="m-0">
      <div class="footer">
        <div class="action" @click.prevent="close" v-if="type === 'dialog'">
          <div class="text" style="font-weight: 400;color: rgba(110, 110, 110, 1);">ยกเลิก</div>
        </div>
        <div class="action" @click.prevent="ok">
          <div class="text">ยืนยัน</div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    props: {
      title: {
        default: 'ไม่สามารถรับสิทธิได้'
      },
      content: {
        default: 'สิทธิพิเศษรายการนี้หมดอายุแล้ว'
      },
      type: {
        default: 'alert'
      },
      router: {
        default: ''
      },
      popupCancel: {
        default: ''
      },
      emit: {
        default: false
      },
    },
    methods: {
      close() {
        this.$emit('close')
      },
      ok() {
        if(this.popupCancel === 'cancel'){
          return this.$emit('close')
        }
        if (this.router !== '') {
          this.$router.push(this.router)
        }
        if (this.emit === true) {
          this.$emit('closeEmit')
        }
        this.$emit('ok')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10006 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-box {
      background-color: white;
      width: 300px;
      max-height: 700px;
      min-height: 100px;
      border-radius: 5px;

      .title {
        text-align: center;
        margin: 2rem 1rem 0.5rem 1rem;
        font-weight: 600;
        font-size: 18px;
      }

      .body {
        text-align: center;
        margin: 0 1rem 1rem 1rem;
        // min-height: 70px;
        font-size: 18px;
        font-weight: 300;
        color: rgba(110, 110, 110, 1);
      }

      .footer {
        display: flex;

        .action {
          flex: 1 1;
          text-align: center;
          font-weight: 600;
          cursor: pointer;

          .text {
            margin: 1rem 0.5rem;
            font-size: 18px;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }

          &:active {
            background-color: rgba(0, 0, 0, 0.2);
          }

          &:nth-last-child(1) {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }


      .container-top {
        padding: 20px;

        .font-title {
          font-size: 20px;
          font-weight: bold;
        }

        .font-detail {
          font-size: 16px;
          color: #4f5157;
        }
      }

      .container-button {
        /*height: 50px;*/
        .button-style {
          padding: 0;
          height: 50px;
          align-items: center;
        }

        .button-style2 {
          height: 50px;
          padding: 0;
          align-items: center;
        }
      }

    }
  }
</style>
