<template>
  <div class="register-page container">
    <div class="row" style="margin-top: 60px;">
      <div class="col-12 d-flex justify-content-center">
        <img src="../assets/image-register/logo.png" alt="" class="style-image">
      </div>
      <div class="col-12 d-flex justify-content-center mt-3">
        <span class="style-header">กรุณากรอกรายละเอียดเพื่อลงทะเบียน</span>
      </div>
    </div>
    <div class="row mt-4 mb-4 d-flex justify-content-center">
      <img :src="userImage" alt="" class="style-photo">
    </div>

    <form @submit.prevent="save">
      <div class="row row d-flex justify-content-center">
        <div class="col-12">
          <select id="language" class="form-control style-title" v-model="title" :class="{'text-dark': title !== ''}">
            <option value="">คำนำหน้าชื่อ</option>
            <option value="นาย">นาย</option>
            <option value="นางสาว">นางสาว</option>
            <option value="นาง">นาง</option>
          </select>
          <input type="text" class="form-control style-name" placeholder="ชื่อ" v-model="first_name">
          <input type="text" class="form-control style-lastname" placeholder="นามสกุล" v-model="last_name">
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 box-input">
          <img src="../assets/image-register/icon-phone.png" alt="" class="icon">
          <input type="text" class="form-control style-input" placeholder="เบอร์โทรศัพท์มือถือ" @keypress="numOnly"
                 disabled maxlength="10" v-model="phone">
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 box-input">
          <img src="../assets/image-register/icon-email.png" alt="" class="icon" style="height: 14px;top: 20px;">
          <input type="text" class="form-control style-input" placeholder="อีเมล" v-model="email">
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 box-input">
          <img src="../assets/image-register/icon-birthday.png" alt="" class="icon" style="height: 18px;top: 16px;">
          <input type="date" class="form-control style-input d-flex align-items-center" placeholder="วันเกิด/เดือน/ปี"
                 v-model="birth_date"
                 style="color: rgba(171, 171, 171, 1);">
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3">
        <div class="col-12">
          <!--          <img src="../assets/image-register/icon-home.png" alt="" class="icon" style="height: 18px;top: 16px;">-->
          <select class="form-control color-style style-input" v-model="province"
                  :class="{'text-dark': province !== ''}" @change.prevent="provinceChange">
            <option value="" class="color-style">จังหวัดที่อยู่ปัจจุบัน</option>
            <option :value="list.code" v-for="list in provinceData">{{list.name_th}}</option>
          </select>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3">
        <div class="col-12">
          <!--          <img src="../assets/image-register/icon-home.png" alt="" class="icon" style="height: 18px;top: 16px;">-->
          <select class="form-control color-style style-input" v-model="district"
                  :class="{'text-dark': district !== ''}" @change.prevent="DistrictChange">
            <option value="" class="color-style">เขต</option>
            <option :value="list.code" v-for="list in districtData">{{list.name_th}}</option>
          </select>
        </div>
      </div>

      <!--      <div class="row row d-flex mt-3 justify-content-center">-->
      <!--        <div class="col-12">-->
      <!--          <textarea rows="5" class="form-control style-address" placeholder="รายละเอียด" v-model="address"></textarea>-->

      <!--          <select class="form-control style-center color-style style-name" v-model="province"-->
      <!--                  :class="{'text-dark': province !== ''}" @change.prevent="provinceChange">-->
      <!--            <option value="" class="color-style">จังหวัดที่อยู่ปัจจุบัน</option>-->
      <!--            <option :value="list.code" v-for="list in provinceData">{{list.name_th}}</option>-->
      <!--          </select>-->

      <!--          <select class="form-control style-center color-style style-name" v-model="district"-->
      <!--                  :class="{'text-dark': district !== ''}" @change.prevent="DistrictChange">-->
      <!--            <option value="" class="color-style">เขต</option>-->
      <!--            <option :value="list.code" v-for="list in districtData">{{list.name_th}}</option>-->
      <!--          </select>-->

      <!--          <select class="form-control style-center color-style style-name" v-model="sub_district"-->
      <!--                  :class="{'text-dark': sub_district !== ''}" @change.prevent="SubDistrictChange">-->
      <!--            <option value="" class="color-style">แขวง</option>-->
      <!--            <option :value="list.id" v-for="list in subDistrictData">{{list.name_th}}</option>-->
      <!--          </select>-->

      <!--          <input type="text" class="form-control style-lastname" placeholder="รหัสไปรษณีย์" v-model="zip_code">-->
      <!--        </div>-->
      <!--      </div>-->

      <div class="row  d-flex justify-content-center mt-4 mb-4">
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100" style="height: 50px;background-color: #0051fe;">บันทึก
          </button>
        </div>
      </div>
    </form>
    <modal-condition v-if="modalConditionOpen" v-on:close="conditionClose" v-on:save="conditionSave"></modal-condition>
  </div>
</template>
<script>
  const moment = require('moment')
  import {mapState} from 'vuex'
  import Loading from '../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import ModalCondition from '../components/ModalCondition'
  import ModalCondition1 from '../components/ModalCondition1'

  export default {
    computed: {
      ...mapState({
        user: state => state.user
      }),
      userImage() {
        if (this.is_register) {
          if (this.lineProfile) {
            return this.lineProfile.pictureUrl
          }
        } else {
          return this.line_picture
        }

        return require('../assets/image-register/icon-image.png')
      }
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,
      ModalCondition,
      ModalCondition1
    },
    data() {
      return {
        is_register: true,
        user_id: 0,
        title: '',
        first_name: '',
        last_name: '',
        phone: '',
        email: '',
        birth_date: moment().format('YYYY-MM-DD'),
        line_picture: '',

        scrollOpen: false,
        modalConditionOpen: false,
        scrollOpen1: false,
        modalConditionOpen1: false,
        scrollOpen2: false,
        lineProfile: null,

        province: '',
        district: '',
        sub_district: '',
        provinceData: [],
        districtData: [],
        subDistrictData: [],
        selected_province: '',
        selected_distinct: '',
        selected_sub_distinct: '',
        address: '',
      }
    },
    methods: {
      SubDistrictChange() {
        _.each(this.subDistrictData, (item) => {
          if (item.id === this.sub_district) {
            this.selected_sub_distinct = item.name_th
            this.zip_code = item.zip_code
            return false
          } else {
            this.selected_sub_distinct = ''
            this.zip_code = ''
          }
        })
      },
      DistrictChange() {
        _.each(this.districtData, (item) => {
          if (item.code === this.district) {
            this.subDistrictData = item.sub_districts
            this.selected_distinct = item.name_th
            return false
          } else {
            this.selected_distinct = ''
            this.sub_district = ''
            this.selected_sub_distinct = ''
            this.subDistrictData = []
            this.zip_code = ''
          }
        })
      },
      provinceChange() {
        _.each(this.provinceData, (item) => {
          if (item.code === this.province) {
            this.districtData = item.districts
            this.selected_province = item.name_th
            return false
          } else {
            this.selected_province = ''
            this.district = ''
            this.selected_distinct = ''
            this.districtData = []
            this.sub_district = ''
            this.selected_sub_distinct = ''
            this.subDistrictData = []
            this.zip_code = ''
          }
        })
      },
      loadProvince() {
        this.$axios.$get('https://d-double-a.feyverly-crm.com/thailand-addresses.json', {
          headers: {}
        }).then(data => {
          this.provinceData = data
        }).catch((error) => {
          this.handleCatch(error)
        }).finally(() => {

        })
      },
      save() {
        if (this.is_register) {
          this.register()
        } else {
          this.updateProfile()
        }
      },
      updateProfile() {
        let userProfile = {
          line_display_name: this.lineProfile.displayName || '',
          line_picture_url: this.lineProfile.pictureUrl || '',
          line_status_message: this.lineProfile.statusMessage || '',
          user_id: this.user_id,
          title_name: this.title,
          first_name: this.first_name,
          last_name: this.last_name,
          mobile: this.phone,
          email: this.email,
          birth_date: this.birth_date,
          province: this.province,
          district: this.district,
          // sub_district: this.sub_district,
          // address: this.address,
          // zip_code: this.zip_code
        }


        this.$store.dispatch('user/updateProfile', userProfile)
          .then(() => {
            this.$router.replace('/me')
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      register() {
        let dataRegister = {
          line_id: this.lineProfile.userId,
          line_display_name: this.lineProfile.displayName,
          line_picture_url: this.lineProfile.pictureUrl,
          line_status_message: this.lineProfile.statusMessage,
          line_token: this.lineProfile.token,
          title_name: this.title,
          first_name: this.first_name,
          last_name: this.last_name,
          mobile: this.phone,
          email: this.email,
          birth_date: this.birth_date,
          province: this.province,
          district: this.district,
          sub_district: this.sub_district,
          address: this.address,
        }


        this.$store.dispatch('user/register', dataRegister)
          .then((data) => {
            if (data.data) {
              let token = data.token
              this.$store.dispatch('user/setToken', token)
              this.$router.replace('/privilege')
            }
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      numOnly(evt) {
        evt = (evt) ? evt : window.event

        let charCode = (evt.which) ? evt.which : evt.keyCode

        if (!(charCode >= 48 && charCode <= 57)) {
          evt.preventDefault()
        }
      },
      conditionOpen() {
        this.scrollOpen = false
        this.modalConditionOpen = true
      },
      conditionClose() {
        this.modalConditionOpen = false
      },
      conditionSave(data) {
        this.scrollOpen = data
        this.modalConditionOpen = false
      },
      getLineProfile() {
        let line_token = localStorage.getItem('line-token')
        this.$axios.get('https://api.line.me/v2/profile', {
          headers: {
            'Authorization': `Bearer ${line_token}`
          }
        }).then((lineProfile) => {
          this.lineProfile = lineProfile
        }).catch((error) => {
          this.handleCatch(error)
        })
      },
      // getProfileLine() {
      //   try {
      //     this.$liff.getProfile()
      //       .then((profile) => {
      //         this.lineProfile = profile
      //         this.lineProfile.token = this.$liff.getAccessToken()
      //       })
      //       .catch((error) => {
      //
      //       })
      //   } catch (e) {
      //     this.lineProfile = null
      //   }
      // },
      loadUserProfile() {
        this.is_register = false
        this.$store.dispatch('user/getProfile')
          .then((data) => {
            let profile = data.data
            this.user_id = profile.id
            this.line_picture = profile.line_picture
            this.title = profile.title_name
            this.first_name = profile.first_name
            this.last_name = profile.last_name
            this.phone = profile.mobile
            this.email = profile.email
            this.birth_date = profile.birth_date

            this.address = profile.profile_address
            this.province = profile.province
            this.provinceChange()
            this.district = profile.district
            this.DistrictChange()
            this.sub_district = profile.sub_district
            this.SubDistrictChange()
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      }
    },

    // beforeMount() {
    //   this.getProfileLine()
    // },
    // beforeCreate() {
    //   this.$liff.init({
    //     liffId: "1653630216-GRbpaDvR"
    //   }, (data) => {
    //
    //   });
    // },
    beforeMount() {
      this.getLineProfile()
    },
    mounted() {
      this.loadProvince()
      this.loadUserProfile()
    }
  }
</script>

<style lang="scss" scoped>
  .register-page {
    .style-image {
      width: 143px;
      height: 20px;
    }

    .style-address {
      height: 120px;
      border-radius: 10px 10px 0 0;
      font-size: 15px;
      font-weight: 300;
      resize: none;
    }

    .color-style {
      color: rgba(171, 171, 171, 1)
    }

    .style-photo {
      /*width: 100px;*/
      height: 100px;
      border-radius: 70px;
      /*border: 1px solid rgb(232, 232, 239);*/
      padding: 3px;
    }

    .style-header {
      color: #a3a3a3;
      font-size: 16px;
      font-weight: 300;
      color: rgba(138, 138, 142, 1);
    }

    .style-title {
      height: 55px;
      border-radius: 10px 10px 0 0;
      font-size: 15px;
      font-weight: 300;
    }

    .style-name {
      height: 55px;
      margin-top: -1px;
      border-radius: 0;
      font-size: 15px;
      font-weight: 300;
      color: black;
    }

    .style-lastname {
      height: 55px;
      margin-top: -1px;
      border-radius: 0 0 10px 10px;
      font-size: 15px;
      font-weight: 300;
      color: black;
    }

    .style-input {
      height: 55px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 300;
      color: black;
    }

    .box-input {
      position: relative;

      .icon {
        position: absolute;
        top: 19px;
        left: 35px;
        height: 15px;
      }

      .form-control {
        padding-left: 50px;
      }
    }

    .font-size {
      font-size: 16px;
    }

    ::placeholder {
      color: rgba(171, 171, 171, 1);
    }

    select {
      color: rgba(171, 171, 171, 1);
    }

    option:not(:first-of-type) {
      color: rgba(145, 145, 145, 0.79);
    }
  }
</style>
