<template>
  <div class="register-page">
    <div class="register-page-bg">
      <!-- <div class="register-page container"> -->
      <div class="row">
        <div class="col-12 d-flex justify-content-center mt-5">
          <img
            src="../assets/image-cimb-register/Logo.png"
            alt=""
            class="style-image"
          />
        </div>
        <div class="col-12 d-flex justify-content-center mt-3">
          <span class="style-header"
            >ลงทะเบียนเพื่อรับสิทธิพิเศษ มากมายกับเราได้แล้ววันนี้</span
          >
        </div>
      </div>

      <div class="register-page-bg-box mx-3 mt-4">
        <form @submit.prevent="checkVerifyMobile">
          <div class="row">
            <div class="col-12 register-page-bg-box-txt my-3">
              <div class="col-8 pr-0">
                <div class=" register-page-bg-box-txt-top">ลงทะเบียน</div>
                <div class="register-page-bg-box-txt-bottom ">
                  กรุณากรอกข้อมูลส่วนตัวของคุณ
                </div>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <img :src="userImage" alt="" class="style-photo" />
              </div>
            </div>
          </div>
          <div class=" d-flex justify-content-center">
            <div class="col-12">
              <!-- <select
                id="language"
                class="form-control style-title"
                v-model="title"
                :class="{ 'text-dark': title !== '' }"
              >
                <option value="">คำนำหน้าชื่อ</option>
                <option value="นาย">นาย</option>
                <option value="นางสาว">นางสาว</option>
                <option value="นาง">นาง</option>
              </select> -->
              <input
                type="text"
                class="form-control style-name"
                placeholder="ชื่อ-นามสกุล"
                v-model="first_name"
              />
              <!-- <input
                type="text"
                class="form-control style-lastname"
                placeholder="นามสกุล"
                v-model="last_name"
              /> -->
              <input
                type="text"
                class="form-control style-name"
                placeholder="หมายเลขบัตรประชาชน"
                v-model="card_id"
              />

              <input
                type="text"
                class="form-control style-name"
                placeholder="เบอร์โทรศัพท์มือถือ"
                @keypress="numOnly"
                maxlength="10"
                v-model="phone"
              />
              <input
                type="date"
                class="form-control style-name d-flex align-items-center"
                placeholder="วันเกิด/เดือน/ปี"
                :max="maxDate"
                v-model="birth_date"
                style="color: rgba(171, 171, 171, 1);"
              />

              <input
                type="email"
                class="form-control style-name"
                placeholder="อีเมล"
                v-model="email"
              />
            </div>
          </div>
          <!-- <div class="row d-flex justify-content-center mt-3">
            <div class="col-12 box-input">
              <img
                src="../assets/image-register/icon-phone.png"
                alt=""
                class="icon"
              />
              <input
                type="text"
                class="form-control style-input"
                placeholder="เบอร์โทรศัพท์มือถือ"
                @keypress="numOnly"
                maxlength="10"
                v-model="phone"
              />
            </div>
          </div> -->
          <!-- <div class="row d-flex justify-content-center mt-3">
            <div class="col-12 box-input">
              <img
                src="../assets/image-register/icon-email.png"
                alt=""
                class="icon"
                style="height: 14px;top: 20px;"
              />
              <input
                type="email"
                class="form-control style-input"
                placeholder="อีเมล"
                v-model="email"
              />
            </div>
          </div> -->

          <!-- <div class="row d-flex justify-content-center mt-3">
            <div class="col-12 box-input">
              <img
                src="../assets/image-register/icon-birthday.png"
                alt=""
                class="icon"
                style="height: 18px;top: 16px;"
              />
              <input
                type="date"
                class="form-control style-input d-flex align-items-center"
                placeholder="วันเกิด/เดือน/ปี"
                :max="maxDate"
                v-model="birth_date"
                style="color: rgba(171, 171, 171, 1);"
              />
            </div>
          </div> -->

          <!--      <div class="row d-flex justify-content-center mt-3">-->
          <!--        <div class="col-12 box-input">-->
          <!--          <img src="../assets/image-register/icon-home.png" alt="" class="icon" style="height: 15px;top: 19px;">-->
          <!--          <select class="form-control style-input" style="padding-left: 48px;color: rgba(171, 171, 171, 1)" v-model="province" :class="{'text-dark': province !== ''}">-->
          <!--            <option value="" style="color: rgba(171, 171, 171, 1);">จังหวัดที่อยู่ปัจจุบัน</option>-->
          <!--            <option value="1">กรุงเทพ</option>-->
          <!--          </select>-->
          <!--        </div>-->
          <!--      </div>-->

          <!-- <div class="row d-flex justify-content-center mt-3">
            <div class="col-12">
              <select
                class="form-control color-style style-input"
                v-model="province"
                :class="{ 'text-dark': province !== '' }"
                @change.prevent="provinceChange"
              >
                <option value="" class="color-style"
                  >จังหวัดที่อยู่ปัจจุบัน</option
                >
                <option :value="list.code" v-for="list in provinceData">{{
                  list.name_th
                }}</option>
              </select>
            </div>
          </div> -->

          <!-- <div class="row d-flex justify-content-center mt-3">
            <div class="col-12">
              <select
                class="form-control color-style style-input"
                v-model="district"
                :class="{ 'text-dark': district !== '' }"
                @change.prevent="DistrictChange"
              >
                <option value="" class="color-style">เขต</option>
                <option :value="list.code" v-for="list in districtData">{{
                  list.name_th
                }}</option>
              </select>
            </div>
          </div> -->

          <!--      <div class="row row d-flex mt-3 justify-content-center">-->
          <!--        <div class="col-12">-->
          <!--          <textarea rows="5" class="form-control style-address" placeholder="รายละเอียด" v-model="address"></textarea>-->

          <!--          <select class="form-control style-center color-style style-name" v-model="province" :class="{'text-dark': province !== ''}" @change.prevent="provinceChange">-->
          <!--            <option value="" class="color-style">จังหวัดที่อยู่ปัจจุบัน</option>-->
          <!--            <option :value="list.code" v-for="list in provinceData">{{list.name_th}}</option>-->
          <!--          </select>-->

          <!--          <select class="form-control style-center color-style style-name" v-model="district" :class="{'text-dark': district !== ''}" @change.prevent="DistrictChange">-->
          <!--            <option value="" class="color-style">เขต</option>-->
          <!--            <option :value="list.code" v-for="list in districtData">{{list.name_th}}</option>-->
          <!--          </select>-->

          <!--          <select class="form-control style-center color-style style-name" v-model="sub_district" :class="{'text-dark': sub_district !== ''}" @change.prevent="SubDistrictChange">-->
          <!--            <option value="" class="color-style">แขวง</option>-->
          <!--            <option :value="list.id" v-for="list in subDistrictData">{{list.name_th}}</option>-->
          <!--          </select>-->

          <!--          <input type="text" class="form-control style-lastname" placeholder="รหัสไปรษณีย์" v-model="zip_code">-->
          <!--        </div>-->
          <!--      </div>-->

          <div class=" d-flex justify-content-center mt-1">
            <div class="col-12">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck0"
                  v-model="scrollOpen"
                  @click.prevent="conditionOpen"
                />
                <label
                  class="custom-control-label font-size"
                  for="customCheck0"
                >
                  <u>ยอมรับกติกาและเงื่อนไขกิจกรรม</u>
                </label>
              </div>
            </div>
          </div>
          <div class=" d-flex justify-content-center mt-3">
            <div class="col-12">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck4"
                />
                <label
                  class="custom-control-label font-size"
                  for="customCheck4"
                >
                  <div class="custom-control-label-txt-top">
                    คอนเฟิมความถูกต้องข้อมูล
                  </div>
                  <div class="custom-control-label-txt-bottom">
                    (ไม่สามารถแก้ไขข้อมูล หลังจากกดยอมรับแล้วได้)
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <div class="col-12">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                  v-model="scrollOpen2"
                  @click.prevent="condition2Open"
                />
                <label class="custom-control-label " for="customCheck1">
                  <u>ยอมรับความเป็นส่วนตัวและข้อกำหนดการใช้</u>
                </label>
              </div>
            </div>
          </div>

          <div class="  d-flex justify-content-center mt-3 mb-4">
            <div class="col-12">
              <button
                type="submit"
                class="custom-btn btn btn-danger w-100"
                style=""
                :disabled="!scrollOpen || !scrollOpen2"
              >
                ลงทะเบียน
              </button>
            </div>
          </div>
        </form>
        <modal-condition
          v-if="modalConditionOpen"
          v-on:close="conditionClose"
          v-on:save="conditionSave"
        ></modal-condition>
        <modal-condition2
          v-if="modalCondition2Open"
          v-on:close="condition2Close"
          v-on:save="condition2Save"
        ></modal-condition2>
        <!-- check otp -->
        <dialog-verify-mobile
          v-if="is_show_dialog_verify_mobile"
          :mobile="phone"
          :reference="reference"
          v-on:close="closeVerifyMobile"
          v-on:submit="submitVerifyMobile"
        ></dialog-verify-mobile>
        <dialog-popup
          v-if="is_show_alert_message"
          :title="alert_title"
          :content="alert_content"
          :type="alert_type"
          :popupCancel="cancel"
          v-on:ok="submitAlert"
          v-on:close="closeAlert"
        ></dialog-popup>
      </div>
    </div>
  </div>
</template>
<script>
const moment = require("moment");
import { mapState } from "vuex";
import Loading from "../components/Loading";
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import ModalCondition from "../components/ModalCondition";
import ModalCondition2 from "../components/ModalCondition2";
import DialogVerifyMobile from "../components/DialogVerifyMobile";
import dialogPopup from "../components/popup";

export default {
  computed: {
    userImage() {
      if (this.lineProfile) {
        return this.lineProfile.pictureUrl;
      }
      return require("../assets/image-register/icon-image.png");
    },
    maxDate() {
      return moment().format("YYYY-MM-DD");
    },
    ...mapState({
      line_token: (state) => state.user.line_token,
    }),
  },
  components: {
    "vue-perfect-scroll-bar": VuePerfectScrollbar,
    Loading,
    ModalCondition,
    ModalCondition2,
    DialogVerifyMobile,
    dialogPopup,
  },
  data() {
    return {
      title: "นาย",
      first_name: "",
      last_name: "นามสกุล",
      card_id: "",
      phone: "",
      email: "",
      birth_date: moment().format("YYYY-MM-DD"),
      modalConditionOpen: false,
      modalCondition2Open: false,
      scrollOpen: false,
      scrollOpen2: false,
      lineProfile: null,
      is_show_dialog_verify_mobile: false,
      reference: "",
      is_verify_mobile: false,

      address: "",
      province: "กรุงเทพ",
      district: "สาทร",
      sub_district: "",
      provinceData: [],
      districtData: [],
      subDistrictData: [],
      selected_province: "",
      selected_distinct: "",
      selected_sub_distinct: "",

      is_show_alert_message: false,
      alert_title: "",
      alert_content: "",
      alert_type: "",
      cancel: "cancel",
    };
  },
  mounted() {
    this.loadProvince();
  },
  methods: {
    SubDistrictChange() {
      _.each(this.subDistrictData, (item) => {
        if (item.id === this.sub_district) {
          this.selected_sub_distinct = item.name_th;
          this.zip_code = item.zip_code;
          return false;
        } else {
          this.selected_sub_distinct = "";
          this.zip_code = "";
        }
      });
    },
    DistrictChange() {
      _.each(this.districtData, (item) => {
        if (item.code === this.district) {
          this.subDistrictData = item.sub_districts;
          this.selected_distinct = item.name_th;
          return false;
        } else {
          this.selected_distinct = "";
          this.sub_district = "";
          this.selected_sub_distinct = "";
          this.subDistrictData = [];
          this.zip_code = "";
        }
      });
    },
    provinceChange() {
      _.each(this.provinceData, (item) => {
        if (item.code === this.province) {
          this.districtData = item.districts;
          this.selected_province = item.name_th;
          return false;
        } else {
          this.selected_province = "";
          this.district = "";
          this.selected_distinct = "";
          this.districtData = [];
          this.sub_district = "";
          this.selected_sub_distinct = "";
          this.subDistrictData = [];
          this.zip_code = "";
        }
      });
    },
    loadProvince() {
      this.$axios
        .$get("https://d-double-a.feyverly-crm.com/thailand-addresses.json", {
          headers: {},
        })
        .then((data) => {
          this.provinceData = data;
        })
        .catch((error) => {
          this.handleCatch(error);
        })
        .finally(() => {});
    },
    checkVerifyMobile() {
      if (this.title === "") {
        return this.openAlert("เตือน", "กรุณาเลือกคำนำหน้าชื่อด้วย", "alert");
      }
      if (this.first_name === "") {
        return this.openAlert("เตือน", "กรุณากรอกชื่อด้วย", "alert");
      }
      if (this.last_name === "") {
        return this.openAlert("เตือน", "กรุณากรอกนามสกุลด้วย", "alert");
      }
      if (this.phone === "") {
        return this.openAlert("เตือน", "กรุณากรอกเบอร์โทรศัพท์", "alert");
      }
      // if (this.email === '') {
      //   return this.openAlert('เตือน', 'กรุณากรอกอีเมลด้วย', 'alert')
      // }
      if (this.province === "") {
        return this.openAlert("เตือน", "กรุณาเลือกจังหวัดด้วย", "alert");
      }
      if (this.district === "") {
        return this.openAlert("เตือน", "กรุณาเลือกเขตด้วย", "alert");
      }

      if (this.is_verify_mobile) {
        this.register();
      } else {
        this.openVerifyMobile();
      }
    },
    openVerifyMobile() {
      this.$store
        .dispatch("user/setOtp", this.phone)
        .then((data) => {
          this.reference = data.data.reference;
          document.body.style.overflow = "hidden";
          this.is_show_dialog_verify_mobile = true;
        })
        .catch((error) => {
          this.handleCatch(error);
        });
      // this.reference = 'ABCD'
      // document.body.style.overflow = 'hidden';
      // this.is_show_dialog_verify_mobile = true
    },
    submitVerifyMobile(data) {
      //call service check otp and register
      this.$store
        .dispatch("user/verifyMobile", {
          mobile: this.phone,
          otp: data.code,
          ref: data.reference,
        })
        .then((data) => {
          this.ref = data.data.ref;
          this.register();
          document.body.style.overflow = "auto";
          this.is_show_dialog_verify_mobile = false;
          this.is_verify_mobile = true;
        })
        .catch((error) => {
          this.handleCatch(error);
        });
    },
    closeVerifyMobile() {
      document.body.style.overflow = "auto";
      this.is_show_dialog_verify_mobile = false;
    },
    openAlert(title = "", content = "", type = "") {
      this.alert_title = title;
      this.alert_content = content;
      this.alert_type = type;
      this.is_show_alert_message = true;
      document.body.style.overflow = "hidden";
    },
    submitAlert() {
      this.alert_title = "";
      this.alert_content = "";
      this.alert_type = "";
      this.is_show_alert_message = false;
      document.body.style.overflow = "auto";
    },
    closeAlert() {
      this.alert_title = "";
      this.alert_content = "";
      this.alert_type = "";
      this.is_show_alert_message = false;
      document.body.style.overflow = "auto";
    },
    register() {
      let dataRegister = {
        line_id: this.lineProfile ? this.lineProfile.userId : null,
        line_display_name: this.lineProfile
          ? this.lineProfile.displayName
          : null,
        line_picture_url: this.lineProfile ? this.lineProfile.pictureUrl : null,
        line_status_message: this.lineProfile
          ? this.lineProfile.statusMessage
          : null,
        line_token: this.line_token ? this.line_token : null,
        title_name: this.title,
        first_name: this.first_name,
        last_name: this.last_name,
        mobile: this.phone,
        email: this.email,
        birth_date: this.birth_date,
        province: this.province,
        district: this.district,
        // sub_district: this.sub_district,
        // address: this.address,
        // zip_code: this.zip_code,
      };

      this.$store
        .dispatch("user/register", dataRegister)
        .then((data) => {
          if (data.data) {
            let token = data.token;
            this.$store.dispatch("user/setToken", token);

            // window.location.href = 'https://d-double-a.feyverly-crm.com/privilege?token='+token

            this.$router.replace("/privilege");
          }
        })
        .catch((error) => {
          this.handleCatch(error);
        });
    },
    numOnly(evt) {
      evt = evt ? evt : window.event;

      let charCode = evt.which ? evt.which : evt.keyCode;

      if (!(charCode >= 48 && charCode <= 57)) {
        evt.preventDefault();
      }
    },
    conditionOpen() {
      document.body.style.overflow = "hidden";
      this.modalConditionOpen = true;
      this.scrollOpen = false;
    },
    conditionClose() {
      document.body.style.overflow = "auto";
      this.modalConditionOpen = false;
      this.scrollOpen = false;
      $("#customCheck0").prop("checked", false);
    },
    conditionSave() {
      document.body.style.overflow = "auto";
      this.modalConditionOpen = false;
      this.scrollOpen = true;
    },
    condition2Open() {
      document.body.style.overflow = "hidden";
      this.modalCondition2Open = true;
      this.scrollOpen2 = false;
    },
    condition2Close() {
      document.body.style.overflow = "auto";
      this.modalCondition2Open = false;
      this.scrollOpen2 = false;
      $("#customCheck1").prop("checked", false);
    },
    condition2Save() {
      document.body.style.overflow = "auto";
      this.modalCondition2Open = false;
      this.scrollOpen2 = true;
    },
  },

  beforeMount() {
    this.$axios
      .get("https://api.line.me/v2/profile", {
        headers: {
          Authorization: `Bearer ${this.line_token}`,
        },
      })
      .then(({ data }) => {
        this.lineProfile = data;
        // "userId": "U6d764546857a1218195e70b0bdb7991a",
        //     "displayName": "Fieldz",
        //     "pictureUrl": "https://profile.line-scdn.net/0m05b71c277251cc77fd65d81ae368211b69b82dfc84cc",
        //     "statusMessage": "HpItd"
      });
  },
};
</script>
<style lang="scss" scoped>
.register-page {
  .register-page-bg {
    background-image: url("../assets/image-cimb-register/image-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 582px;
    .style-header {
      font-family: DB Heavent;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
    .register-page-bg-box {
      background: #ffffff;
      box-shadow: 0px 0px 1px 1px #d4d4d4;
      border: 1px solid #ffffff;
      border-radius: 10px;
      .register-page-bg-box-txt {
        display: flex;
        align-items: center;
        .register-page-bg-box-txt-top {
          font-family: DB Heavent;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 29px;
          color: #000000;
        }
        .register-page-bg-box-txt-bottom {
          font-family: DB Heavent;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 24px;
          color: #949494;
        }
      }
    }
  }

  .style-image {
    height: 37.24137496948242px;
    width: 150px;
  }

  .style-address {
    height: 120px;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    font-weight: 300;
    resize: none;
  }

  .color-style {
    color: rgba(171, 171, 171, 1);
  }

  .style-photo {
    width: 56.11px;
    height: 56.11px;
    border-radius: 50%;
    border: 1px solid rgb(232, 232, 239);
    padding: 3px;
  }

  .style-title {
    height: 55px;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    font-weight: 300;
  }

  .style-name {
    height: 55px;
    margin-bottom: 10px;
    background-color: #f6f6f9;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    color: black;
  }

  .style-lastname {
    height: 55px;
    margin-top: -1px;
    border-radius: 0 0 10px 10px;
    font-size: 15px;
    font-weight: 300;
    color: black;
  }

  .style-input {
    height: 55px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    color: black;
  }

  .box-input {
    position: relative;

    .icon {
      position: absolute;
      top: 19px;
      left: 35px;
      height: 15px;
    }

    .form-control {
      padding-left: 50px;
    }
  }

  .font-size {
    font-size: 16px;
  }

  ::placeholder {
    color: rgba(171, 171, 171, 1);
  }

  select {
    color: rgba(171, 171, 171, 1);
  }

  option:not(:first-of-type) {
    color: rgba(145, 145, 145, 0.79);
  }

  //
  .custom-control-label {
    .custom-control-label-txt-top {
      font-size: 14px;
      font-family: DB Heavent;
      font-style: normal;
      font-weight: normal;
      color: #000000;
    }
    .custom-control-label-txt-bottom {
      font-size: 14px;
      font-family: DB Heavent;
      font-style: normal;
      font-weight: normal;
      color: #949494;
    }
    u {
      font-size: 14px;
      color: rgba(0, 122, 255, 1);
    }
  }
  .custom-btn {
    height: 50px;
    background-color: #ff0000;
  }
  //custom date
  [type="date"] {
    background: #f6f6f9 url("../assets/icon/Down.png") 97% 50% no-repeat;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }


  // 
}
</style>
