<template>
  <div class="success-address-page container">
    <div class="row">
      <div class="col-12 pt-3" @click="direction('get-point')">
        <img src="../assets/image-profile/Icon_X.png" class="image-x">
      </div>
    </div>
    <div class="row">
      <div class="col-12 box-item d-flex justify-content-center align-items-center">
        <img src="../assets/icon/Icon_gift.png" alt="" class="image-size">
      </div>
      <div class="col-12 box-item-title d-flex justify-content-center align-items-center">
        <span class="title-blank">ขอแสดงความยินดี!</span>
      </div>
      <div class="col-12 mt-2 d-flex justify-content-center align-items-center">
        <span class="detail-blank">เราจะทำการจัดส่งสินค้าให้คุณในเร็วๆนี้</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center box-button">
        <button class="btn btn-light button-style" type="button" @click="direction('privilege')">
          <img src="../assets/icon/Icon_Address_Green.png" alt="" class="icon-address">
          <span class="button-text">กลับสู่หน้าหลัก</span>
        </button>
      </div>
    </div>

  </div>
</template>
<script>
  const moment = require('moment')
  import Loading from '../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    data() {
      return {}
    },
    mounted() {
      // if(this.token === ''){
      //   this.$router.push('register')
      // }
    },
    computed: {},
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,

    },
    methods: {
      direction(path) {
        this.$router.push('/' + path)
      },
    },
  }
</script>
<style lang="scss" scoped>
  .success-address-page {
    background-color: #1bc7ba;
    height: 100vh;

    .box-item {
      margin-top: 140px;
    }

    .box-item-title{
      margin-top: 55px;
    }

    .image-size {
      width: 250px;
    }

    .title-blank{
      color: white;
      font-size: 20px;
      font-weight: 600;
    }

    .detail-blank{
      color: white;
      font-size: 17px;
      font-weight: 200;
    }

    .box-button {
      margin-top: 90px;
      padding-bottom: 20px;
      .button-style {
        background-color: #f7f8f9;
        height: 48px;
        width: 184px;

        .button-text {
          color: #1bc7ba;
          font-weight: 500;
          font-size: 15px;
        }

        .icon-address {
          height: 13px;
          width: 13px;
        }
      }
    }

    .image-x {
      height: 24px;
    }

  }
</style>
