<template>
  <div class="privilege-page container">
      <headerTab></headerTab>
      <div class="row d-flex justify-content-center mt-4">
        <div class="col-12">
          <img src="../../assets/image-main/content2.png" class="main-image" alt="">
        </div>
      </div>
      <div class="row style-margin-35">
        <div class="col-8">
          <span class="title-main">KOI Thé</span>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <img src="../../assets/image-privilege/icon-star.png" alt="" class="style-icon mr-2">
          <img src="../../assets/image-privilege/icon-share.png" alt="" class="style-icon ml-2">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="title-date">ระยะเวลาใช้สิทธิ์:</span>
          <span class="title-date-detail">ตั้งแต่วันนี้ - 30 สิงหาคม 2019</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr class="hr-style">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="title-content">รายละเอียด</span>
        </div>
        <div class="col-12 mt-2">
          <span class="detail-content">สิทธิพิเศษสำหรับสมาชิกกับส่วนลด 30 บาท เมื่อแลกซื้อเครื่องดื่ม KOI The</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr class="hr-style">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="title-content">เงื่อนไขการรับสิทธิ์</span>
        </div>
        <div class="col-12 mt-2">
          <span class="detail-content">
            - ใช้ 20 Points แลกรับ ส่วนลด 30 บาท เมื่อซื้อเครื่องดื่มทุกเมนูทุกไซส์ที่ร้าน KOI Thé ทุกสาขา <br>
            - จำกัดสิทธิ์กับสินค้าบางรายการ
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr class="hr-style">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="title-content">ขั้นตอนการแลก</span>
        </div>
        <div class="col-12 mt-2">
          <span class="detail-content">
            กดแลกรางวัล กดตกลงเพื่อยืนยันการใช้สิทธิ์และแสดงรหัสบนหน้าจอมือถือพับพนักงานที่หน้าร้าน รหัสจะมีอายุเพียง 60 นาทีหลังจากการยืนยันสิทธิ์
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4 mb-4">
          <button type="button" class="btn btn-primary w-100 button-style"
                  @click="openModalAlert">แสดงรหัส
          </button>
        </div>
      </div>
    <dialog-popup v-if="isShowDialogPopup" :title="popupTitle" :content="popupContent" :type="popupType"
                  v-on:ok="okPopup" v-on:close="closePopup"></dialog-popup>
    <modal-code v-if="openCode" v-on:close="closeCode"></modal-code>
  </div>
</template>
<script>
  const moment = require('moment')
  import Loading from '../../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import banner from '../../components/banner'
  import headerTab from '../../components/headerTab'
  import dialogPopup from '../../components/popup'
  import ModalCode from '../../components/ModalCode'

  export default {
    data() {
      return {
        isShowDialogPopup: false,
        popupTitle: '',
        popupContent: '',
        popupType: '',
        openCode: false,
      }
    },
    mounted() {
      // if(this.token === ''){
      //   this.$router.push('register')
      // }
    },
    computed: {},
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,
      banner,
      headerTab,
      dialogPopup,
      ModalCode
    },
    methods: {
      closeCode() {
        this.openCode = false
      },
      openModalAlert() {
        this.openPopup()
      },
      openPopup(title = 'ยืนยันการรับสิทธิ์', content = 'แลกรับกระดาษถ่ายเอกสาร A4 80 แกรม แพ็ค5รีม Double A', type = 'dialog') {
        this.popupTitle = title
        this.popupContent = content
        this.popupType = type
        this.isShowDialogPopup = true
        document.body.style.overflow = 'hidden';
      },
      okPopup() {
        this.popupTitle = ''
        this.popupContent = ''
        this.popupType = ''
        this.isShowDialogPopup = false
        document.body.style.overflow = 'auto';
        this.openCode = true
      },
      closePopup() {
        this.popupTitle = ''
        this.popupContent = ''
        this.popupType = ''
        this.isShowDialogPopup = false
        document.body.style.overflow = 'auto';
      },
    },
  }
</script>
<style lang="scss" scoped>
  .privilege-page {
    .button-style {
      background-color: #0051ff;
      height: 55px;
    }

    .hr-style {
      margin-top: 22px;
      margin-bottom: 22px;
    }

    .style-margin-35 {
      margin-top: 35px
    }

    .style-icon {
      width: 22px;
      height: 22px;
    }

    .detail-content {
      font-size: 16px;
      font-weight: 300;
    }

    .title-content {
      font-size: 19px;
      font-weight: 500;
    }

    .title-main {
      font-size: 20px;
      font-weight: 500;
    }

    .title-date {
      font-size: 14px;
      font-weight: 200;
      color: rgba(133, 133, 133, 1);
    }

    .title-date-detail {
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 73, 73, 1);
    }

    .main-image {
      width: 100%;
      border-radius: 10px;
      min-height: 150px;
      /*height: 216px;*/
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
    }
  }
</style>
