<template>
  <div class="favorite-page container">
    <headerNameTab v-if="favoriteList.length > 0" :name="'รายการโปรด'" :path="'me'"></headerNameTab>
    <headerName v-if="favoriteList.length === 0" :name="'รายการโปรด'" :path="'me'"></headerName>

    <div class="style-margin" v-if="favoriteList.length > 0">
      <div class="mt-3" v-for="favorite in favoriteList">
        <privilege-item v-on:viewDetail="viewDetail" :privilege="favorite"></privilege-item>
      </div>
    </div>

    <div class="row" v-if="favoriteList.length === 0">
      <div class="col-12 box-item d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/image-favorite/image_dont_have.png" alt="" class="image-size"> <br>
          </div>
          <div class="col-12 mt-3 d-flex justify-content-center align-items-center">
            <span class="title-blank">ไม่พบข้อมูล</span>
          </div>
          <div class="col-12 d-flex justify-content-center align-items-center">
            <span class="detail-blank">คุณยังไม่มีรายการติดตาม</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  const moment = require('moment')
  import {mapState} from 'vuex'
  import Loading from '../../components/Loading'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  import banner from '../../components/banner'
  import headerNameTab from '../../components/headerNameTab'
  import headerName from '../../components/headerName'
  import PrivilegeItem from "../../components/PrivilegeItem";

  export default {
    computed: {
      ...mapState({
        favoriteList: state => state.favorite.favoriteList
      })
    },
    components: {
      'vue-perfect-scroll-bar': VuePerfectScrollbar,
      Loading,
      banner,
      headerNameTab,
      headerName,
      PrivilegeItem
    },
    data() {
      return {
        list: '',
        current_page: 1,
        next_page: null,
      }
    },
    methods: {
      getProfile() {
        this.$store.dispatch('user/getProfileWithOutLoaded')
          .then(() => {
            this.loadFavorite()
          })
          .catch((error) => {
            this.handleCatch(error)
          })
      },
      viewDetail(id) {
        this.$router.push('/privilege/' + id)
      },
      loadFavorite() {
        this.$store.dispatch('favorite/getFavorite', {
          // current_page: this.current_page
        }).then((data) => {
          this.next_page = data.links.next
        }).catch((error) => {
          this.handleCatch(error)
        })
      },
      // loadPrivilegeMore() {
      //   if (!this.privilege.loading && this.next_page) {
      //     this.$store.dispatch('favorite/getFavorite', {
      //       current_page: this.current_page
      //     }).then((data) => {
      //       this.next_page = data.links.next
      //     }).catch((error) => {
      //         this.handleCatch(error)
      //     })
      //   }
      // },
    },
    mounted() {
      this.getProfile()
    },
  }
</script>
<style lang="scss" scoped>
  .favorite-page {
    .bg-gradient {
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
      position: absolute;
      left: 15px;
      right: 15px;
      /*top: 150px;*/
      bottom: 0;
      height: 40%;
      border-radius: 0 0 10px 10px;
    }

    /*.box-icon-gift-text-light{*/
    /*  margin-top: 2px;*/
    /*  font-size: 14px;*/
    /*  color: #858585;*/
    /*  font-weight: 400;*/
    /*  position: relative;*/
    /*  top: 2px;*/
    /*}*/
    .box-item-list {
      position: relative;
      /*height: 220px;*/
    }

    .box-icon-gift-text {
      margin-top: 2px;
      font-size: 13px;
      color: #efefef;
      font-weight: 400;
      position: relative;
      top: 2px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 6px 0 rgba(0, 0, 0, 0.19);
    }

    .box-icon-gift {
      position: relative;
      top: -132px;
      left: 235px;
    }

    /*.icon-gift{*/
    /*  width: 11px;*/
    /*}*/
    .box-sub-title-white {
      width: 65%;
    }

    .sub-title-white {
      position: relative;
      top: -106px;
      font-size: 14px;
      left: 20px;
      color: #efefef;
      font-weight: 400;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 6px 0 rgba(0, 0, 0, 0.19);
    }

    .box-double-a-text {
      margin-left: 8px;
      font-size: 12px;
      color: #efefef;
      font-weight: 500;
    }

    .icon-double-a {
      margin-left: 5px;
      height: 17px;
      width: 17px;
      border-radius: 35px;
    }

    .box-double-a {
      position: relative;
      top: -113px;
      left: 20px;
      border-radius: 35px;
      height: 23px;
      width: 55px;
      background-color: #0051fe;
    }

    .icon-favorite {
      position: relative;
      top: -204px;
      left: 308px;
      height: 20px;
      width: 20px;
    }

    .style-margin {
      margin-bottom: 100px;
    }

    .main-image {
      width: 100%;
      border-radius: 10px;
      min-height: 150px;
      /*height: 216px;*/
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
    }

    .box-item {
      height: calc(100vh - 152px)
    }

    .image-size {
      height: 102px;
      width: 100px;
    }

    .title-blank {
      font-size: 15px;
      font-weight: 500;
    }

    .detail-blank {
      font-size: 15px;
      font-weight: 300;
      color: rgba(138, 138, 142, 1);
    }
  }
</style>
